
:root{
    /*
    You must define these variables in your theme
    if you are using this as an add-on
    
    --nitro-bg-image: url(my_link);
    --nitro-bg-pos: left/right/center;
    */

    --message-content-line-height: 1.375rem; /*line height of messages*/
}
/* Minimizes gaps between sections */
.sidebar-nqHbhN .header-2Kx1US{
    padding-top: 6px !important;
}
/* Decreases padding on each sidebar option */
.sidebar-nqHbhN .item-3XjbnG{
    padding-left: 10px !important;
}
/* Moves sidebar header and increase it font size*/
.sidebar-nqHbhN .header-2Kx1US{
    font-size: 15px;
    position: relative;
    left: -3px;

    /*removes weird text overflow*/
    display: block;
}
/* Removes lines in sidebar headers */
.sidebar-nqHbhN .header-2Kx1US:before{
    max-width: 0px;
}
.sidebar-nqHbhN .header-2Kx1US:after{
    background: transparent;
}
/* Removes separator lines between sections */
#app-mount .sidebarRegion-1VBisG .separator-2wx7h6{
    height: 0;
}
/* IMPROVED WHITESPACE USAGE */
#app-mount .standardSidebarView-E9Pc3j{
    --setting-sidebar-width: 260px;
}
#app-mount .sidebarRegion-1VBisG{
    flex-grow: 0;
    min-width: var(--setting-sidebar-width, 268px);
}
#app-mount .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh {
    max-width: 100%;
}
#app-mount .contentRegion-3HkfJJ:not(:only-child){
    max-width: calc(100% - var(--setting-sidebar-width, 268px));
}
#app-mount .contentRegion-3HkfJJ .contentTransitionWrap-1YD530,
#app-mount .contentRegion-3HkfJJ .contentTransitionWrap-1YD530 .contentRegionScroller-2_GT_N,
#app-mount .contentColumn-1C7as6{
  max-width: 100%;
}
#app-mount .contentColumn-1C7as6{
  padding: 60px 60px 80px 20px;
}
/* SIDEBAR TABS */
nav.sidebar-nqHbhN > .side-2ur1Qk > .item-3XjbnG:hover{
    background: rgb(var(--main-color-numerical),0.3) !important;
    border-radius: 6px;
}
nav.sidebar-nqHbhN > .side-2ur1Qk > .item-3XjbnG{
    border-radius: 10px; /*default: 4px*/
    /*option box corners*/
}
nav.sidebar-nqHbhN > .side-2ur1Qk > .item-3XjbnG:before{
    opacity: 0.6 !important;
    /*Icons pop out more*/
}
nav.sidebar-nqHbhN > .side-2ur1Qk > .item-3XjbnG:not(.selected-g-kMVV){
    color: var(--interactive-normal) !important;
}
/* MY ACCOUNT */
.accountProfileCard-lbN7n-{
    --avatar-change: 8.2vw;
    --avatar-size-default: min(4.17vw, 80px);
    --adaptive-height: max(0vw, calc(var(--avatar-change) - var(--avatar-size-default, min(4.17vw, 80px)) - 25px));
    --avatar-size: calc(var(--avatar-size-default, min(4.17vw, 80px)) + var(--avatar-change, 0px));
}
.accountProfileCard-lbN7n- .userInfo-regn9W .button-f2h6uQ{
    width: 9.345vw; /*default: 158px?*/
    /*width of "Edit User Profile" button*/
}
.accountProfileCard-lbN7n- .userInfo-regn9W{
    height: var(--adaptive-height);
}
#my-account-tab .avatar-3mTjvZ svg{
    height: 100%;
    width: 100%;
}
#my-account-tab .avatar-3mTjvZ svg foreignObject{
    height: 92px;
    width: 92px;
}
#app-mount #my-account-tab .wrapper-1VLyxH[style*="80px"] .avatarStack-3vfSFa{
    bottom: 0;
    right: 0;
}
#app-mount #my-account-tab .wrapper-1VLyxH[style*="80px"]{
    border-width: 0;
}
#my-account-tab .avatar-3mTjvZ{
    height: var(--avatar-size, 80px) !important; /*default: 80px*/
    width: var(--avatar-size, 80px) !important;
    top:  calc(100% - 100px - 2*var(--rs-medium-width, 0px) - 2*var(--rs-medium-spacing, 0px) - var(--avatar-change,0px)); /*default is 76px; value of x such that as --avatar-change increase, x decrease*/
}
.accountProfileCard-lbN7n- .userInfo-regn9W > button,
#my-account-tab .avatar-3mTjvZ+div{
    position: absolute;
    left: calc(var(--avatar-size, 80px) + 50px);
}
.accountProfileCard-lbN7n- .userInfo-regn9W > button{
    bottom: calc(10px + 0.5*var(--avatar-change,0px));
}
#my-account-tab .avatar-3mTjvZ+div{
    bottom: calc(45px + 0.5*var(--avatar-change,0px));
  
    width: 315px;
    max-width: 23%;
    /*width of username next to avatar*/
}
.accountProfileCard-lbN7n- .background-3d_SjE{
    width: 40%;
    margin-left: 60%;
    margin-top: 16px;
    min-height: var(--avatar-change,0px);
}
#my-account-tab [class^="fieldList-"] [class*="fieldSpacer-"] span{
    filter: blur(5px);
    transition: 300ms;
    /*extra layer of security for email and phone*/
}
#my-account-tab [class^="fieldList-"] [class*="fieldSpacer-"] span:hover{
    filter: none;
    /*removes blur on hover*/
}
#my-account-tab .userSettingsSecurityImage-1ZkUEz{
    display: none;
    /*remove image next to Two-Factor Authentication paragraph*/
}
#my-account-tab .lookOutlined-3yKVGo.colorRed-rQXKgM:hover{
    background: var(--button-danger-background-hover, rgb(161, 47, 45));
    border: none;
    color: var(--button-outline-danger-text-hover);
    /*hover on Delete Account*/
}
/* Removes eye balls if your username is too long*/
.fieldList-in8WkP .field-21XZwa .button-f2h6uQ[aria-label="Edit username"] .contents-3ca1mk{
    text-indent: -9999px;
    line-height: 0;
}
.fieldList-in8WkP .field-21XZwa .button-f2h6uQ[aria-label="Edit username"] .contents-3ca1mk:after{
    text-indent: 0px;
    line-height: 1rem;
    display: block;
    content: "Edit";
}
/* PROFILES */
/* Padding to tab bar items */
.top-K_jibn .brand-3g5E0C.item-3XjbnG{
    padding: 10px;
}
/* Removes Discord marketing crap */
#profile-customization-tab .upsellOverlay-3sCO8V > img,
#profile-customization-tab .upsellOverlay-3sCO8V > img+div,
/* Activity GIF removal*/
#profile-customization-tab .activityCharacterWumpus-31wmZ9,
#profile-customization-tab .activityCharacterPhibi-3dKc-8{
    display: none;
}
.upsellOverlayContainer-3NMgTS{
    background: linear-gradient(var(--background-primary),var(--background-primary)) padding-box,
    linear-gradient(45deg,var(--main-color), var(--main-color)) border-box;
}
/* Adjusted content positioning to improve white space usage */
.customizationSection-IGy2fS+div .baseLayoutProfileThemes-1Jj-oN{
    justify-content: space-around;
}
.customizationSection-IGy2fS+div .profileCustomizationSection-53kreU .customizationSection-IGy2fS > *{
    justify-content: center;
    text-align: center;
}
/* Improved background of text box */
#profile-customization-tab .channelTextArea-1VQBuV {
    background: rgb(0,0,0,0.4);
    border: 2px solid var(--main-color);
}
/* SAFE DIRECT MESSAGING & VERIFICATION LEVEL */
#moderation-tab div[class*="children-"] > div:first-child > div[class*="children-"] div[role="radio"] > div {
    border-left: 5px solid var(--radio-bar-accent-color);
}
[class*="radioBar-"][style*="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%)"]{
    --radio-bar-accent-color: var(--online-color, #43b581) !important;
}
[class*="radioBar-"][style*="--radio-bar-accent-color:hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"]{
    --radio-bar-accent-color: var(--idle-color, #faa61a) !important;
}
[class*="radioBar-"][style*="--radio-bar-accent-color:hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%)"]{
    --radio-bar-accent-color: var(--some-orange, #f57732) !important;
}
[class*="radioBar-"][style*="--radio-bar-accent-color:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"]{
    --radio-bar-accent-color: var(--dnd-color, #982929) !important;
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] div[class^="text-md-medium-"]
,#privacy-\&-safety-tab h5+div+div[role="radiogroup"] > div div[class^="text-sm-normal-"]{
  color: transparent;
  margin-bottom: 2px;
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] div[class^="text-sm-normal-"]:after{
  font-size: 16px;
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] div[class^="text-md-medium-"]:after{
  font-weight: 600;
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] div[class^="text-md-medium-"]:after,
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] div[class^="text-sm-normal-"]:after{
  color: #fff;
  position: absolute;
  left: 86px;
  margin-left: 7px;
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] > div:first-child div[class^="text-md-medium-"]:after{
    content: "Security Level  - 2";
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] > div:nth-child(2) div[class^="text-md-medium-"]:after{
    content: "Security Level - 1";
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] > div:nth-child(3) div[class^="text-md-medium-"]:after{
    content: "Security Level - 0";
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] > div:first-child div[class^="text-sm-normal-"]:after{
    content: "Scan all direct messages.";
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] > div:nth-child(2) div[class^="text-sm-normal-"]::after{
    content: "Scan direct messages from everyone but friends.";
}
#privacy-\&-safety-tab h5+div+div[role="radiogroup"] > div:nth-child(3) div[class^="text-sm-normal-"]::after{
    content: "Do not scan direct messages."
}
/* NITRO */
.premiumTab-39eQzY.item-3XjbnG.themed-2-lozF > div.premiumLabel-3HPvdB > svg{
    display: none;
    /*removes Nitro icon in user settings sidebar*/
}
/* Modified background image */
#discord-nitro-tab .container-LUKdw8,
#discord-nitro-tab .hero-1aNo0v{
    max-width: 100%;
}
#discord-nitro-tab .hero-1aNo0v{
    background: var(--nitro-bg-image, url(https://i.gyazo.com/2476b02172cbe8abf983110120745998.png)) var(--nitro-bg-pos) no-repeat;
    background-size: cover;
}
#discord-nitro-tab svg.heroIcon-3kmupU{
    color: transparent 
}
#discord-nitro-tab .hero-1aNo0v h3{
    margin-top: 80px;
}
/* Discord Nitro header in first box */
#discord-nitro-tab .heroHeader-1A0uOZ{
    font-size: 34px;
    background: rgb(0,0,0,0.9);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid rgb(var(--main-color-numerical),0.8);
  
    text-indent: -9999px;
    line-height: 0;
}
#discord-nitro-tab .heroHeader-1A0uOZ:after{
    text-indent: 0px;
    content: "Discord Nitro";
    display: block;
    line-height: 30px; /*initial won't always revert back to the original*/
}
/* Subscribe & Gift buttons in first box */
.lookInverted-2mDUMi.colorBrand-I6CyqQ {
    background: rgb(0,0,0);
    border: 2px solid;
}
.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover {
    background: rgb(0,0,0,0.85);
}
/* Short description of Discord Nitro */
#discord-nitro-tab .hero-1aNo0v h3+div,
/* Images above benefits descriptions */
#discord-nitro-tab .featureImageWrapper-2ndc8N,
/* Discord Nitro image */
#discord-nitro-tab .marketingRefreshTier1Graphic-1mUnMb,
/* Utterly unnecesasry text that we have seen before*/
#discord-nitro-tab .marketingRefreshTier2Cta-2dN2zP{
    display: none;
}
/* Listed Benefits */
#discord-nitro-tab .content-374sTA div:nth-child(2) h3{
    text-align: center;
}
#discord-nitro-tab li{
    justify-content: space-evenly;
    background: rgb(0,0,0,0.6);
}
#discord-nitro-tab li h3{
    color: rgb(var(--main-color-numerical),0.8);
    font-size: 24px;
}
#discord-nitro-tab li .featureDescription-3U0QB3{
    font-size: 16px;
}
#discord-nitro-tab .featureBadge-1FNGAH > h3,
#discord-nitro-tab .featureUploadSize-3k1zif > h3,
#discord-nitro-tab li:not(.stickers-2JFQr2, .featurePremiumGuild-2uV6-N) > .featureDescription-3U0QB3,
#discord-nitro-tab p.marketingRefreshDescription-2_tCTt{
    text-indent: -9999px;
    line-height: 0;
}
#discord-nitro-tab .featureBadge-1FNGAH > h3:after,
#discord-nitro-tab .featureUploadSize-3k1zif > h3:after{
    text-indent: 0px;
    display: block;
    line-height: 24px;
}
#discord-nitro-tab .featureDescription-3U0QB3:after{
    text-indent: 0px;
    display: block;
    line-height: 18px;
}
/* Multiple Profiles */
#discord-nitro-tab .featurePerGuildProfile-3nTrFP > .featureDescription-3U0QB3:after{
    content: "Use different avatars, banners and bio sections in each server.";
}
/* More backgrounds */
#discord-nitro-tab .featureVideoBackgrounds-3-ItPq > .featureDescription-3U0QB3:after{
    content: "Display custom backgrounds during video calls.";
}
/* Style Your Profile */
#discord-nitro-tab .featureProfile-2h92hd > .featureDescription-3U0QB3:after{
    content: "Use animated avatars, profile banners and a custom tag.";
}
/* More Emoji Power */
#discord-nitro-tab .featureEmoji-cnSD0D > .featureDescription-3U0QB3:after{
    content: "Use custom or animated emojis globally.";
}
/* Rep Your Status */
#discord-nitro-tab .featureBadge-1FNGAH > h3:after{
    content: "Custom Profile Badge";
}
  #discord-nitro-tab .featureBadge-1FNGAH > .featureDescription-3U0QB3:after{
    content: "Nitro badge will be visible on profile popouts and modals.";
}
/* Bigger Uploads */
#discord-nitro-tab .featureUploadSize-3k1zif > h3:after{
    content: "Larger Uploads";
}
#discord-nitro-tab .featureUploadSize-3k1zif > .featureDescription-3U0QB3:after{
    content:"Increased upload size to 100 MB.";
}
/* Longer Messages */
#discord-nitro-tab .featureLongerMessageContent-4BIM8v > .featureDescription-3U0QB3:after{
    content:"The character limit for each message you send will increase significantly.";
}
/* HD Video */
#discord-nitro-tab .featureGoLive-15Pf6l > .featureDescription-3U0QB3:after{
    content: "Improved video resolutions when screen-sharing.";
}
/* More Servers */
#discord-nitro-tab .featureMoreServers-3eY3SW > .featureDescription-3U0QB3:after{
    content: "You can have access to upwards of 200 servers at any given moment.";
}
/* Nitro Classic */
#discord-nitro-tab p.marketingRefreshDescription-2_tCTt:after{
    text-indent: 0px;
    display: block;
    line-height: 20px;
}
#discord-nitro-tab p.marketingRefreshDescription-2_tCTt:after{
    content: "Nitro Classic contains fewer perks than standard Nitro at a discounted price. You may choose between $4.99 per month or $49.99 per year."
}
/* SERVER BOOST */
/* Pink diamond with wings or hands */
#nitro-server-boost-tab .marketingLogoImage-3evgX7,
#nitro-server-boost-tab .wrapper-3Zq_cJ:before,
/* Divider at top */
#nitro-server-boost-tab .content-2t8mBc > .divider-1wnNcY{
    display: none;
}
/* Text removal */
#nitro-server-boost-tab .marketingHeader-CpUYrf,
#nitro-server-boost-tab .profileBadgeIcon-1Vgwr1+div > div,
#nitro-server-boost-tab .roleIcon-1Yp8dE+div > div,
#nitro-server-boost-tab .guildFullFeatures-2jRvaJ{
    text-indent: -9999px;
    line-height: 0;
}
/* Nitro marketing header */
#nitro-server-boost-tab .marketingHeader-CpUYrf:after{
    text-indent: 0px;
    line-height: 24px;
    display: block;
    content: "Boost a server up to 3 levels to unlock additional perks for all members.";
}
#nitro-server-boost-tab .marketingHeader-CpUYrf+div{
    display: none;
}
/* Server boost badge description */
#nitro-server-boost-tab .profileBadgeIcon-1Vgwr1+div > div:after{
    text-indent: 0px;
    line-height: initial;
    display: block;
    content:"A dynamic profile badge";
}
/* Role description */
#nitro-server-boost-tab .roleIcon-1Yp8dE+div > div:after{
    text-indent: 0px;
    line-height: initial;
    display: block;
    content: "An exclusive server role";
}
/* Full server perks */
#nitro-server-boost-tab .guildFullFeatures-2jRvaJ{
    text-indent: -9999px;
    line-height: 0px;
}
#nitro-server-boost-tab .guildFullFeatures-2jRvaJ > a{
    text-indent: 0px;
    line-height: 20px;
  
    /*really scuffed lol*/
    position: relative;
    left: 10040px;
    top: 20px;
}
#nitro-server-boost-tab .guildFullFeatures-2jRvaJ:after{
    text-indent: 0px;
    line-height: 20px;
    display: block;
    content: "Access a complete list of all server perks here: ";
}
/* Nitro deal header */
#nitro-server-boost-tab .content-2t8mBc .wrapper-3Zq_cJ h3{
    color: transparent;
}
#nitro-server-boost-tab .content-2t8mBc .wrapper-3Zq_cJ h3:after{
    color: var(--header-primary);
    content: "Nitro Deals";
    text-align: center;
  
    position: relative;
    right: 180px;
}
/* Replaces "Boosted servers can get" icons with bullet points*/
#nitro-server-boost-tab .featureHeader-3aMbm3+div svg.icon-1Z47rO {
    color: transparent;
}
#nitro-server-boost-tab .featureHeader-3aMbm3+div svg.icon-1Z47rO{
    background-color: var(--header-primary);
    border-radius: 50%;
    margin-top: 10px;
    height: 12px;
    width: 12px;
}
.wrapper-3Zq_cJ:before{
    display: none;
    /*removes hand with wing thing*/
}
/* Nitro deal box */
#nitro-server-boost-tab .wrapper-3Zq_cJ{
    background: rgb(0,0,0,0.5);
    border: 2px solid var(--main-color);
    border-radius: 15px;
}
/* GIFT INVENTORY */
#library-inventory-tab .inputDefault-3FGxgL.input-2g-os5::placeholder{
    color: transparent;
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text x='0' y='15' fill='rgb(255,255,255,0.3)' font-size='16'>****-*****-*****-*****</text></svg>") no-repeat;
}
/* Enter code prompt */
#library-inventory-tab .h5-2RwDNl{
    text-indent: -9999px;
    line-height: 0;
}
#library-inventory-tab .h5-2RwDNl:after{
    text-indent: 0px;
    line-height: 16px;
    display: block;
    content: "Enter Nitro or game code below:";
}
#library-inventory-tab .emptyState-2cl8KX {
    background: rgb(0,0,0,0.8);
    border-radius: 12px;
    /*easier background to read on*/
    border: 2px solid var(--main-color);
}
#library-inventory-tab .emptyState-2cl8KX  > :not(h2){
    display: none;
    /*fuck wumpus and fuck gifting nitro*/
}
#library-inventory-tab .emptyState-2cl8KX > h2{
    text-indent: -9999px;
    line-height: 0;
  
    margin-bottom: 20px;
}
#library-inventory-tab .emptyState-2cl8KX  > h2:after{
    text-indent: 0px;
    line-height: 1.17;
    display: block;
    content: "You have no gifts in your inventory.";
}
/* BILLING */
#billing-tab .codeRedemptionRedirect-2hYMSQ{
    text-indent: -9999px;
    line-height: 0px;
  
    text-align: center;
}
#billing-tab .codeRedemptionRedirect-2hYMSQ:after{
    text-indent: 0px;
    line-height: initial;
    display: block;
    content: "Discord keys are now located in ";
  
    position: relative;
    right: 72px;
}
#billing-tab .codeRedemptionRedirect-2hYMSQ > a{
    position: relative;
    left: 4890px;
    top: 18px;
    line-height: 18px;
}
#billing-tab .codeRedemptionRedirect-2hYMSQ > a:after{
    content: ".";
}
/* APPEARANCE */
#appearance-tab .marginTop8-24uXGp:nth-child(3) .item-2idW98:first-child .text-md-medium-2avxhQ,
.marginTop8-24uXGp:nth-child(3) .item-2idW98:nth-child(2) .text-md-medium-2avxhQ{
    text-indent: -9999px;
    line-height: 0px;
}
#appearance-tab .marginTop8-24uXGp:nth-child(3) .item-2idW98:first-child .text-md-medium-2avxhQ:after{
    text-indent: 0px;
    line-height: initial;
    display: block;
    content: "Default: avatar shown; username above messages.";
}
.marginTop8-24uXGp:nth-child(3) .item-2idW98:nth-child(2) .text-md-medium-2avxhQ:after{
    text-indent: 0px;
    line-height: initial;
    display: block;
    content: "Compact: no avatar shown; username adjacent to messages.";
}
/* Message Display Preview */
#appearance-tab #message-content-0,
#message-content-1,
#message-content-2,
#message-content-3,
#message-content-4{
    text-indent: -9999px;
    line-height: 0px;
    display: inline-block;
}
#appearance-tab #message-content-0:after,
#message-content-1:after,
#message-content-2:after,
#message-content-3:after,
#message-content-4:after{
    text-indent: 0px;
    line-height: var(--message-content-line-height);
    display: block;
}
#appearance-tab #message-content-0:after{
    content: "Alpha bravo charlie delta echo foxtrot";
}
#message-content-1:after{
    content: "Golf hotel india juliet kilo lima mike";
}
#message-content-2:after{
    content: "November oscar papa quebec romeo";
}
#message-content-3:after{
    content: "Sierra tango uniform victor whiskey";
}  
#message-content-4:after{
    content: "X-ray yankee zulu";
}  
/* Improved Radiogroups */
#appearance-tab .children-1xdcWE{
    flex-direction: row;
    flex-wrap: wrap;

    --radio-spacing: 100px;
}
#appearance-tab .children-1xdcWE > :not(.marginTop8-24uXGp){
    width: 100%;
}
#appearance-tab .children-1xdcWE .marginTop8-24uXGp {
    width: calc(50% - 0.5*var(--radio-spacing, 100px));
}
#appearance-tab .children-1xdcWE .marginTop8-24uXGp:nth-child(3) {
    margin-left: var(--radio-spacing,  100px);
}
#appearance-tab .children-1xdcWE .marginTop8-24uXGp .divider-_0um2u{
    display: none;
}
/* VOICE & VIDEO */
/* Input Sensitivity */
#voice-\&-video-tab [style*="background: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"]{
    background: var(--main-color) !important;
}
#voice-\&-video-tab [style*="background: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"]{
    background: rgb(160,160,160) !important;
}
/* Video Settings */
.cameraWrapper-3a7Ngv{
    background: rgb(var(--main-color-numerical),0.2);
    border: 2px solid var(--main-color);
    border-radius: 10px;
}
.cameraWrapper-3a7Ngv .previewImage-2SFTiM{
    background: url(https://i.imgur.com/ikS6ddE.png) center/contain no-repeat;
}
/* KEYBINDS */
#keybinds-tab .image-20MDYu{
    display: none;
}
/* REGISTERED GAMES */
[class^="layer"][id^="popout_"] > [class^="popout"] > div[class^="content-"][role="listbox"] > li[class^="option"]:last-child:hover{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* LANGUAGE */
#language-tab [role="radiogroup"]{
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}
@media only screen and (max-width: 1500px) {
    #language-tab [role="radiogroup"]{
        display: grid;
        grid-template-columns: calc(100%/2) calc(100%/2);
    }
    /*radiogroup widths on smaller windows*/
}
#language-tab .item-2idW98 {
    margin-right: 18px;
}
#language-tab .item-2idW98 .info-2FZci4{
    --line-height: 18px;
    height: calc(2 * var(--line-height, 20px));
}
#language-tab .item-2idW98 .text-md-medium-2avxhQ,
#language-tab .item-2idW98 .localizedName-wPJ5qZ{
    line-height: var(--line-height, 20px);
}
/* SETTINGS, PLUGINS & THEMES*/
/* Toggle buttons */
/* Off */
.bd-switch-body{
    background: rgb(var(--main-color-numerical),0.625) !important;
}
.control-1fl03- > .container-2nx-BQ:not(.checked-25WXMf):before{
    background: rgb(var(--main-color-numerical),0.625);
}
.bd-switch .bd-switch-symbol > path{
    fill: currentColor;
    /*fills x in off button with the currentColor*/
}
/* HYPESQUAD */
#hypesquad-online-tab .icon-2g_pHb{
    display: none;
}
#hypesquad-online-tab .features-6z-RVS .marginBottom8-emkd0_.title-2pQsrN{
    color: transparent;
}
#hypesquad-online-tab .features-6z-RVS .marginBottom8-emkd0_.title-2pQsrN:after{
    white-space: nowrap;
    color: var(--header-primary);
    position: absolute;
    left: 40px;
}
#hypesquad-online-tab .features-6z-RVS > div:nth-child(3) .marginBottom8-emkd0_.title-2pQsrN:after{
    content:"Exclusive Newsletter";
}
#hypesquad-online-tab .features-6z-RVS > div:nth-child(4) .marginBottom8-emkd0_.title-2pQsrN:after{
    content:"Specialized Profile Badge";
}
#hypesquad-online-tab .features-6z-RVS > div:nth-child(5) .marginBottom8-emkd0_.title-2pQsrN:after{
    content:"Unique Challenges";
}
/* SOCIAL LINKS */
.socialLinks-3ywLUf{
    display: flex;
    flex-direction: column;
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX{
    padding-left: 0;
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX svg{
    width: 16px;
    height: 16px;
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX[title="Twitter"] path{
    fill: var(--twitter-color);
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX[title="Facebook"] path{
    fill:var(--facebook-color); 
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX[title="Facebook"]:hover path,
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX[title="Twitter"]:hover path{
    filter: brightness(1.375);
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX[title="Instagram"] svg  {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border-radius: 4.5px;
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX:after{
    color: var(--main-color);
    margin-left: 5px;
    vertical-align: top;
    line-height: 18px;
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX:hover{
    text-decoration-color: var(--hover-color);
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX:hover:after{
    color: var(--hover-color);
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX[title="Twitter"]:after{
    content: "[ Twitter ]";
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX[title="Facebook"]:after{
    content: "[ Facebook ]";
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX[title="Instagram"]:after{
    content: "[ Instagram ]";
}
.socialLinks-3ywLUf .anchorUnderlineOnHover-2qPutX[title="BetterDiscord"]:after{
    content: "[ BetterDiscord ]";
}
#app-mount .info-3pQQBb .line-18uChy:first-child::before{
    content: var(--custom-mark-2, " ");
    display: block;
}
/* SERVER SETTINGS TAB ADJUSTMENTS*/
.contentRegion-3HkfJJ{
    justify-content: space-between;
}
.customScroller-m1-jZn > .content-2a4AW9,
.contentRegion-3HkfJJ .content-28mbXd{
    max-width: 100%;
}
/* ROLES */
#roles-tab .container-3EtAkD > div.icon-2DGsye{
    background: transparent;
}
/* EMOJI */
#emoji-tab .emojiUploadUploadRequirementsList-1loAvP li:nth-child(2) div{
    height: 8px;
}
#emoji-tab .emojiUploadUploadRequirementsList-1loAvP li:nth-child(2) div,
#emoji-tab .emojiSettings-3OOCRk .image-20MDYu+.flexChild-3PzYmX h4,
#emoji-tab .emojiSettings-3OOCRk .image-20MDYu+.flexChild-3PzYmX .text-27cdrj{
    text-indent: -9999px;
    line-height: 0;
}
#emoji-tab .emojiUploadUploadRequirementsList-1loAvP li:nth-child(2) div:after,
#emoji-tab .emojiSettings-3OOCRk .image-20MDYu+.flexChild-3PzYmX h4:after,
#emoji-tab .emojiSettings-3OOCRk .image-20MDYu+.flexChild-3PzYmX .text-27cdrj:after{
    display: block;
    text-indent: 0px;
}
#emoji-tab .emojiUploadUploadRequirementsList-1loAvP li:nth-child(2) div:after{
    line-height: 20px;
    content: "Recommended file size: 256 KB";
    position: relative;
    bottom: 10px;
}
#emoji-tab .emojiSettings-3OOCRk .image-20MDYu{
    display: none;
}
#emoji-tab .emojiSettings-3OOCRk .image-20MDYu+.flexChild-3PzYmX h4:after{
    line-height: 22px;
    content: "No Emojis";
}
#emoji-tab .emojiSettings-3OOCRk .image-20MDYu+.flexChild-3PzYmX .text-27cdrj:after{
    line-height: 20px;
    content: "Any added emojis will be shown here.";
}
/* STICKERS */
#stickers-tab .upsellContainer-22N_CL h3,
#stickers-tab .upsellContainer-22N_CL .upsellDescription-2O_p3B{
    text-indent: -9999px;
    line-height: 0;
    max-width: 80%;
}
#stickers-tab .upsellContainer-22N_CL .upsellDescription-2O_p3B:after{
    text-indent: 0px;
    line-height: 24px;
    font-size: 20px;
    display: block;
    content: "Boost this server to Level 1 to unlock more stickers and other perks. Each level unlocks additional sticker slots and benefits.";
}
/* INTEGRATIONS */
#integrations-tab .emptyStateImage-3OWgG1{
    display: none;
}
#integrations-tab .emptyStateCard-281xOW .text-sm-normal-3Zj3Iv{
    text-indent: -9999px;
    line-height: 0;   
}
#integrations-tab .emptyStateCard-281xOW .text-sm-normal-3Zj3Iv:after{
    text-indent: 0px;
    line-height: 24;
    font-size: 20px;
    display: block;
    content: "Any added emojis will be shown here.";
}
/* SERVER TEMPLATE */
#guild_templates-tab [class^="inputDefault-"]{
    /*background: rgb(130,130,130,0.2);*/
    background: rgb(255,255,255,0.1);
    box-shadow: none;
    border-radius: 7px;
}
/* AUDIT LOG */
div[class*="auditLog-"] > div[class^="headerClickable-"],
div[class*="auditLog-"] > div[class^="headerDefault-"]{
    background-color: rgb(0,0,0,0.9);
}