  /**
 * @description This is intended to be an add-on for ClearVision themes with very
 * bright --main-color, with the goal being to improve the contrast of text against
 * a --main-color background. I would recommend against using it since it's mainly
 * for personal use and therefore very poorly documented. However, feel free to use
 * it, especially if you think it may improve the look if your theme.
 */


:root{
  /*--main-color-inverted:; this should contain the inverted version of your accent color*/
  --text-normal-dark: #212121;
  --header-primary-dark: #0c0c0c;
}



.buttonColor-1u-3JF,

.theme-dark .pageButton-1GMGeJ.activeButton-LRWFC_,
/* generic sticker selected in sticker picker*/
.stickerCategoryGenericSelected-DnO2K8,
/* buttons */
[class*="lookFilled-"].colorGreen-jIPCAS,
[class*="lookFilled-"][class*="colorBrandNew-"],
[class*="lookFilled-"].colorPrimary-2-Lusz,
[class*="lookFilled-"].buttonColor-1u-3JF,
[class*="lookFilled-"][class*="colorRed-"],
[class*="lookFilled-"][class*="colorBrand-"],
/* new message bar in chat box */
#---new-messages-bar .unreadPill-3nEWYM,
[class^="newMessagesBar-"] button,
/* search bar */
.search-2Mwzzq .searchFilter-2UfsDk,
.search-2Mwzzq .searchAnswer-23w-CH,
/* search box*/
[class*="container-"] [class*="queryContainer-"] > [class^="queryText-"],
[class*="container-"] [class*="queryContainer-"] > [class^="queryText-"] > strong,
/*
.container-2McqkF .ZunrLZ > .queryText-j8z984,
.container-2McqkF .queryContainer-ZunrLZ > .queryText-j8z984>strong
*/
/* unread channel bar */
.mention-3XBnnZ, 
.bar-2eAyLE.unread-2wipsx,
/* text selection */
::selection,
/* thingies when selecting options (like in create new channel modal) */
[class^="item-"][aria-checked="true"] > [class^="radioBar-"] circle[class^="radioIconForeground"],
[class^="item-"][aria-checked="true"] > [class^="radioBar-"] [class*="defaultColor-"],
/* number and text badges */
.numberBadge-37OJ3S,
.textBadge-1fdDPJ,
/* BetterDiscord text buttons*/
.bd-button,
/* hovering on text options (e.g. dark theme option in appearance settings)*/
.item-2idW98:hover,
/* "new" bar in server bar*/
.unreadMentionsIndicatorTop-2bTgUU div span,
/*hover upon options with colored text*/
.colorDefault-CDqZdO.focused-3qFvc8 .subtext-2GlkbE,
/*dumb check boxes*/
.item-1OdjEX.focused-3qFvc8 .checkbox-hADx5o,
.colorDefault-CDqZdO .check-3HZJs4,
/*clicking on context menu options and maybe more options*/
.menu-1QACrS .item-1OdjEX.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_),
/*hover on server*/
.wrapper-3kah-n:hover .childWrapper-1j_1ub,
/*text buttons in gif sticker emoji (and add reaction)*/
.navButtonActive-1EqC5l,
.navButtonActive-1EqC5l:hover,
/*switch accounts context menu item on hover*/
.focused-3RdCfX .userMenuUsername-2xdVcJ .userMenuDiscriminator-2Vj2p9,
.focused-3RdCfX .userMenuUsername-2xdVcJ .userMenuText-2e3Dry,
/* replace all necessary instances var(--interactive-active) with black (#000) right here */
/* NEW OLD and RELEVANT buttons in search results header */
/* on select */
.searchResultsWrap-5RVOkx>.searchHeader-1r_ZSh  [class*="item-"][class*="selected-"],
.searchResultsWrap-5RVOkx>.searchHeader-1r_ZSh [class*="item-"]:hover:not(.disabled-2G98Nl),
/* on hover 
.searchResultsWrap-5RVOkx>.searchHeader-1r_ZSh .item-3XjbnG:hover,*/
/* context menu item hover*/
.menu-2TXYjN .item-5ApiZt.focused-3LIdPu,
/* selected radioGroupItem */
.item-2idW98[aria-checked=true],
/* jumpToPresentBar (above message box) */
.jumpToPresentBar-1cEnH0:hover>button,
/* show all participants button when joining a voice call, and maybe other buttons as well*/
.button-3Vyz67,
/* highlighted keywords in search results*/
.searchResultsWrap-5RVOkx .highlight,
/* roleEveryoneContainer in server settings */
.container-3EtAkD,
.container-3EtAkD:hover,
/* akaBadge in header */
.container-ZMc96U .akaBadge-3i7V3p,
/* Mentions on hover */
.theme-dark .mentioned-Tre-dv .mention.interactive:hover,
.interactive:hover,
.mention.interactive:hover,
.theme-dark .mention:hover,
/* Auto complete box (on hover & select) */
.autocompleteRowVertical-EA9dCg[aria-selected="true"] .base-2v-uc0 .autocompleteRowIcon-Br97vl svg,
.autocompleteRowVertical-EA9dCg .base-2v-uc0:hover .autocompleteRowIcon-Br97vl svg,
.autocompleteRowVertical-EA9dCg[aria-selected="true"] .base-2v-uc0 .text-xs-normal-3SiVjE > span,
.autocompleteRowVertical-EA9dCg .base-2v-uc0:hover .text-xs-normal-3SiVjE > span,
/* Auto complete selected category icon */
.selected-3B2w1z .icon-1kx1ir,
.selected-3B2w1z:hover .icon-1kx1ir,
/*create channel tag*/
.tag-15zcD_,
/*add server button text*/
.container-x8Y1ix .text-PdAsFQ,
/*search results jump button*/
.searchResultsWrap-5RVOkx .button-cfOvv-,
.searchResultsWrap-5RVOkx .button-cfOvv-:hover,
/*some button thing*/
.theme-dark .selectorButton-3fWZ0_.selectorButtonSelected-3cQUnj:not(.selectorButtonPremiumRequired-IZXhgV) .selectorTextSelected-2zup8I,
/*inbox drop down*/
.theme-dark .header-1w9Q93 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy,
.jumpButton-1ITAeq .text-2ifC_x,
.jumpButton-1ITAeq:hover .text-2ifC_x,
.tutorialIcon-25VF3Q,
/*problem info option*/
.option-1O-Hwt,
/*thread icon wrapper*/
.iconWrapper-3plkqh .icon-382itv,
/*flower star container*/
.flowerStarContainer-1QeD-L .childContainer-U_a6Yh>svg,
.container-1NXEtd .container-1-ERn5 .flowerStarContainer-1QeD-L .childContainer-U_a6Yh>svg,
/*thread dropdown body icon*/
.icon-mJhEWn,
.iconBadge-32fMme.participating-2Z81oO .icon-2Ug6UV,
/*popout call text badge*/
.textBadge-1fdDPJ .qualityIndicatorFullQuality-3Onyt5,
.textBadge-1fdDPJ .premiumStreamIcon-1ei2nF,
/*context menu checkbox hover*/
.menu-1QACrS .item-1OdjEX.focused-3qFvc8 .checkbox-hADx5o,
/*SAVE 16%*/
.planOptionDiscount-2nex9n,
/*selected payment otion*/
.option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) .paymentSourceLabel-1z_EVr,
/*upload content circle*/
.contentCircle-15IFyT .uploadIcon-2zMtOT,
.checkmark-bW9BK8,
.theme-dark .tierPill-l7DvKo,
/*session icons in devices tab*/
.sessionIcon-2fwSzb,
/*radio bar text/items upon selection*/
[aria-checked=true].item-1TA5qI .radioBar-1XgZqD,
[aria-checked=true].item-1TA5qI .radioBar-1XgZqD .selected-3XnKRK .channelIcon-1BydE-,
/*streaming badge*/
.liveBadge-3E8LQj,
.unicodeShortcut-3N8oDe svg,
/*tab bar items*/
.topPill-2vcLsa .themed-qqoYp3.selected-1sf9UK.item-2GWPIy,
/*forum upload icon*/
.uploadInput-3fblkw .uploadIcon-M15owY
{
  color: #000;
}

.navButtonActive-fwiUKp,
.navButtonActive-fwiUKp:hover {
  color: var(--black-500);
}


[class*="reactionSelected-"] [class*="defaultColor-"],
/*voice call container buttons*/
[class*="lookFilled-"][class*="colorBrand-"] [class*="defaultColor-"],
[class*="lookFilled-"].colorPrimary-2-Lusz [class*="defaultColor-"]{
  color:var(--text-normal-dark);
}

/* Revert above changes for join server button -> back to CV default */
.wrapper-1HIH0j .lookFilled-1H2Jvj.colorBrand-2M3O3N,
.wrapper-1HIH0j .lookFilled-1H2Jvj.colorGreen-jIPCAS{
  color: #fff;
}

.picker-20lcBA .soundButton-2P2Ua2 [style*="var(--header-primary)"]{
  color: var(--header-primary-dark) !important;
}

.modeSelected-3DmyhH .numberBadge-37OJ3S,
.modeSelected-3DmyhH .textBadge-1fdDPJ,
.interactiveSelected-29CP8y .numberBadge-37OJ3S,
.interactiveSelected-29CP8y .textBadge-1fdDPJ,
.selected-g-kMVV .numberBadge-37OJ3S,
.selected-g-kMVV .textBadge-1fdDPJ{
    background:  var(--main-color) !important;
    color: #000;
}

/* Welcome to server option box text*/
.optionContainer-yOpaLq .channelDescription-3n9Tua,
.optionContainer-yOpaLq [class*="text-xs-normal-"],
.optionContainer-yOpaLq [class*="text-xs-normal-"] svg{
    font-weight: 500;
}
.optionContainer-yOpaLq .channelDescription-3n9Tua,
.optionContainer-yOpaLq [class*="text-xs-normal-"] svg{
    color: #000;
}
.optionContainer-yOpaLq [class*="text-xs-normal-"]{
    color: #000 !important;
}

.theme-dark .tierPill-l7DvKo{
  font-weight: 500;
}

/*verified game icon*/
.gameVerifiedIcon-1YMUdQ .childContainer-U_a6Yh>svg>path{
  fill: #000;
}

/*add server button arrow*/
.container-x8Y1ix .arrow-2yY1Tm,
/* "Don't have an invite?" button arrow*/
.rowContainer-3t7486 .rowArrow-TIwwIc{
  filter: brightness(0) invert(0);
}

/*option bars in hubs??*/
.optionItem-2tdutc.selected-1-Z6gm{
  color: #000;
}
.optionItem-2tdutc.selected-1-Z6gm .layout-1qmrhw .avatar-3VNtDW>svg>path{
  fill: #000;
}

.compactButton-3hG-bs .defaultColor-1EVLSt,
.iconWrapper-3FqQ75 .icon-3gfzEo path,
/* "Don't have an invite?" text */
.rowContainer-3t7486 h3.defaultColor-HXu-5n,
.rowContainer-3t7486 h3+div,
/*send wave sticker text*/
.compactButton-3hG-bs .defaultColor-24IHKz,
/*checked radio bar text*/
[aria-checked=true].item-2idW98 .radioBar-3w9XY- [style*="color: var(--header-secondary)"],
/*autocomplete boxes*/
.autocomplete-3NRXG8 [aria-selected=true].clickable-2V8YKY .base-2v-uc0 [style*="color: var(--interactive-normal)"],
.autocomplete-3NRXG8 [aria-disabled=false].clickable-2V8YKY .base-2v-uc0:hover [style*="color: var(--interactive-normal)"],
/*random radio abr text*/
[aria-checked=true].item-1TA5qI .radioBar-1XgZqD .radioLabelDescription-2ZSE0N{
    filter: invert(1);
}

.emptyChannelIcon-1YdEz2{
  filter: invert(1);
  background-color: var(--main-color-inverted);
  /*hashtag at top of chat box in server channel*/
}

/* Sort & View button */
.sortDropdown-hY93nR>*,
.sortDropdown-hY93nR .sortDropdownText-3smleu,
/* Unread button */
.bar-wDIGjg>*,
/* More Auto Complete Box (on hover & select) */
.autocompleteRowVertical-EA9dCg[aria-selected="true"] .base-2v-uc0 .text-xs-normal-3SiVjE,
.autocompleteRowVertical-EA9dCg[aria-selected="true"] .base-2v-uc0 .text-md-normal-304U3g,
.autocompleteRowVertical-EA9dCg .base-2v-uc0:hover .text-xs-normal-3SiVjE,
.autocompleteRowVertical-EA9dCg .base-2v-uc0:hover .text-md-normal-304U3g,
.autocomplete-3NRXG8 [aria-selected=true].clickable-2V8YKY .base-2v-uc0 [style*="color: var(--interactive-active)"],
.autocomplete-3NRXG8 [aria-disabled=false].clickable-2V8YKY .base-2v-uc0:hover [style*="color: var(--interactive-active)"]
{
  color: #000 !important;
}
/*auto complete optional count*/
.autocomplete-3NRXG8 [aria-selected=true].clickable-2V8YKY .base-2v-uc0 .optionalCount-1BzEgg,
.autocomplete-3NRXG8 [aria-disabled=false].clickable-2V8YKY .base-2v-uc0:hover .optionalCount-1BzEgg{
  color: rgb(0,0,0,0.07)
}
/* Auto complete icon in auto complete row */
.autocompleteRow-14iwvH[aria-selected="true"] .icon-1kx1ir,
.base-2v-uc0:hover .icon-1kx1ir{
  color: #2a2a2a;
}

/* Colored text of red buttons on hover (e.g. Disable Account) */
[class*="lookFilled-"][class*="colorRed-"]:hover,
/* Colored text of selected radio bar */
/* safe direct messaging only */
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(37, calc(var(--saturation-factor, 1) * 81.2%), 43.9%);"] circle.radioIconForeground-2BMavi,
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(37, calc(var(--saturation-factor, 1) * 81.2%), 43.9%);"],
/* safe direct messaging + server safety*/
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] circle.radioIconForeground-2BMavi,
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"] circle.radioIconForeground-2BMavi,
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"]
{
  color:#fff;
}

/* STATUS PICKER */
#account-status-picker--online[class*="focused-"] svg [class*="status-"],
#account-status-picker--idle[class*="focused-"] svg [class*="status-"],
#account-status-picker--dnd[class*="focused-"] svg [class*="status-"],
#account-status-picker--invisible[class*="focused-"] svg [class*="status-"]{
  background: #000 !important;
  /*removes status color upon hover on status picker menu item*/
}

/*-----SERVER BAR-----*/
/* ADD/EXPLORE BUTTON ICONS */
.circleIconButton-1VxDrg:hover{
  color: #000;
}
/*-----MUTE/DEAFEN/USER SETTINGS-----*/
[aria-label="User area"] [aria-label="Set Status"]+div button:hover path{
  fill: #000; /*change depending on theme*/
}
/*-----BD GUILD BUTTON-----*/
#bd-pub-button:hover{
  color: #000;
  /*text color black when hover*/
}
/*-----BD TOASTS-----*/
.bd-toast,
.bd-toast.toast-info,
.bd-toast.toast-success{
    color: #000;
}