/*
:root{
    You must define these variables in your theme
    if you are using this as an add-on
    
    --mb-placeholder-1
    --mb-placeholder-2
}
*/
.channelTextArea-1FufC0.channelTextArea-1VQBuV{
    background: transparent; /*default: rgb(0,0,0,0.6)*/
    /*prevents background from seep outside the border*/
}
[class^="channelTextArea-"]:focus-within{
    box-shadow: none;
    /*removes box-shadow aka a second border*/
}
[class^="channelTextArea-"] > [class^="scrollableContainer-"]{
    background: rgb(0,0,0,0.8); /*default: transparent*/
    transition-duration: 250ms;
    border-radius: 12px; /*default: 8px*/
    border-color: rgb(var(--main-color-numerical),0.6); /*default: transparent*/
}
.channelTextArea-1VQBuV .scrollableContainer-15eg7h:focus-within {
    border-color: var(--main-color);
    /*no change in background-color because it looks better when it stays the same*/
}
/* PLACEHOLDER TEXT */
.channelTextArea-1VQBuV .scrollableContainer-15eg7h .placeholder-1rCBhr{
    color: var(--mb-placeholder-1, var(--text-muted));
    /*default color*/
}
.channelTextArea-1VQBuV .scrollableContainer-15eg7h:focus-within .placeholder-1rCBhr{
    color: var(--mb-placeholder-2, var(--text-muted));
    /*color upon select*/
}
/* MARKUP TEXT */
.channelTextArea-1VQBuV .scrollableContainer-15eg7h .markup-eYLPri{
    color: rgb(var(--text-normal-numerical),0.8);
    /*markup text when message box not selected*/
}
.channelTextArea-1VQBuV .scrollableContainer-15eg7h:focus-within .markup-eYLPri{
    color: var(--text-normal);
    /*markup text when message box selected*/
}
/* BUTTONS */
.channelTextArea-1VQBuV .button-f2h6uQ:not([aria-label="Send Message"]) .contents-3ca1mk > div{
    display: none;
}
.channelTextArea-1VQBuV .button-f2h6uQ .contents-3ca1mk:after{
    line-height: 1.375rem;
    color: var(--main-color);
}
.channelTextArea-1VQBuV .button-f2h6uQ:hover .contents-3ca1mk:after{
    color: var(--hover-color);
}
.channelTextArea-1VQBuV .button-f2h6uQ[aria-label="Open GIF picker"] .contents-3ca1mk:after{
    content: "[GIF]";
}
.channelTextArea-1VQBuV .button-f2h6uQ[aria-label="Open sticker picker"] .contents-3ca1mk:after{
    content: "[Sticker]";
}
.channelTextArea-1VQBuV .button-f2h6uQ[aria-label="Select emoji"] .contents-3ca1mk:after{
    content: "[Emoji]";
}
button[aria-label^="Upload a file"] path{
    fill: rgb(var(--main-color-numerical),0.7);
}
.scrollableContainer-15eg7h:focus-within button[aria-label^="Upload a file"] path{
    fill: var(--main-color);
}
button[aria-label^="Upload a file"] path[class*="attachButtonPlay-"]{
    fill: var(--spotify-color);
    /*makes spotify invite button green*/
}
/* Send Message Button*/
.channelTextArea-1VQBuV button[aria-label="Send Message"] .button-2fCJ0o .buttonChild-33lB5F.disabled-3wvGkX{
    color: rgb(var(--main-color-numerical),0.7);
}
.channelTextArea-1VQBuV .scrollableContainer-15eg7h:focus-within button[aria-label="Send Message"] .button-2fCJ0o .buttonChild-33lB5F.disabled-3wvGkX,
.channelTextArea-1VQBuV button[aria-label="Send Message"] .button-2fCJ0o .buttonChild-33lB5F.activeButtonChild-2hgLAO{
    color: var(--main-color);
}