/**
 * @description This is intended to be an add-on for ClearVision themes with very
 * bright --main-color, with the goal being to improve the contrast of text against
 * a --main-color background. I would recommend against using it since it's mainly
 * for personal use and therefore very poorly documented. However, feel free to use
 * it, especially if you think it may improve the look if your theme.
 */

/*
:root{

  optional section of code. If you don't use this, then these variables must be
  defined in root element

  --main-color-inverted:; this should contain the inverted version of your accent color
}
*/

/* buttons */
.lookFilled-yCfaCM.colorRed-rQXKgM,
button[class*="lookFilled-"][class*="colorGrey-"],
button[class*="lookFilled-"][class*="colorBrand-"],
button[class*="lookFilled-"][class*="colorGreen-"],
.lookFilled-yCfaCM.colorBrandNew-2-gGsS,
.lookFilled-yCfaCM.colorPrimary-2AuQVo,
/* new message bar in chat box */
#---new-messages-bar .unreadPill-3nEWYM,
[class^="newMessagesBar-"] button,
/* search bar */
.search-2Mwzzq .searchFilter-2UfsDk,
.search-2Mwzzq .searchAnswer-23w-CH,
/* search box*/
#uid_33--1 > [class^="queryText-"],
#uid_33--1 > [class^="queryText-"] strong,
/* unread channel bar */
.mention-3XBnnZ, 
.bar-2eAyLE.unread-2wipsx,
/* text selection */
::selection,
/* thingies when selecting options (like in create new channel modal) */
[class^="item-"][aria-checked="true"] > [class^="radioBar-"] circle[class^="radioIconForeground"],
[class^="item-"][aria-checked="true"] > [class^="radioBar-"] [class*="defaultColor-"],
/* number and text badges */
.numberBadge-37OJ3S,
.textBadge-1fdDPJ,
/* BetterDiscord text buttons*/
.bd-button,
/* hovering on text options (e.g. dark theme option in appearance settings)*/
.item-2idW98:hover,
/* "new" bar in server bar*/
.unreadMentionsIndicatorTop-2bTgUU div span,
/* NEW OLD and RELEVANT buttons on hover in search box */
.themed-2-lozF.item-3XjbnG:hover,
/*hover upon options with colored text*/
.colorDefault-CDqZdO.focused-3qFvc8 .subtext-2GlkbE,
/*dumb check boxes*/
.item-1OdjEX.focused-3qFvc8 .checkbox-hADx5o,
.colorDefault-CDqZdO .check-3HZJs4,
/*clicking on context menu options and maybe more options*/
.menu-1QACrS .item-1OdjEX.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_),
/*hover or select server*/
.wrapper-3kah-n:hover .childWrapper-1j_1ub,
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
/*text buttons in gif sticker emoji (and add reaction)*/
.navButtonActive-1EqC5l,
.navButtonActive-1EqC5l:hover,
/*switch accounts context menu item on hover*/
.focused-3RdCfX .userMenuUsername-2xdVcJ .userMenuDiscriminator-2Vj2p9,
.focused-3RdCfX .userMenuUsername-2xdVcJ .userMenuText-2e3Dry,
/* replace all necessary instances var(--interactive-active) with black (#000) right here */
/* NEW button in search results box*/
.selected-g-kMVV.item-3XjbnG,
.selected-g-kMVV.item-3XjbnG:hover,
/* context menu item hover*/
.menu-1QACrS .item-1OdjEX.focused-3qFvc8,
/* selected radioGroupItem */
.item-2idW98[aria-checked=true],
/* jumpToPresentBar (above message box) */
.jumpToPresentBar-1cEnH0:hover>button,
/* show all participants button when joining a voice call, and maybe other buttons as well*/
.button-3Vyz67,
/* highlighted keywords in search results*/
.searchResultsWrap-5RVOkx .highlight,
/* roleEveryoneContainer in server settings */
.container-3EtAkD,
.container-3EtAkD:hover,
/* akaBadge in header */
.akaBadge-3i7V3p,
/* Mentions on hover */
.theme-dark .mentioned-Tre-dv .mention.interactive:hover,
.mention.interactive:hover,
/* Auto Complete Box (on hover & select) */
.autocompleteRowVertical-EA9dCg[aria-selected="true"] .base-2v-uc0 .autocompleteRowIcon-Br97vl svg,
.autocompleteRowVertical-EA9dCg .base-2v-uc0:hover .autocompleteRowIcon-Br97vl svg,
.autocompleteRowVertical-EA9dCg[aria-selected="true"] .base-2v-uc0 .text-xs-normal-3SiVjE > span,
.autocompleteRowVertical-EA9dCg .base-2v-uc0:hover .text-xs-normal-3SiVjE > span
{
  color: #000;
}

.emptyChannelIcon-1YdEz2{
  filter: invert(100);
  background-color: var(--main-color-inverted);
  /*hashtag at top of chat box in server channel*/
}

/* More Auto Complete Box (on hover & select) */
.autocompleteRowVertical-EA9dCg[aria-selected="true"] .base-2v-uc0 .text-xs-normal-3SiVjE,
.autocompleteRowVertical-EA9dCg[aria-selected="true"] .base-2v-uc0 .text-md-normal-304U3g,
.autocompleteRowVertical-EA9dCg .base-2v-uc0:hover .text-xs-normal-3SiVjE,
.autocompleteRowVertical-EA9dCg .base-2v-uc0:hover .text-md-normal-304U3g
{
  color: #000 !important;
}

/* Colored text of red buttons on hover (e.g. Disable Account) */
.lookFilled-yCfaCM.colorRed-rQXKgM:hover,
/* Colored text of selected radio bar */
/* safe direct messaging only */
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(37, calc(var(--saturation-factor, 1) * 81.2%), 43.9%);"] circle,
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(37, calc(var(--saturation-factor, 1) * 81.2%), 43.9%);"],
/* safe direct messaging + server safety*/
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] circle,
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"] circle,
[aria-checked=true] > .radioBar-3w9XY-[style^="--radio-bar-accent-color:hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"]
{
  color:#fff;
}