/*  Note: the original creator of this feature is not me. However, 
    once Discord made significant changes to the user area, which
    includes changing the class names of the HTML elements as well
    as entirely revamping how the status picker looks (from popout
    to now a dropdown menu). I modernized it in faith of what
    I believe the original creator would have done after these
    changes, but this code is my own.*/

:root{ 
    /* REQUIRED */
    /* background color of status picker menu*/
    /* default is var(--background-floating), but ClearVision defaults to rgb(0,0,0,0.8)*/
    --status-picker-bg-color: rgb(0,0,0,0.8);

    /* OPTIONAL */
    /* background color of status picker menu item on hover*/
    /*
    --online-color: #43b581;
    --idle-color: #faa61a;
    --dnd-color: #982929;
    --offline-color: #808080;
    */
}
#account-status-picker+.layer-2aCOJ3 .submenu-1apzyU{
    min-width: 0px;
    width: 100px;
}
#account-status-picker--online+div,
#account-status-picker--online > div > div,
#account-status-picker--idle > div > div,
#account-status-picker--dnd > div > div,
#account-status-picker--invisible > div > div{
    display: none;
}
#account-status-picker--online > div,
#account-status-picker--idle > div,
#account-status-picker--dnd > div,
#account-status-picker--invisible > div{
    display: flex;
    justify-content: center;
}
#account .submenuPaddingContainer-_k62dJ .menu-1QACrS[aria-activedescendant^="account-status-picker"]{
    background: var(--status-picker-bg-color);
}
#account-status-picker--online.focused-3qFvc8  .status-2DiCMd,
#account-status-picker--idle.focused-3qFvc8  .status-2DiCMd,
#account-status-picker--dnd.focused-3qFvc8  .status-2DiCMd,
#account-status-picker--invisible.focused-3qFvc8  .status-2DiCMd {
    background-color: var(--status-picker-bg-color) !important;
}
#account-status-picker--online,
#account-status-picker--idle,
#account-status-picker--dnd,
#account-status-picker--invisible{
    height: 35px;
}
#account-status-picker--online.focused-3qFvc8 {
    background: var(--online-color, #43b581);
}
#account-status-picker--idle.focused-3qFvc8{
    background: var(--idle-color, #faa61a);
}
#account-status-picker--dnd.focused-3qFvc8{
    background: var(--dnd-color, #982929);
}
#account-status-picker--invisible.focused-3qFvc8{
    background: var(--offline-color, #808080);
}