/*
Credits to Gibbu for making the original add-on. This file serves as
modifications to features that were implemented by Gibbu in RadialGlow.
It is primarily compatible with my Clearvision theme presets I created
*/

@import url(https://discordstyles.github.io/SoftX/RadialGlow.css);

:root{
    --glow-intensity: 1;
    --rs-online-color: var(--online-color);
    --rs-idle-color: var(--idle-color);
    --rs-dnd-color: var(--dnd-color);
    --rs-offline-color:  var(--offline-color);
    --rs-streaming-color: var(--streaming-color);
    --rs-invisible-color: var(--offline-color);
    --rs-small-spacing: 2px; /* Spacing between profile image and outer ring on small icons (e.g. member list) | Default: 2px */
    --rs-medium-spacing: 1.5px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout) | Default: 4px */
    --rs-large-spacing: 3px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout fullscreen) | Default: 4px */
    --rs-small-width: 2px; /* Ring width (follows same sizing as above) | Default: 1.5px */
    --rs-medium-width: 1.5px; /* Default: 2px */
    --rs-large-width: 2px; /* Default: 2px */
}
.mask-1FEkla{
    filter: none;
}
#my-account-tab .avatar-3mTjvZ.wrapper-1VLyxH[aria-label*="Online" i],
.userPopout-3fydSP .wrapper-1VLyxH[aria-label*="Online" i],
#account-avatar .wrapper-1VLyxH[aria-label*="Online" i]{
    box-shadow: 0 0 calc(var(--glow-intensity) * 25px) var(--rs-online-color);
}
#my-account-tab .avatar-3mTjvZ.wrapper-1VLyxH[aria-label*="Idle" i],
.userPopout-3fydSP .wrapper-1VLyxH[aria-label*="Idle" i],
#account-avatar .wrapper-1VLyxH[aria-label*="Idle" i]{
    box-shadow: 0 0 calc(var(--glow-intensity) * 25px) var(--rs-idle-color);
}
#my-account-tab .avatar-3mTjvZ.wrapper-1VLyxH[aria-label*="Do not disturb" i],
.userPopout-3fydSP .wrapper-1VLyxH[aria-label*="Do not disturb" i],
#account-avatar .wrapper-1VLyxH[aria-label*="Do not disturb" i]{
    box-shadow: 0 0 calc(var(--glow-intensity) * 25px) var(--rs-dnd-color);
}
#my-account-tab .avatar-3mTjvZ.wrapper-1VLyxH[aria-label*="invisible" i],
.userPopout-3fydSP .wrapper-1VLyxH[aria-label*="invisible" i],
.userPopout-3fydSP .wrapper-1VLyxH[aria-label*="offline" i],
#account-avatar .wrapper-1VLyxH[aria-label*="invisible" i]{
    box-shadow: 0 0 calc(var(--glow-intensity) * 25px) var(--rs-invisible-color);
}
section[aria-label="user area" i] .wrapper-1VLyxH[aria-label*="Online" i]{
    box-shadow: 0 0 calc(var(--glow-intensity, 0) * 12px * calc(1 + var(--avatar-change)/32)) var(--rs-online-color, #43b581);
}
section[aria-label="user area" i] .wrapper-1VLyxH[aria-label*="idle" i]{
    box-shadow: 0 0 calc(var(--glow-intensity, 0) * 12px * calc(1 + var(--avatar-change)/32)) var(--rs-idle-color, #faa61a);
}
section[aria-label="user area" i] .wrapper-1VLyxH[aria-label*="do not disturb" i]{
    box-shadow: 0 0 calc(var(--glow-intensity, 0) * 12px * calc(1 + var(--avatar-change)/32)) var(--rs-dnd-color, #982929);
}
section[aria-label="user area" i] .wrapper-1VLyxH[aria-label*="invisible" i]{
    box-shadow: 0 0 calc(var(--glow-intensity, 0) * 12px * calc(1 + var(--avatar-change)/32)) var(--rs-invisible-color, #808080);
}
.avatar-2Vndt_ {
    background-color: var(--background-floating) !important;
}
.avatar-3QF_VA{
    background-color: var(--background-floating);
}
#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile]:after{
    display: none;
}

/* Scuffed fix for hover on avatar in profile popout */
.avatarWrapperNormal-1tQ3Je .avatarHint-2g3Mcd foreignObject{
    mask: none;
}
.avatarWrapperNormal-1tQ3Je .avatarHint-2g3Mcd{
    border-radius: 50%;
    top: calc(3.5*(var(--rs-medium-width) + var(--rs-medium-spacing)));
    left: calc(3.5*(var(--rs-medium-width) + var(--rs-medium-spacing)));
}
[class^="avatarHoverTarget"]+svg[class^="avatarHint-"]{
    height: calc(var(--profile-popout-picture-size, 80px) - 1.75*(var(--rs-medium-width) + var(--rs-medium-spacing))) !important;
    width: calc(var(--profile-popout-picture-size, 80px) - 1.75*(var(--rs-medium-width) + var(--rs-medium-spacing))) !important;
}

/* Removes blocky-ness of glow in friends tab panels*/
.peopleListItem-u6dGxF .userInfo-2WpsYG {
    overflow: visible;
    max-width: calc(100% - 90px); /*100% - .actions-YHvpIT width*/

}
.peopleListItem-u6dGxF .userInfo-2WpsYG .text-3j8t_e{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}