/*PTB*/
section[aria-label="User area" i] .wrapper-1VLyxH [viewBox$="40"] foreignObject,
section[aria-label="User area" i] .wrapper-1VLyxH [viewBox$="40"] rect{
    width: calc(32px + var(--avatar-change, 0) * 1px) !important; /*default: 32px*/
    height: calc(32px + var(--avatar-change, 0) * 1px) !important;
    /*Increased avatar size*/
}


.userPopoutInner-PA9zkU .bannerSVGWrapper-qc0szY{
    height: calc(var(--profile-popout-picture-size, 80px) - 40px);
}
.avatarPositionNormal-V4Mjtq{
    top: 6px;
}
.avatarPositionPremiumBanner-2nq2Fy{
    top: 55px;
}
.userPopoutInner-PA9zkU .bannerSVGWrapper-qc0szY circle{
    r: calc(0.5*var(--profile-popout-picture-size) + 2*(var(--rs-medium-width, 0px) + var(--rs-medium-spacing, 0px)));
    cx: 78;
}
.userPopoutInner-PA9zkU:not(.userPopoutInnerWithBanner-wsoegj) .bannerSVGWrapper-qc0szY circle{
    cy: 62; 
}
.userPopoutInner-PA9zkU.userPopoutInnerWithBanner-wsoegj .bannerSVGWrapper-qc0szY circle{
    cy: 110;
}
.userPopoutInner-PA9zkU .wrapper-1VLyxH:not(.avatar-2OC07D),
.userPopoutInner-PA9zkU .wrapper-1VLyxH:not(.avatar-2OC07D) foreignObject,
.userPopoutInner-PA9zkU .wrapper-1VLyxH:not(.avatar-2OC07D) rect {
    height: var(--profile-popout-picture-size) !important;
    width: var(--profile-popout-picture-size) !important;
}

.wrapper-1VLyxH[style*="120px"]{
    margin: 0;
}
