/*-----OPTIONAL ADD-ONS-----*/
@import url(https://stevencaior.github.io/discord_themes/addons/alky_StatusPicker.css);
@import url(https://stevencaior.github.io/discord_themes/addons/alky_MessageBox.css);

/*-----TRIBUTE TO AUTHOR-----*/
/*Note: by author, I mean the author of this specific custom CV preset.
  There are already name tags for actual CV developers.*/
.contents-2MsGLg>img[src*="947934356880629760"]~.header-2jRmjb>.headerText-2z4IhQ>.username-h_Y3Us::after{
    content: "Nanosuit 2.0";
    color: currentColor;
    text-shadow: 0 0 2px currentColor;
    border: 1px solid;
    border-radius: 6px;
    margin-left: 8px;
    background-color: rgba(255,255,255,.07);
    font-size: 10px;
    padding: 0 5px;
}
/*-----PROFILE POPOUT-----*/
/*profile popout applies to the popout when clicking on user area*/
svg[class^="avatarHint"][width="80"] {
    transition-duration: 200ms;
    /*transition time when hover over profile pic*/
}
span[class^="avatarHintInnerText"]{
    font-size: 80%;
}
.userInfoSection-3her-v .userInfoBody-1zgAd0.clamped-2ZePhX{
    -webkit-line-clamp: 4;
    /*shorter about-me section*/
}
div[class^="userPopout"][style="width: 300px;"],
div[class^="userPopout"][style="width: 300px;"] .popoutBanner-3cqRD9{
    width: var(--profile-popout-width, 300px) !important;
    /*adjusts profile popout width*/
}
/* PROFILE BANNER */
[class^="userPopout"] [class^="headerNormal"]{
    background: transparent !important;
    /*creates transparency near bottom of banner*/
}
[class^="userPopout"] [class*="popoutBanner"]{
    -webkit-mask: linear-gradient(to bottom, #000, transparent 100%);
}
/* PROFILE PIC SIZE */
div[class^="userPopout"][style="width: 300px;"] > [class^="headerWrapper"] {
    background: var(--user-popout-overlay);
    /*consistent background color throughout profile popout*/
    height: var(--profile-popout-picture-size, 80px);
    /*adjusts popout height for profile picture size*/
}
#account{
    background: rgb(0,0,0,0.9);
}
#account-info > .headerTop-3GPUSF{
    padding-top: 44px;
}
#account-avatar{
    height: var(--profile-popout-picture-size, 80px);
}
#account-avatar > .popoutBanner-3cqRD9{
    height: 90px;
}
[class^="avatarHoverTarget"] > [class^="avatar"], /*.avatarHoverTarget-1zzfRL > .avatar-2Vndt_, .avatarHoverTarget-1zzfRL+svg.avatarHint-k7pYop */
[class^="avatarHoverTarget"]+svg[class^="avatarHint-"]{
    height: var(--profile-popout-picture-size, 80px) !important;
    width: var(--profile-popout-picture-size, 80px) !important;
    /*makes profile picture & hover filter a custom size*/
    /*1st selector is profile picture, 2nd selector is opacity filter*/
}
div[class^="userPopout"][style="width: 300px;"] div[class*="avatarPositionPremium"]{
    top: 16px !important;
    /*corrects avatar positioning*/
}
/* LONG USERNAME/NICKNAME SUPPORT */
.profileBannerPreview-3mLIdO > .headerTop-3GPUSF h3,
.userPopout-2j1gM4 > .headerTop-3GPUSF h3 {
    --h3-font-size: 14px;
    font-size: var(--h3-font-size, 20px);

    --h3-height: calc(2.5*var(--h3-font-size, 20px));
    line-height: var(--h3-height, 50px);

    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;

    text-overflow: ellipsis;
}
.profileBannerPreview-3mLIdO > .headerTop-3GPUSF .headerTagWithNickname-1U8zZH > span,
.userPopout-2j1gM4 > .headerTop-3GPUSF .headerTagWithNickname-1U8zZH > span{
    --span-font-size: 10px;
    font-size: var(--span-font-size, 14px);

    --span-height: calc(2.5*var(--span-font-size, 14px));
    line-height: var(--span-height, 35px);
}
.profileBannerPreview-3mLIdO > .headerTop-3GPUSF .username-3JLfHz,
.userPopout-2j1gM4 > .headerTop-3GPUSF .username-3JLfHz{  
    white-space: nowrap;
    max-width: 65%;
    overflow: hidden;
    display: inline-block;

    text-overflow: ellipsis;
}
/* User Area Popout */
#account-info .clickTarget-2uXro4 span.username-3JLfHz {
    white-space: nowrap;
    max-width: 14.8%;
    overflow: hidden;
    display: inline-block;

    text-overflow: ellipsis;
}
/*-----PROFILE MODALS-----*/
#app-mount [aria-label="User Profile Modal"] .topSection-13QKHs header .button-f2h6uQ{
    border-radius: 7px;
    /*rounds edges of the "Send Message/Friend Request" Box*/ 
}
#app-mount [aria-label="User Profile Modal"] [class*="nameTag-"] [class*="username-"]{
    max-width: 75%;
    white-space: nowrap;
}
/*-----CHANNEL COLUMN-----*/
.sidebar-1tnWFu > nav[aria-label*=" (server)"] .header-3OsQeK h1{
    text-align: center;
    /*centers server name*/
}
.wrapper-NhbLHG:hover > .content-1gYQeQ:before{
    background: rgb(var(--main-color-numerical),0.2);
    border-radius: 5px;
    margin-left: 3px;
    /*channel name highlight on hover*/
}
#channels {
    padding-right: 6px !important;
}
#channels li > [class*="wrapper-"][class*="modeMuted-"]:hover a[class^="mainContent-"]:before{
    background: transparent;
}
/*-----CHANNEL HEADER-----*/
/* GROUP DM NAME */
section[aria-label="Channel header"] [class^="outer-"]:hover input[name="channel_name"]+div{
    box-shadow: inset 0 0 0 1px rgb(var(--main-color-numerical), 0.7);
    /*box-shadow on hover*/
}
section[aria-label="Channel header"] [class^="outer-"]{
    margin-left: -2px;
}
section[aria-label="Channel header"] [class^="outer-"] input[name="channel_name"]:focus{
    box-shadow: inset 0 0 0 1.5px var(--main-color);
    background-color: rgb(var(--main-color-numerical),0.2);
    /*on select*/
}
/*-----TOOLBAR-----*/
/* SEARCH BAR */
div[class^="toolbar-"] div[class^="search-"] > div[class^="searchBar-"]  {
    border-radius: 8px;
    width: 320px;
    /*stylizes search bar*/
    transition: 300ms;
    /*transition time for expanding search bar*/
}
div[class^="toolbar-"] div[class^="search-"] > div[class^="searchBar-"]:hover{
    width: 470px;
    /*search bar on size hover*/
}
/*-----WINDOWS BUTTONS-----*/
div[class^="winButton"] {
    color:var(--main-color);
    /*sets default color of icons. default: var(--interactive-normal)*/
    background: transparent;
    transition: background-color 250ms linear !important;
    /*sets default background color and transition for windows buttons*/
}
/*-----SERVER FOLDERS-----*/
[aria-label$=", folder "][data-list-item-id^="guildsnav"] [class^="folderIconWrapper"] svg{
    color: var(--main-color) !important;
}
[aria-label$=", folder "][data-list-item-id^="guildsnav"][aria-expanded="false"] [class^="folderIconWrapper"]{
    background-color: rgb(var(--main-color-numerical), 0.4) !important;
}
/*-----PING TEXT-----*/
div[id^="message-content"] > span.mention{
    background: rgb(var(--main-color-numerical), 0.2);
    /*highlight box around pings*/
    color:var(--main-color);
    /*text color of pings*/
    padding: 1px 4px;
    /*extra vertical padding in ping box*/
}
/* MENTIONED HIGHLIGHT BOX */
[class*="mentioned-"][aria-roledescription="Message"]{
    background: rgb(var(--main-color-numerical), 0.15); 
    /*main highlight box*/
}
[class*="mentioned-"][aria-roledescription="Message"]:hover{
    background: rgb(var(--main-color-numerical), 0.25) !important; 
}
[class*="mentioned-"][aria-roledescription="Message"]:before,
.replying-eZ7p5z:before {
    background: var(--main-color);
    width: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*far left vertical line*/
}
/*-----CUSTOM STATUS MODAL-----*/
.art-2Y6Pk3{
    display: none;
}
[class^="focusLock"][aria-label="Set a custom status"]{
    background: #000;
    border-radius: 20px;
}
[class^="focusLock"][aria-label="Set a custom status"] > div{
    background: transparent;
}
/* EMOJI */
[aria-label="Set a custom status"] [class^="sprite"] {
    background-position: 0px -22px !important;
    /*default emoji is custom emoji*/
    filter: grayscale(100%) !important;
    /*emoji gray unless select*/
}
/* CLEAR AFTER & STATUS */
.layer-2aCOJ3 > .popout-1KHNAq .option-2eIyOn:focus{
    background-color: initial;
    border: transparent;
}
.layer-2aCOJ3 > .popout-1KHNAq {
    background: rgb(0,0,0,0.9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*dropdown menu*/
}
.layer-2aCOJ3 > .popout-1KHNAq .option-2eIyOn:hover,
.layer-2aCOJ3 > .popout-1KHNAq .option-2eIyOn[aria-selected="true"]{
    border: solid 2px var(--main-color);
    border-radius: 3px;
    /*border when hover or select*/
    /*this part actually affects a lot of code so um yeah*/
}
.layer-2aCOJ3 > .popout-1KHNAq .option-2eIyOn:hover{
    background: rgb(var(--hover-color-numerical), 0.4);
    /*background highlight when hover option*/
}
.layer-2aCOJ3 > .popout-1KHNAq .option-2eIyOn[data-list-item-id$="invisible"]:hover,
.layer-2aCOJ3 > .popout-1KHNAq .option-2eIyOn[data-list-item-id$="null"]:hover{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    bottom: 2px;
}
.layer-2aCOJ3 > .popout-1KHNAq .option-2eIyOn[aria-selected="true"] > .selectedIcon-19TbzU{
    display: none;
    /*removes check circle for selected option*/
}
/*-----BOTTOM LEFT PROFILE TAB-----*/
section[aria-label="User area" i] > .container-YkUktl {
    --avatar-change: 8;
  
    padding-top: 3px;
    padding-bottom: 3px;
    /*Adds spacing upwards and downwards*/
}
section[aria-label="User area" i] .wrapper-1VLyxH{
    width: calc(32px + var(--avatar-change, 0) * 1px) !important; /*default: 32px*/
    height: calc(32px + var(--avatar-change, 0) * 1px) !important;
    /*Increased avatar size*/
}
section[aria-label="user area" i] .wrapper-1VLyxH[aria-label*="Online" i]{
    box-shadow: 0 0 calc(var(--glow-intensity, 0) * 12px * calc(1 + var(--avatar-change)/32)) var(--rs-online-color, #43b581);
}
section[aria-label="user area" i] .wrapper-1VLyxH[aria-label*="idle" i]{
    box-shadow: 0 0 calc(var(--glow-intensity, 0) * 12px * calc(1 + var(--avatar-change)/32)) var(--rs-idle-color, #faa61a);
}
section[aria-label="user area" i] .wrapper-1VLyxH[aria-label*="do not disturb" i]{
    box-shadow: 0 0 calc(var(--glow-intensity, 0) * 12px * calc(1 + var(--avatar-change)/32)) var(--rs-dnd-color, #982929);
}
section[aria-label="user area" i] .wrapper-1VLyxH[aria-label*="invisible" i]{
    box-shadow: 0 0 calc(var(--glow-intensity, 0) * 12px * calc(1 + var(--avatar-change)/32)) var(--rs-invisible-color, #808080);
}
/* MUTE/DEAFEN/SETTINGS BUTTONS */
/* Unhovered buttons */
[aria-label="User area"] [aria-label="Set Status"]+div{
    background: rgb(var(--main-color-numerical),0.3);
}
[aria-label="User area"] [aria-label="Set Status"]+div div > svg {
    opacity: 0.9;
    /*opacity for all the button icons*/
}
[aria-label="User area"] [aria-label="Set Status"]+div button path{
    fill: var(--main-color);
    /*adds color for all the button icons when not on hover*/
    transition: all 350ms ease-in-out;
    /*specifically stabilizes transition when hovering off icon*/
}
/* Hovered buttons */
[aria-label="User area"] [aria-label="Set Status"]+div button:hover{
    background-color: var(--main-color);
    /*sets background color to icon on hover*/
}
/* Button Separators */
[aria-label="User area"] [aria-label="Set Status"]+div button:before{
    display: none;
    /*removes the thin lines between icons*/
}
/* Border radius correction on hover*/
[aria-label="User area"] button[aria-label="Mute"]:hover{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
[aria-label="User area"] button[aria-label="User Settings"]:hover{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/*-----CONTEXT MENUS, SUBMENUS & SEARCH BOX-----*/
[class^="addGamePopout-"][aria-label="Add Game"],
#channel-context,
#guild-context,
#guild-header-popout,
#message,
#user-context, #user-profile-actions,
#status-picker, #uid_33, #message [aria-activedescendant^="message"],
#user-context [aria-activedescendant^="user-context"],
#status-picker [aria-activedescendant^="status-picker"] {
    background: #000;
    border-radius: 15px;
    /*includes #status-picker, submenus among other things*/
}
/*-----CHAT BOX-----*/
/* JOIN BUTTON */
/*ex. the join button when receive server invite*/
[data-list-id="chat-messages"] button[class*="lookFilled"][class*="colorGreen"]{
    background: rgb(var(--main-color-numerical),0.5) !important;
    border: 2px solid var(--main-color) !important;
}
[data-list-id="chat-messages"] button[class*="lookFilled"][class*="colorGreen"]:hover{
    background: var(--main-color) !important;
}
/* LARGER PROFILE PIC IN CHAT BOX */
.message-2CShn3.cozy-VmLDNB{
    --chat-avatar-change: 1rem;
}
.message-2CShn3.cozy-VmLDNB .contents-2MsGLg img.avatar-2e8lTP{
    width: calc(2.5rem + var(--chat-avatar-change)); /*default: 2.5rem when scaled down, otherwise 40px*/
    height: calc(2.5rem + var(--chat-avatar-change));
    left: calc(0.2*var(--chat-avatar-change) + 0.6rem); /*better than the default postioning*/
    top: 0.375rem; /*I don't know why this is here but I think it's important*/
    margin-top: 0;
}
.message-2CShn3.cozy-VmLDNB.hasReply-2Cr4KE .contents-2MsGLg img.avatar-2e8lTP{
    top: 1.5rem;
}
/* ADJUSTED PADDING TO FIT LARGER PICS */
.message-2CShn3.groupStart-3Mlgv1.cozy-VmLDNB.wrapper-30-Nkg{
    padding-top: calc(0.3rem + var(--chat-avatar-change));
}
.message-2CShn3.cozy-VmLDNB.wrapper-30-Nkg{
    --text-size-adjust: calc(1rem - 18px);
    padding-left: calc(72px + 1.25*var(--chat-avatar-change) + 3.5*var(--text-size-adjust)); /*default: 72px*/
}
.message-2CShn3.cozy-VmLDNB [id^="message-reply-context-"]{ 
    bottom: calc(var(--chat-avatar-change) - 0.05rem);
    right: calc(var(--chat-avatar-change)*0.55 + 0.1rem + 1.5*var(--text-size-adjust)); /*0.1rem is important, otherwise is off center*/
}
/* MINIMIZE LONG USERNAME */
.contents-2MsGLg > .header-2jRmjb > .headerText-2z4IhQ >.username-h_Y3Us{
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 30%;
    white-space: nowrap;
}
/*-----ABOVE MESSAGE BOX-----*/
/* AUTOCOMPLETE BOX */
.autocomplete-3NRXG8 .autocompleteInner-y1mjDl{ /*not sure if works*/
    background: rgb(0,0,0,0.9);
    border-radius: 15px;
}
/* JUMP TO PRESENT BAR */
.jumpToPresentBar-1cEnH0{
    border-radius: 6px;
    background: rgb(0,0,0,0.9);
}
/* REPLYING TO BAR */
.attachedBars-2BCP3l{
    background: rgb(0,0,0,0.6);
    border-radius: 12px;
    border: 2px solid rgb(var(--main-color-numerical),0.8);
    margin-bottom: 1px;
}