:root{
    /*Change these to whatever you like*/
    --blocked-message-accent: var(--accent, var(--main-color, var(--status-danger)));
    --blocked-message-background: #000;
    --blocked-message-vertical-padding: 8px;
    --blocked-message-border-width: 3px;
}
[class*="blockedSystemMessage-"] .iconContainer-2rPbqG,
[class*="blockedSystemMessage-"] [class*="blockedMessageText-"]{
    display: none;
}
[class*="blockedSystemMessage-"] .content-vSHmMD{
    color: var(--blocked-message-accent);
    text-shadow: 0 0 5px;
    font-weight: 600;
    background: var(--blocked-message-background);
    padding: var(--blocked-message-vertical-padding) 10ch;
    border-radius: 5px;
    border: var(--blocked-message-border-width) solid;
}
[class*="blockedSystemMessage-"] .content-vSHmMD:after{
    content: "Blocked Messages Hidden"; 
}