:root{
    --twitter-color: #1da1f2;   /* Src: https://help.twitter.com/content/dam/help-twitter/brand/logo.png */
    --facebook-color: #0866ff;  /* Src: https://about.meta.com/brand/resources/facebook/logo */
    --youtube-color: #f00;
}
.socialLinks-3ywLUf{
    display: flex;
    flex-direction: column;
}
[class*="anchorUnderlineOnHover_"][aria-label="twitter" i],
[class*="anchorUnderlineOnHover_"][title="twitter" i]{
    color: var(--twitter-color);
}
[class*="anchorUnderlineOnHover_"][aria-label="instagram" i],
[class*="anchorUnderlineOnHover_"][title="instagram" i]{
    color: #0000;
}
[class*="anchorUnderlineOnHover_"][aria-label="instagram" i] svg,
[class*="anchorUnderlineOnHover_"][title="instagram" i] svg {
    background: url('https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/tBxa1IFcTQH.png') no-repeat center / 15px;
}
[class*="anchorUnderlineOnHover_"][aria-label="facebook" i],
[class*="anchorUnderlineOnHover_"][title="facebook" i]{
    color: var(--facebook-color);    
}
[class*="anchorUnderlineOnHover_"][aria-label="youtube" i],
[class*="anchorUnderlineOnHover_"][title="youtube" i]{
    color: var(--youtube-color);    
}
[class*="anchorUnderlineOnHover_"][aria-label="twitter" i]:hover path,
[class*="anchorUnderlineOnHover_"][title="twitter" i]:hover path,
[class*="anchorUnderlineOnHover_"][aria-label="instagram" i]:hover,
[class*="anchorUnderlineOnHover_"][title="instagram" i]:hover,
[class*="anchorUnderlineOnHover_"][aria-label="facebook" i]:hover path,
[class*="anchorUnderlineOnHover_"][title="facebook" i]:hover path,
[class*="anchorUnderlineOnHover_"][aria-label="youtube" i]:hover path,
[class*="anchorUnderlineOnHover_"][title="youtube" i]:hover path{
    filter: brightness(1.2); /* doesn't work well with youtube? */
}
[class*="anchorUnderlineOnHover_"][aria-label="tiktok" i] svg,
[class*="anchorUnderlineOnHover_"][title="tiktok" i] svg{
    background: linear-gradient(135deg,#27f4ee,#fe2c55);
    border-radius: 3px;
}
[class*="anchorUnderlineOnHover_"][aria-label="tiktok" i],
[class*="anchorUnderlineOnHover_"][title="tiktok" i]{
    color: rgb(255,255,255,0.7);
}
[class*="anchorUnderlineOnHover_"][aria-label="Instagram"]:hover,
[class*="anchorUnderlineOnHover_"][title="Instagram"]:hover,
[class*="anchorUnderlineOnHover_"][aria-label="tiktok" i]:hover,
[class*="anchorUnderlineOnHover_"][title="tiktok" i]:hover{
    color: rgb(255,255,255,0.3);
}
.socialLinks-3ywLUf [class*="anchorUnderlineOnHover_"]:after{
    margin-left: 5px;
    vertical-align: top;
    line-height: 18px;
}
.socialLinks-3ywLUf [class*="anchorUnderlineOnHover_"]{
    color: var(--accent, var(--main-color, #2780e6));
}
.socialLinks-3ywLUf [class*="anchorUnderlineOnHover_"]:hover{
    color: var(--accent-2, var(--hover-color, #1e63b3));
}
.socialLinks-3ywLUf [class*="anchorUnderlineOnHover_"][title="Twitter"]:after{
    content: "[ Twitter ]";
}
.socialLinks-3ywLUf [class*="anchorUnderlineOnHover_"][title="Instagram"]:after{
    content: "[ Instagram ]";
}
.socialLinks-3ywLUf [class*="anchorUnderlineOnHover_"][title="Facebook"]:after{
    content: "[ Facebook ]";
}
.socialLinks-3ywLUf [class*="anchorUnderlineOnHover_"][title="youtube" i]:after{
    content: "[ YouTube ]";
}
.socialLinks-3ywLUf [class*="anchorUnderlineOnHover_"][title="tiktok" i]:after{
    content: "[ TikTok ]";
}
.socialLinks-3ywLUf [class*="anchorUnderlineOnHover_"][title="BetterDiscord"]:after{
    content: "[ BetterDiscord ]";
}