/*
This is meant to be an add-on to ClearVision themes

Notes for self: -35px for 30px, 20px; -25px for 30px, 0px
*/
@import url(https://stevencaior.github.io/discord_themes/addons/SourrR34_PeopleListRedone.css);

:root{
    /* --main-color-numerical: 39, 128, 230;
    You should set this to the RGB values of whatever --main-color is for your ClearVision theme. the default is 39, 128, 230 */
}

.peopleListItem-u6dGxF,
.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover,
.peopleListItem-u6dGxF.active-2UF8Zh+.peopleListItem-u6dGxF,
.peopleListItem-u6dGxF:hover+.peopleListItem-u6dGxF{
    border: 3px solid  rgb(var(--main-color-numerical, 39, 128, 230), 0.75); /*border is consistent. does NOT disappear on hover or click*/
}
.peopleListItem-u6dGxF{
    background: unset;
}
.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover{
    background: rgb(var(--main-color-numerical, 39, 128, 230), 0.3);
}