[class*="spoilerMarkdownContent-"] pre:before, /*code block*/
[class*="spoilerMarkdownContent-"] {
    background: none;
}
[class*="spoilerMarkdownContent-"] pre code, /*code block*/
[class*="spoilerMarkdownContent-"] code, /*inline code*/
[class*="spoilerMarkdownContent-"] [class*="obscuredTextContentInner-"] span{
    opacity: 1;
}
[class*="spoilerMarkdownContent-"] code,
[class*="spoilerMarkdownContent-"] [class*="obscuredTextContentInner-"] > span,
[class*="spoilerMarkdownContent-"] [class*="obscuredTextContentInner-"] a span{
    transition: filter .2s ease;
    filter: blur(4px);
    pointer-events: all;
}
[class*="spoilerMarkdownContent-"] [class*="obscuredTextContentInner-"] > span{
    color: var(--text-normal);
}
[class*="spoilerMarkdownContent-"] [class*="obscuredTextContentInner-"] a span:not(.highlight){
    color: var(--url-color, --text-link)
}
[class*="spoilerMarkdownContent-"]:not([class*="hidden-"]) code,
[class*="spoilerMarkdownContent-"]:hover code,
[class*="spoilerMarkdownContent-"]:not([class*="hidden-"]) [class*="obscuredTextContentInner-"] span,
[class*="spoilerMarkdownContent-"]:hover [class*="obscuredTextContentInner-"] span{
    filter: none;
}