/*
A simpler theme based on Crysis 2 HUD
*/

@import url(https://stevencaior.github.io/discord-themes/project-nova/project-nova.css);

.theme-amoled,
.theme-dark,
.theme-darker,
.theme-light{
    /* Accent */
    --accent-hue: 192.321;
    --accent-saturation-base: 100%;
    --accent-saturation-coefficient: .5; /*.5*/
    --accent-lightness-base: 78.039%;
    --accent-lightness-coefficient: .7; /*.769*/
    --accent-contrast: #000;

    /* Background */
    --background-image: #000;
    --background-shading: #0000;

    /* Home Button */
    --home-icon: url(https://i.imgur.com/3KHlCMw.png);

    /* User Popout + Modal */
    --popout-color-bottom: #000;

    /* Discord Vars */
    --modal-background: #080808; /*matches --modal-footer-background*/

    /* Miscellaneous */
    --watermark: "CRYNET SYSTEMS";
}