@import url(https://stevencaior.github.io/discord_themes/project_nova/projectNova_SourrR34.css);

.theme-amoled,
.theme-dark,
.theme-darker,
.theme-light{
    --accent-hue: 33;
    --accent-saturation-base: 100%;
    --accent-saturation-coefficient: 1;
    --accent-lightness-base: 50%;
    --accent-lightness-coefficient: .8;

    --background-image: radial-gradient(ellipse closest-side, rgb(0,35,38), rgb(0,0,0));
    --background-shading: 0;

    --popup-color: hsl(203 9% 8%); /*original rgb(40, 45, 48)*/
    --popup-border-color: #5c6166; /*#545b5e*/

    --background-floating: var(--popup-color);/*affects the search results dropdown*/
    --background-modifier-accent: var(--popup-border-color);
    --background-secondary-alt: var(--popup-color);
    --deprecated-text-input-bg: var(--popup-color);
    --input-background: var(--popup-color);

    --popout-color-top: var(--popup-color);
    --popout-color-bottom: var(--popup-color);
    --server-sidebar-width: 72px;
}
.container__037ed, /* spacing between server bar and channel list */
.content__4bf10, /* spacing between channel list and main content */
.content__1a4fe /* spacing between member list and main content */ {
    column-gap: 20px;
}
.wrapper_a7e7a8 /* spacing to left of server bar */,
[class*="sidebarRegionScroller_"] /* spacing to left of settings sidebar */{
    margin-left: 20px;
}
.base__3e6af{
    /*increases visibility of user area. gonna cause a host of issues tho*/
    overflow: visible;
    max-width: calc(100% - var(--server-sidebar-width) - 44px); /*72px server bar, 40px for total columns + margin, 4px for total border width of server wrapper*/
}
.chat__52833{
    /*72px server bar, 60px for total columns + margin*/
    max-width: calc(100vw - var(--server-sidebar-width) - var(--channels-width) - 60px);
}
:root .container__590e2 /* Channel Container */,
.privateChannels__93473 /* Private Channels */,
.wrapper_a7e7a8 /* Server Bar Wrapper */,
[class*="sidebarRegionScroller_"] /* User Settings Sidebar */{
    background: var(--popup-color); 
    border: 2px solid var(--popup-border-color);
    border-radius: 5px;
    top: 20px;
}
:root .container__590e2,
.privateChannels__93473{
    flex: 0 1 calc(100vh - 134px);
}
:root.platform-web .container__590e2,
.platform-web .privateChannels__93473{
    flex-basis: calc(100vh - 112px);
}
.wrapper_a7e7a8{
    height: calc(100vh - 134px);
}
.platform-web .wrapper_a7e7a8{
    height: calc(100vh - 112px);
}
[class*="sidebarRegionScroller_"]{
    height: 95%;
}
[class*="sidebarRegionScroller_"]::-webkit-scrollbar{
    /* Disables scrollbar in User Settings Sidebar*/
    display: none;
}
[aria-label="user area" i]{
    background: var(--popup-color);
    border: 2px solid var(--popup-border-color);
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: -92px;
    width: calc(var(--channels-width) + var(--server-sidebar-width) + 20px);
}
[aria-label="user area" i] [class*="container_"]{
    justify-content: space-between;
}
[class*="userProfileOuterUnthemed_"]{
    border: 4px solid var(--popup-color);
    box-shadow: 0 0 0 2px var(--popup-border-color);
}
:root .title_b7d661 {
    background: var(--popup-color);
    border: 2px solid var(--popup-border-color);
    border-radius: 5px;
    margin-top: 20px;
    width: calc(100% - 1px);
}
[class*="channelTextArea_"]{
    background: var(--popup-color);
    border: 2px solid var(--popup-border-color);
    border-radius: 5px;
}
[class*="channelTextArea_"]:focus-within{
    box-shadow: none;
}
[class*="channelTextArea_"]:focus-within .placeholder_e68c63{
    text-shadow: 0 0 5px;
}
[class*="membersWrap_"],
.profilePanel__12596{
    background: var(--popup-color);
    margin-top: 20px;
    max-height: calc(100% - 46px); /* lines up with text area*/
}
[class*="membersWrap_"]{
    border: 2px solid var(--popup-border-color);
}
[class*="membersWrap_"],
[class*="userProfileOuterUnthemed_"] /*user popout + panel*/{
    border-radius: 5px;
}
.profilePanel__12596{
    right: 4px;
}
.profilePanel__12596 [class*="userProfileOuterUnthemed_"]{
    box-sizing: border-box;
}