@import url(https://stevencaior.github.io/discord_themes/project_nova/projectNova_SourrR34.css);

.theme-amoled,
.theme-dark,
.theme-darker,
.theme-light
{
    --watermark: "StarCraft II";

    /* Accent */
    --accent-hue: 127;
    --accent-saturation-base: 40%;
    --accent-saturation-coefficient: .8;
    --accent-lightness-base: 60%;
    --accent-lightness-coefficient: .8;
    --accent-contrast: #000; /*#000, #fff*/

    /* Background */
    --background-image: url(https://cdna.artstation.com/p/assets/images/images/025/620/426/large/nak-ma-1586374598815.jpg);
    --background-shading: rgb(0,0,0,.5);

    /* Home Button */
    --home-icon: url(https://i.imgur.com/QNZ0Vi2.png);
}