@import url(https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap);
@import url(https://stevencaior.github.io/discord_themes/project_nova/foreverDark.css);
@import url(https://stevencaior.github.io/discord_themes/addons/SourrR34_PlatformIndicatorSupport.css);

.theme-amoled,
.theme-dark,
.theme-darker,
.theme-light{
    /* Brand Replacement */
	--brand-130-hsl: var(--accent-hsl);
	--brand-160-hsl: var(--accent-hsl);
	--brand-200-hsl: var(--accent-hsl);
	--brand-230-hsl: var(--accent-hsl);
	--brand-260-hsl: var(--accent-hsl);
	--brand-300-hsl: var(--accent-hsl);
	--brand-330-hsl: var(--accent-hsl);
	--brand-345-hsl: var(--accent-hsl);
	--brand-360-hsl: var(--accent-hsl);
	--brand-400-hsl: var(--accent-hsl);
	--brand-430-hsl: var(--accent-hsl);
	--brand-460-hsl: var(--accent-hsl);
	--brand-500-hsl: var(--accent-hsl);
	--brand-530-hsl: var(--accent-hsl);
	--brand-560-hsl: var(--accent-hsl);
	--brand-600-hsl: var(--accent-hsl);
	--brand-630-hsl: var(--accent-hsl);
	--brand-660-hsl: var(--accent-hsl);
	--brand-700-hsl: var(--accent-hsl);
	--brand-730-hsl: var(--accent-hsl);
	--brand-760-hsl: var(--accent-hsl);
	--brand-800-hsl: var(--accent-hsl);
	--brand-830-hsl: var(--accent-hsl);
	--brand-860-hsl: var(--accent-hsl);
	--brand-900-hsl: var(--accent-hsl);

    /* Guild Boosting */
    --guild-boosting-blue-hsl: var(--accent-hsl);
    --guild-boosting-blue-for-gradients-hsl: var(--accent-hsl);
    --guild-boosting-pink-hsl: var(--accent-hsl);
    --guild-boosting-purple-hsl: var(--accent-hsl);
    --guild-boosting-purple-for-gradients-hsl: var(--accent-hsl);

    /* Tier 0 Stuff */
    --premium-tier-0-blue-hsl: var(accent-hsl);
    --premium-tier-0-blue-for-gradients-hsl: var(accent-hsl);
    --premium-tier-0-blue-for-gradients-2-hsl: var(accent-hsl);

    --premium-tier-0-header-gradient-1-hsl: var(--accent-hsl);
    --premium-tier-0-header-gradient-2-hsl: var(--accent-hsl);
    --premium-tier-0-header-gradient-3-hsl: var(--accent-hsl);
    --premium-tier-0-header-gradient-4-hsl: var(--accent-hsl);
    --premium-tier-0-header-gradient-5-hsl: var(--accent-hsl);

    --premium-tier-0-purple-hsl: var(accent-hsl);
    --premium-tier-0-purple-for-gradients-hsl: var(accent-hsl);

    /* Tier 1 Stuff */
    --premium-tier-1-blue-hsl: var(--accent-hsl);
    --premium-tier-1-blue-for-gradients-hsl: var(--accent-hsl);
    --premium-tier-1-dark-blue-for-gradients-hsl: var(--accent-hsl);
    --premium-tier-1-purple-hsl: var(--accent-hsl);

    /* Tier 2 Stuff */
    --premium-tier-2-pink-hsl: var(--accent-hsl);
    --premium-tier-2-pink-for-gradients-hsl: var(--accent-hsl);
    --premium-tier-2-pink-for-gradients-2-hsl: var(--accent-hsl);
    --premium-tier-2-purple-hsl: var(--accent-hsl);
    --premium-tier-2-purple-for-gradients-hsl: var(--accent-hsl);
    --premium-tier-2-purple-for-gradients-2-hsl: var(--accent-hsl);

    --watermark: "Nova Squadron";

    /* Accent */
    --accent: hsl(var(--accent-hsl));
    --accent-hsl: var(--accent-hue) var(--accent-saturation-base) var(--accent-lightness-base);
    --accent-2: hsl(var(--accent-2-hsl));
    --accent-2-hsl: var(--accent-hue) calc(var(--accent-saturation-coefficient) * var(--accent-saturation-base)) calc(var(--accent-lightness-coefficient) * var(--accent-lightness-base));
    --accent-hue: 210;
    --accent-saturation-base: 100%;
    --accent-saturation-coefficient: 1;
    --accent-lightness-base: 55%;
    --accent-lightness-coefficient: .8;
    --accent-contrast: #fff; /*#000, #fff. rule of thumb, #000 is --accent-lightness-base is greater than 50%. otherwise #fff. */

    /* Status Colors */
    --online-color: hsl(150 75% 45%);
    --idle-color: hsl(50 75% 45%);
    --dnd-color: hsl(0 75% 45%);
    --streaming-color: hsl(264.13 100% 63.922%);
    --offline-color: hsl(0 0% 53%);

    /* Fonts */
    --font-global: Jura, Titillium Web;
    --font-primary: var(--font-global);
    --font-headline: var(--font-global);
    --font-display: var(--font-global);
    --code-font: Consolas, monospace;

    /* Background */
    --background-image: url(https://i.imgur.com/RKkWBu0.png);
    --background-position: center;
    --background-size: cover;
    --background-repeat: no-repeat;
    --background-attachment: fixed;
    --background-shading: rgb(0,0,0,.7);/*do not go any lower than this, else yo uwon't be able to see muted channels*/

    /* Home Button */
    --home-icon: url(https://i.imgur.com/bWAghNX.png); /*url(https://i.imgur.com/QNZ0Vi2.png)*/

    /* User Popout + Modal */
    --popout-color-top: #000;
    --popout-color-bottom: var(--accent);
    --popout-top-percent: 90%;
    --popout-background: linear-gradient(var(--popout-color-top), var(--popout-top-percent), var(--popout-color-bottom));

    /* Discord Vars */
    --background-mentioned: hsl(var(--accent-hsl) / .2);
    --background-mentioned-hover:  hsl(var(--accent-hsl) / .14);
    --background-mobile-primary:#101010;
    --background-primary: #0000;
    --background-secondary: #0000;
    --background-secondary-alt: rgb(24,24,24,.7); /*role dot backgrounds, role bg in popouts, connections, popout preview in profiles*/
    --background-tertiary: #0000; /*default: var(--primary-700) (same as --input-background)*/
    --channel-icon: var(--channels-default);
    --channeltextarea-background: rgb(0,0,0,.3);
    /**--channels-default: hsl(var(--accent-hsl) / .7);/**/
    --focus-primary: var(--accent);
    --header-primary: var(--accent);
    --home-background: #0000;
    --input-background: rgb(255,255,255,.1); /*default: var(--primary-700) (same as --background-tertiary)*/
    --input-placeholder-text: var(--accent);
    --modal-background: #101010;
    --modal-footer-background: #080808;
    --scrollbar-auto-scrollbar-color-thumb: var(--accent);
	--scrollbar-auto-scrollbar-color-track: #0000;
	--scrollbar-auto-thumb: var(--accent);
	--scrollbar-auto-track: #0000;
	--scrollbar-thin-thumb: var(--accent);
    --text-link: var(--accent);

    /* Non-Root Discord Vars */
    --profile-body-background-color: rgb(255,255,255,.03);

    /* Miscellaneous */
    --code-background: rgb(30,30,30); /*matches that of vs code*/
    --channels-width: 240px; /*default: 240px. works well with 125%*/
    --members-width: 300px;
    --profile-panel-width: var(--members-width);
    --setting-sidebar-width: 240px;
    --spotify-color: hsl(141.4 76.1% 47.6%);
}
/*-----AUTHOR TRIBUTE-----*/
img[src*="947934356880629760"]~.header__39b23 [class*="headerText_"] span[class*="username_"]::after{
    content: "Nanosuit 2.0";
    text-shadow: 0 0 2px;
    border: 1px solid;
    border-radius: 8px;
    margin-left: 8px;
    font-size: .6rem;
    padding: 1px 5px;
}
[class*="banner"][style*="rgb(69, 69, 69);"]{
    background-image: url(https://i.imgur.com/jGwsi13.png) !important;
    background-position: 55% 15%;
}
/*----------*/
#app-mount{
    background: var(--background-image) var(--background-position) /
    var(--background-size) var(--background-repeat)
    var(--background-attachment);
}
#app-mount > div[class*="titleBar"]{
    margin-top: 0;
    height: 22px;
}
#app-mount > div[class*="titleBar"],
[class*="appAsidePanelWrapper_"]{
    background: var(--background-shading);
}
/*-----TITLE BAR + WINDOWS BUTTONS-----*/
[class*="winButton_"]{
    color: var(--accent);
    top: 0;
    width: calc(100%/9);
}
[class*="winButton_"]:hover:not([aria-label="Close"]){
    background: var(--accent);
    color: var(--accent-contrast);
}
/* WATERMARK */
#app-mount > div[class*="titleBar"] > div:first-child{
    padding: 5px 9px;
}
#app-mount > div[class*="titleBar"] > div:first-child:before{
    content: var(--watermark);
    color: var(--accent);
    font-size: 14px;
    font-weight: 600;
}
#app-mount > div[class*="titleBar"] > div:first-child svg{
    display: none;
}
/*-----SCROLL BARS-----*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
	background: var(--accent);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:active{
    background: var(--accent-2);
}
/*-----UNREAD BUTTONS-----*/
.mention__1afd3,
.mention__1afd3:active,
.unread__75c9f,
.unread__75c9f:active{
    background: var(--accent);
}
.mention__1afd3,
.unread__75c9f{
    color: var(--accent-contrast);
    font-size: 13px;
    line-height: 1.2;
    opacity: 1;
}
.mention__1afd3:hover,
.unread__75c9f:hover{
    background: var(--accent-2);
}
/*-----SERVER BAR-----*/
.wrapper_d281dd[class*="selected_"] [class*="childWrapper_"],
.wrapper_d281dd:hover [class*="childWrapper_"]{
    /* home button discord logo, servers w/o avatars */
    color: var(--accent-contrast)
}
[class*="expandedFolderBackground_"]{
    background: rgb(255,255,255,.1);
}
.circleIconButton_d8df29{
    color: var(--accent);
}
.circleIconButton_d8df29[class*="selected_"]{
    background: var(--accent);
    color: var(--accent-contrast);
}
/*-----SIDEBAR-----*/
.platform-win .sidebar_ded4b5{
    border-radius: 8px 8px 0 0;
}
.sidebar_ded4b5{
    width: var(--channels-width);
}
.sidebar_ded4b5 .channel_c21703{
    max-width: calc(14*var(--channels-width)/15);
}
#channels{
    padding-right: 8px !important; /*same padding as .scroller_f0f183 which is a class it has (overwritten by element.style which is dumb)*/
}
/*-----MEMBER LIST-----*/
.members__9f47b{
    width: var(--members-width);
}
.members__9f47b .member_aa4760{
    max-width: calc(14*var(--members-width)/15);
}
/*-----DIRECT MESSAGES, CHANNEL LIST AND MEMBER LIST-----*/
[class*="interactiveSelected_"],
.interactive__776ee:focus-within,
.interactive__776ee:hover,
.interactive_a868bc .highlighted__7bba7,
[class*="modeSelected_"] .link__95dc0,
[class*="modeSelected_"]:hover .link__95dc0,
[class*="modeSelected_"] .icon_eff5d4,
[class*="modeSelected_"] .name__8d1ec,
[class*="modeSelected_"] .actionIcon_d679b5,
[class*="modeUnread_"] .icon_eff5d4,
[class*="modeUnread_"] .name__8d1ec,
[class*="modeConnected_"] .icon_eff5d4,
[class*="modeConnected_"] .name__8d1ec,
[class*="modeConnected_"] .actionIcon_d679b5,
.wrapper__7bcde:hover .icon_eff5d4,
.wrapper__7bcde:hover .name__8d1ec,
.wrapper__7bcde:hover .actionIcon_d679b5,
.selected__9800b .layout_bb8e67,
.selected__9800b .layout_bb8e67 .icon_fcc53a,
.selected__9800b .layout_bb8e67 .activity__3cbac,
.clickable__17ccb.container__4f20e:hover{
    color: var(--accent);
}
.unreadRelevant__44f9e{
    /*unread marker*/
    background: var(--accent);
}
[class*="interactiveSelected_"],
[class*="modeSelected_"] .link__95dc0,
.selected__9800b .layout_bb8e67{
    border: 3px solid;
}
[class*="interactiveSelected_"],
.interactive__776ee:focus-within,
.interactive__776ee:hover,
[class*="modeSelected_"] .link__95dc0,
.wrapper__7bcde:hover .link__95dc0,
.selected__9800b .layout_bb8e67,
.clickable__17ccb.container__4f20e:hover,
[class*="categoryItem_"][class*="selectedCategoryItem_"] [class*="itemInner_"]/*discover section*/
{
    background: hsl(var(--accent-hsl) / .1);
}
.clickable__17ccb:hover .layout_bb8e67{
    background-color: unset;
}
.interactive__776ee,
.wrapper__7bcde .link__95dc0,
.layout_bb8e67,
.clickable__17ccb.container__4f20e{
    border-radius: 99px;
}
.interactive_a868bc .highlighted__7bba7,
.interactive__776ee:focus-within:not([class*="interactiveSelected_"]),
.interactive__776ee:hover:not([class*="interactiveSelected_"]),
.wrapper__7bcde:hover:not([class*="modeSelected_"]) .name__8d1ec,
[class*="modeUnread_"] .name__8d1ec,
[class*="modeConnected_"] .name__8d1ec,
.clickable__17ccb.container__4f20e:hover{
    text-shadow: 0 0 5px;
}
[class*="modeConnected_"] .iconContainer__3f9b0,
[class*="modeConnected_"] .actionIcon_d679b5,
.wrapper__7bcde:hover:not([class*="modeSelected_"]) .icon_eff5d4,
.wrapper__7bcde:hover:not([class*="modeSelected_"]) .actionIcon_d679b5{
    filter: drop-shadow(0 0 5px)
}
/* Channel Category Header */
.wrapper__9c483:hover [class*="icon_"],
.wrapper__9c483:hover [class*="name_"],
.wrapper__9c483.muted_de6e6e:hover [class*="icon_"],
.wrapper__9c483.muted_de6e6e:hover [class*="name_"],
.addButtonIcon_b776b3:hover /*add button*/{
    color: var(--accent-2);
}
/*-----FRIENDS TAB-----*/
[class*="peopleListItem_"].active__6b8ff,
[class*="peopleListItem_"]:hover{
    background: hsl(var(--accent-hsl) / .2);
}
.header__6113c{
    /*Add friends tab random border*/
    border: none;
}
/* IMPROVED EMPTY STATE */
[class*="peopleColumn_"] > [class*="emptyStateContainer_"] .wrapper_de5239{
    max-width: 100%;
}
[class*="peopleColumn_"] [class*="image_"]{
    display: none;
}
[class*="peopleColumn_"] [class*="friendsEmpty_"] [class*="text_"]{
    color: var(--accent);
    font-size: 32px;
    font-weight: 600;
    line-height: 0;
    max-width: unset;
    text-indent: -9999px;
}
[class*="peopleColumn_"] [class*="friendsEmpty_"] [class*="text_"]:after{
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
#online-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No friends currently online";
}
#all-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No friends added";
}
#pending-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No outgoing/incoming friend requests";
}
#blocked-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No blocked users";
}
/* NOW PLAYING COLUMN */
@media (max-width: 1440px) { 
	[class*="nowPlayingColumn_"]{
		display: none;
	}
}
[class*="nowPlayingColumn_"] [class*="emptyCard_"] [class*="emptyText_"]{
    display: none;
}
[class*="nowPlayingColumn_"] [class*="emptyCard_"] [class*="emptyHeader_"]{
    line-height: 0;
    text-indent: -9999px;
}
[class*="nowPlayingColumn_"] [class*="emptyCard_"] [class*="emptyHeader_"]:after{
    content: "No one is currently active";
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
.scroller__00e7e{
    border: none;
}
/* Item Cards */
.wrapper__6e669{
    background: var(--background-secondary-alt);
    border: none;
}
:root .inset__0bfb3{
    background: none;
}
/*-----USER POPOUTS + MODALS-----*/
[class*="userProfileInnerThemedNonPremium_"]{
    background: var(--popout-background);
}
.profileColors__2e2f0{
    /*profile popout preview*/
    --profile-avatar-border-color: #000;
    /*profile aside panel*/
    --profile-gradient-primary-color: var(--popout-color-top);
	--profile-gradient-secondary-color:var(--popout-color-bottom);
}
.profilePanel__12596{
    width: var(--profile-panel-width);
}
[style*="-webkit-line-clamp: 6"]{
    /*About Me Section*/
    -webkit-line-clamp: unset !important;
}
/* WEIRD DISPLAY/NICKNAME AND PRONOUNS SUPPORT */
[class*="userPopoutOverlayBackground_"] .nickname__3d1d7,
[class*="userPopoutOverlayBackground_"] .pronouns__8bcdb{
    max-width: 272px; /*80% of popout width (340px)*/
}
[class*="userPanelOverlayBackground_"] .nickname__3d1d7,
[class*="userPanelOverlayBackground_"] .pronouns__8bcdb{
    max-width: calc(.8*var(--profile-panel-width));
}
.nickname__3d1d7,
[class*="userProfileModalOverlayBackground_"] [class*="text-lg-semibold_"],
[class*="pronouns_"]{
    line-height: 2.8;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nickname__3d1d7{
    white-space: nowrap;
}
.pronouns_be950a{
    display: block;
}
/* MODAL TABS */
[aria-label="User Profile Modal"] [class*="tabBar_"]{
    justify-content: space-evenly;
}
.top__592a7 .themed_b957e8.item__48dda:hover,
.top__592a7 .selected__5711d.themed_b957e8.item__48dda{
    border-bottom-color: var(--accent);
}
/* MUTUAL FRIENDS + SERVERS */
[class*="emptyIconFriends_"],
[class*="emptyIconGuilds_"]{
    display: none;
}
/* ROLES */
.roles__74a2b [class*="roleRemoveIcon_"]{
    left: calc(100% - 10px);
}
.roles__74a2b .role__631a3{
    border: 3px solid rgb(255,255,255,.3);
    padding: 10px 4px;
}
.roles__74a2b .role__631a3:hover{
    border-color: rgb(255,255,255,.5);
}
/*-----CHANNEL TEXT AREA-----*/
.form__13a2c{
    margin-top: 0;
}
.form__13a2c:before{
    content: none;
}
[class*="channelTextArea_"]{
    border: 3px solid var(--accent);
    border-radius: 12px;
}
[class*="channelTextArea_"]:focus-within{
    box-shadow: 0 0 12px 1px var(--accent);
}
[class*="channelTextArea_"] [class*="placeholder_"]{
    color: var(--accent);
}
/* UPLOAD FILE STUFF */
[class*="attachButtonPlus_"]{
    fill: var(--accent);
}
[class*="attachButton_"]:hover [class*="attachButtonPlus_"]{
    fill: var(--accent-2);
}
[class*="attachButtonPlay_"]{
    fill: var(--spotify-color);
}
[aria-label="Upload Attachment Utilities"] [class*="wrapper_"]{
    background: var(--background-floating); /*matches message utilities*/
    box-shadow: 0 0 0 3px var(--accent);
}
/* GIFT/STICKER/EMOJI BUTTONS */
[class*="channelTextArea_"] button:not([aria-label="Send Message"]) [class*="contents_"] > div{
    display: none;
}
[class*="channelTextArea_"] [class*="contents_"]:after{
    color: var(--accent);
}
[class*="channelTextArea_"] [class*="contents_"]:hover:after{
    color: var(--accent-2);
}
[class*="channelTextArea_"] [aria-label="Open GIF picker"] [class*="contents_"]:after{
    content: "[GIF]";
}
[class*="channelTextArea_"] [aria-label="Open sticker picker"] [class*="contents_"]:after{
    content: "[Sticker]";
}
[class*="channelTextArea_"] [aria-label="Select emoji"] [class*="contents_"]:after{
    content: "[Emoji]";
}
/* SEND BUTTON */
:root button:hover[class*="button_"] [class*="activeButtonChild_"]{
    color: var(--accent-2);
}
/* COLOR REPLACEMENTS */
[class*="jumpToPresentBar_"],
:root [class*="autocomplete_"] {
    background: var(--background-floating);
}
/* REPLY BAR */
.name__4c9aa{
    display: inline-block;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
[class*="replyBar_"]{
    background: var(--channeltextarea-background);
}
/*-----MESSAGE AREA-----*/
[class*="markup_"] code{
    background: var(--code-background);
}
.reaction_b90ab0{
    background: hsl(var(--primary-330-hsl) / .1);
}
/* ATTACHMENTS */
/* Sound File */
.container__79822{
    background: var(--background-secondary-alt);
}
.container__79822:not(.playing_eb5c63) .playButtonContainer_d887d6 .playIcon_e14cf9{
    color: var(--accent-contrast)
}
/* SEND WAVE STICKER */
[class*="compactButton_"],
[class*="compactButtonDisabled_"]{
    background: var(--accent);
}
[class*="compactButton_"]:hover{
    background: var(--accent-2);
}
[class*="compactButton_"] .defaultColor__77578,
[class*="compactButtonDisabled_"] .defaultColor__77578{
    color: var(--accent-contrast);
}
/* NEW MEMBER BADGE */
[class*="newMemberBadge_"]{
    width: unset;
    height: calc(1rem + 6px);
}
[class*="newMemberBadge_"] svg{
    display: none;
}
[class*="newMemberBadge_"]:before{
    content: "New";
    text-shadow: 0 0 2px;
    border: 1px solid;
    border-radius: 8px;
    margin-left: 8px;    
    font-size: .7rem;
    padding: 1px 5px;
}
/* REPLIED MESSAGES */
[class*="repliedMessage_"]:before{
    border-color: var(--accent);
}
/* CHAT HEADER */
.header__4080b{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2.8;
}
.description__57d03{
    line-height: 1.9;
}
/* CHAT HEADER (NEW SERVERS) */
.subtitle__1ce53{
    line-height: 0;
    text-indent: -9999px;
}
.subtitle__1ce53:after{
    line-height: 1.3;
    text-indent: 0;
    content: "Below are some steps to help you get this server started.";
    display: block;
}
.container_b03b4b .cardWrapper__09290 .icon__02e89{
    background: var(--accent) !important;
}
.container_b03b4b .cardWrapper__09290:nth-child(2) .icon__02e89{
    -webkit-mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/people.svg) center / 36px no-repeat;
    mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/people.svg) center / 36px no-repeat;
}
.container_b03b4b .cardWrapper__09290:nth-child(3) .icon__02e89{
    -webkit-mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/paint-bucket.svg) center / 36px no-repeat;
    mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/paint-bucket.svg) center / 36px no-repeat;
}
.container_b03b4b .cardWrapper__09290:nth-child(4) .icon__02e89{
    -webkit-mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/chat-left-text.svg) center / 36px no-repeat;
    mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/chat-left-text.svg) center / 36px no-repeat;
}
.container_b03b4b .cardWrapper__09290:nth-child(5) .icon__02e89{
    -webkit-mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/download.svg) center / 36px no-repeat;
    mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/download.svg) center / 36px no-repeat;
}
.container_b03b4b .cardWrapper__09290:nth-child(6) .icon__02e89{
    -webkit-mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/wrench.svg) center / 36px no-repeat;
    mask: url(https://raw.githubusercontent.com/stevencaiOR/stevencaiOR.github.io/main/discord_themes/icons/wrench.svg) center / 36px no-repeat;
}
/* BUTTON MENU ON RIGHT */
.message__80c10 .buttonsInner_bca8fa{
    background: var(--background-floating);
    box-shadow: 0 0 0 2px var(--accent);
}
/* SMALLER STICKERS */
.clickableSticker__5d3a0 .assetWrapper_f2e406{
    height: 5rem !important;
    width: 5rem !important;
}
/* NEW MESSAGE BAR */
[class*="newMessagesBar_"] [class*="barButtonBase_"]{
    color: var(--accent-contrast)
}
/* DIVIDERS */
.divider_b9338f{
    border-color: var(--accent);
    justify-content: flex-start;
}
.divider_b9338f,
.low-saturation .divider_b9338f{
    --divider-color: var(--accent);
}
/* Date */
.content_d67847{
    background: var(--accent);
    color: var(--accent-contrast);
    font-size: 1rem;
    padding: .4em;
}
/* Unread */
[class*="isUnread_"] .content_d67847,
.unreadPill__715fc{
    color: var(--accent-contrast);
}
/*-----SETTINGS AND TOP PILL ITEMS-----*/
.side_b4b3f6 .item__48dda,
[class*="topPill_"] .item__48dda{
    border-radius: 99px;
}
.selected__5711d.item__48dda,
.selected__5711d.item__48dda:hover,
.selected__5711d.item__48dda .selected_d25ad4{
    /* Selected settings sidebar item */
    color: var(--accent);
}
.side_b4b3f6 .themed_b957e8.selected__5711d.item__48dda,
[class*="topPill_"] .themed_b957e8.selected__5711d.item__48dda{
    border: 3px solid;
}
.side_b4b3f6 .themed_b957e8.selected__5711d.item__48dda,
[class*="topPill_"] .themed_b957e8.selected__5711d.item__48dda:not([class*="addFriend_"]),
.side_b4b3f6 .themed_b957e8.item__48dda:hover:not(.disabled__85bca),
[class*="topPill_"] .themed_b957e8.item__48dda:hover:not(.disabled__85bca):not([class*="addFriend_"]){
    background: hsl(var(--accent-hsl) / .1);
}
[class*="brand_"].item__48dda:hover:not(.selected__5711d),
.themed_b957e8.item__48dda:hover:not(.selected__5711d):not([class*="addFriend_"]){
    color: var(--accent);
    text-shadow: 0 0 5px;
}
/* ADD FRIEND PILL */
[class*="addFriend_"]{
    background: #0000 !important;
    color: var(--interactive-normal) !important;
}
[class*="addFriend_"]:hover,
[class*="addFriend_"][aria-selected="true"]{
    color: var(--text-positive) !important;
}
[class*="addFriend_"]:hover{
    background: color-mix(in srgb, currentColor 10%, transparent) !important;
    text-shadow: 0 0 5px;
}
[class*="addFriend_"][aria-selected="true"]{
    border: 3px solid;
}
/*-----SETTINGS-----*/
[class*="sidebarRegion_"]{
    flex-grow: 0;
    flex-basis: var(--setting-sidebar-width);
}
[class*="sidebarRegion_"] .sidebar__9e3e2{
    width: var(--setting-sidebar-width);
    padding: 20px 10px 10px;
}
[class*="sidebarRegion_"]+[class*="contentRegion_"]{
    max-width: calc(100% - var(--setting-sidebar-width));
}
[class*="contentColumn_"]{
    max-width: 100%;
    padding: 20px 10px 50px 40px;
}
[class*="premiumLabel_"] svg{
    display: none;
}
[class*="premiumFeatureBorder_"]{
    /*found in both nitro preview of profiles and themes in appearance*/
    background: rgb(0,0,0,.3);
    border: 3px solid var(--accent);
}
[class*="statusOrange_"]{
    /*for future reference, move this. belongs in safety setup*/
    border-color: var(--radio-bar-orange);
}
/* OVAL TOGGLE BUTTONS*/
.container__871ba[style*='background-color: rgb(35, 165, 90)']{
    background: var(--accent) !important;
}
.container__871ba [fill*='white']{
    fill: var(--accent-contrast);
}
.container__871ba[style*='background-color: rgb(35, 165, 90)'] [fill*='(35, 165, 90']{
    fill: var(--accent);
}
/* RADIOBAR ITEMS */
.itemFilled__373d7{
    background: var(--background-modifier-accent);
}
.itemFilled__373d7,
.itemFilled__373d7:active:not([aria-checked=true]):not(.disabled_af801d){
    background: rgb(48,48,48,.5);
}
.itemFilled__373d7:hover:not([aria-checked=true]):not(.disabled_af801d){
    background: rgb(48,48,48,.3);
}
.itemFilled__373d7[aria-checked=true]:not(:has([style*="--radio-bar-accent-color:"])){
    background: var(--accent);
}
.itemFilled__373d7[aria-checked=true]:not(:has([style*="--radio-bar-accent-color:"])),
.itemFilled__373d7[aria-checked=true]:not(:has([style*="--radio-bar-accent-color:"])) [class*="radioIconForeground_"]{
    color: var(--accent-contrast); 
}
/* MY ACCOUNT */
#my-account-tab > div > :first-child [class*="children_"]{
    align-items: center;
}
#my-account-tab [class*="accountProfileCard_"]{
    background: var(--popout-background);
    width: 660px; /*long user/display name makes width super huge otherwise*/
}
.background_b61fcc{
    background: var(--profile-body-background-color);
}
[class*="userSettingsSecurityImage_"]{
    display: none;
}
/* PROFILES */
[class*="premiumBackground_"]{
    background: none;
}
#profile-customization-tab [class*="tryItOutSection_"] h3{
    text-indent: -9999px;
    line-height: 0;
}
#profile-customization-tab [class*="tryItOutSection_"] h3:after{
    text-indent: 0;
    line-height: 1.25;
    display: block;
    content: "Nitro Preview";
}
[class*="bannerUploaderInnerSquare_"][style*='background-image: url("/assets/']{ /*replaces dumb preview placeholder banner that they have*/
    background: var(--background-image) var(--background-position) /
    var(--background-size) var(--background-repeat) !important;
}
[class*="upsellOverlayContainer_"]{
    background: none;
    border-color: var(--accent);
}
[class*="upsellTextContainer_"]{
    background: rgb(0,0,0,.3);
    border: 3px solid var(--accent);
}
/* PRIVACY AND SAFETY */
#privacy-\&-safety-tab .children_b15c64 .children_b15c64 {
    flex-direction: row;
    gap: 40px;
}
.itemFilled__373d7 [class*="radioBar_"][style*="--radio-bar-accent-color:"]{
    border-radius: 3px;
}
.itemFilled__373d7[aria-checked=true] [class*="radioBar_"][style*="--radio-bar-accent-color:var(--green-360)"],
.itemFilled__373d7[aria-checked=true] [class*="radioBar_"][style*="--radio-bar-accent-color:var(--yellow-360)"],
.itemFilled__373d7[aria-checked=true] [class*="radioBar_"][style*="--radio-bar-accent-color:var(--red-400)"],
.itemFilled__373d7[aria-checked=true] [class*="radioBar_"][style*="--radio-bar-accent-color:var(--green-360)"] [class*="radioIconForeground_"],
.itemFilled__373d7[aria-checked=true] [class*="radioBar_"][style*="--radio-bar-accent-color:var(--yellow-360)"] [class*="radioIconForeground_"],
.itemFilled__373d7[aria-checked=true] [class*="radioBar_"][style*="--radio-bar-accent-color:var(--red-400)"] [class*="radioIconForeground_"]{
    color: #fff;
}
[class*="selectedBackground_"]{
    background: none;
}
/* DEVICES */
[class*="sessionIcon_"]{
    background: var(--accent);
    color: var(--accent-contrast);
}
[class*="otherSessions_"] [class*="children_"]{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
}
[class*="session_"]{
   flex-basis: calc(50% - 15px);
}
/* CONNECTIONS */
[class*="connectionList_"]{
    grid-template-columns: repeat(2, 1fr);
}
.connection_fff5f6{
    background: var(--background-secondary-alt);
}
[class*="connectionHeader_"]{
    background: none;
}
[class*="connectionOptionsWrapper_"]{
    border-radius: 0 0 8px 8px;
}
/* NITRO */
[class*="settingsHero_"],
.tier0__2e127,
.tier2__1364f,
[class*="bigPerkCard_"],
[class*="smallPerkCard_"]{
    background: rgb(0,0,0,.5);
    border: 3px solid var(--accent);
}
.innerWrapper-Eo2E86{
    /*sticky footer thing*/
    background: rgb(0,0,0,.7);
}
#discord-nitro-tab .settingsHero-2Me_mE h2,
[class*="bigPerkCard_"]:not(:nth-child(2)) [class*="bigPerkCardHeading_"],
[class*="smallPerkCard_"]:not(:nth-child(3), :nth-child(5), :nth-child(6),:nth-child(7)) [class*="smallPerkCardDescription_"],
[class*="planComparisonTableContainer_"] [class*="titleText_"]{
    text-indent: -9999px;
    line-height: 0;
}
#discord-nitro-tab .settingsHero-2Me_mE h2:after,
[class*="bigPerkCard_"] [class*="bigPerkCardHeading_"]:after,
[class*="smallPerkCard_"] [class*="smallPerkCardDescription_"]:after,
[class*="planComparisonTableContainer_"] [class*="titleText_"]:after{
    display: block;
    text-indent: 0;
    line-height: 1.3;
}
#discord-nitro-tab .settingsHero-2Me_mE h2:after{
    content: "Discord Nitro";
}
[class*="bigPerkCardHeading_"]{
    margin-bottom: 0;
}
[class*="bigPerkCard_"]:first-child [class*="bigPerkCardHeading_"]:after{
    content: "Use custom emojis anywhere";
}
[class*="bigPerkCard_"]:nth-child(3) [class*="bigPerkCardHeading_"]:after{
    content: "Stream apps and games in HD";
}
[class*="bigPerkCard_"]:last-child [class*="bigPerkCardHeading_"]:after{
    content: "Upload larger files";
}
[class*="smallPerkCard_"]:first-child [class*="smallPerkCardDescription_"]:after{
    content: "In-app media editing.";
}
[class*="smallPerkCard_"]:nth-child(2) [class*="smallPerkCardDescription_"]:after{
    content: "Apply a unique color palette to Discord.";
}
[class*="smallPerkCard_"]:nth-child(4) [class*="smallPerkCardDescription_"]:after{
    content: "Use animated reactions.";
}
[class*="smallPerkCard_"]:nth-child(8) [class*="smallPerkCardDescription_"]:after{
    content: "Join up to 200 servers.";
}
[class*="smallPerkCard_"]:last-child [class*="smallPerkCardDescription_"]:after{
    content: "Send longer messages with an increased character count.";
}
[class*="planComparisonTableContainer_"] [class*="titleText_"]:after{
    content: "Nitro Plans";
}
.mostPopularPill-28w8lV {
    max-width: fit-content;
}
.mostPopularPill-28w8lV .mostPopularText-1WuXKM {
    color: var(--accent-contrast)
}
/* SERVER BOOST */
.gradient_e94761{
    background: none;
    padding: 0 0 20px;
}
#nitro-server-boost-tab [class*="gradient_"] h2,
#nitro-server-boost-tab h2[class*="subtitle_"],
.wrapper__26ed7 h2,
[class*="listItem_"] [class*="questionWrapperExpanded_"]+[class*="answer_"]{
    text-indent: -9999px;
    line-height: 0;
}
#nitro-server-boost-tab [class*="gradient_"] h2:after,
#nitro-server-boost-tab h2[class*="subtitle_"]:after,
.wrapper__26ed7 h2:after,
[class*="listItem_"] [class*="questionWrapperExpanded_"]+[class*="answer_"]:after{
    display: block;
    line-height: 1.2;
    text-indent: 0;
}
#nitro-server-boost-tab [class*="gradient_"] h2:after{
    content: "No Boosts applied.";
}
#nitro-server-boost-tab h2[class*="subtitle_"]:after{
    content: "Potential candidates below";
}
.wrapper__18a49{
    flex-direction: row;
    flex-wrap: wrap;
}
[class*="recommendedServerCard_"]{
    flex-basis: calc((100% - 10px)/2);
}
.wrapper__18a49 .wrapper__0df00{
    width: calc((100% - 10px)/2);
    justify-content: center;
}
.wrapper__26ed7{
    background: none;
}
.wrapper__26ed7 h2:after{
    content: "Server Booster Benefits";
}
[class*="boosterRecognitionCard_"]{
    background: var(--background-secondary-alt);
}
[class*="listItem_"]:first-child [class*="questionWrapperExpanded_"]+[class*="answer_"]:after{
    content: "Boosts support servers by unlocking perks for all members. More boosts means more perks unlocked. See chart above for further details";
}
[class*="listItem_"]:nth-child(2) [class*="questionWrapperExpanded_"]+[class*="answer_"]:after{
    content: "You can boost servers on this page, or follow step-by-step instructions in the Help Center: https://support.discord.com/hc/articles/360028038352";
}
[class*="listItem_"]:nth-child(3) [class*="questionWrapperExpanded_"]+[class*="answer_"]:after{
    content: "Yes, multiple Boosts can be used on a single server";
}
[class*="listItem_"]:last-child [class*="questionWrapperExpanded_"]+[class*="answer_"]:after{
    content: "Yes, however, the server will not to receive further benefits. Only you will receive benefits as a Server Booster. See above for more details.";
}
/* SUBSCRIPTIONS */
[class*="tier0_"][class*="banner_"],
[class*="tier1_"][class*="banner_"],
[class*="tier2_"][class*="banner_"]{
    background: var(--background-secondary-alt);
}
[class*="bannerBackgroundImage_"]{
    display: none;
}
/* GIFT INVENTORY */
#library-inventory-tab [class*="emptyStateSubtext_"]{
    display: none;
}
#library-inventory-tab [class*="inputDefault_"]::placeholder{
    width: 0; /*display: none !important doesn't work because discord used important in the js code*/
}
#library-inventory-tab [class*="inputDefault_"][value=""]{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text x='10' y='25' fill='rgb(255,255,255,0.3)' font-family='Consolas' font-size='16'>****-*****-*****-*****</text></svg>");
}
/* BILLING */
:root [class*="paymentPane_"],
#billing-tab [class*="codeRedemptionRedirect_"]{
    background: var(--background-secondary-alt);
}
:root [class*="paginator_"],
:root [class*="payment_"]{
    background: none
}
:root .expandedInfo__47bad{
    background: rgb(0,0,0,.3);
}
#billing-tab [class*="codeRedemptionRedirect_"]{
    line-height: 0;
    text-indent: -9999px;
    text-align: center;
    width: max-content;
    margin: 40px auto 0;
}
#billing-tab [class*="codeRedemptionRedirect_"]:after{
    content: "Discord keys are now located in your gift inventory.";
    display: block;
    line-height: 1.3;
    text-indent: 0;
}
/* APPEARANCE */
.preview_f42b5d{
    background: var(--background-secondary-alt);
}
#appearance-tab #message-content-0,
#message-content-1,
#message-content-2,
#message-content-3,
#message-content-4{
    display: inline-block;
    text-indent: -9999px;
    line-height: 0;
    vertical-align: bottom;
}
#appearance-tab #message-content-0:after,
#message-content-1:after,
#message-content-2:after,
#message-content-3:after,
#message-content-4:after{
    display: block;
    line-height: 1.4;
    text-indent: 0;
}
#appearance-tab #message-content-0:after{
    content: "Alpha bravo charlie delta echo";
}
#message-content-1:after{
    content: "Foxtrot golf hotel india jackal kilo";
}
#message-content-1 [class*="emojiContainer_"] {
    display: none;
}
#message-content-2:after{
    content: "Lima mike november oscar papa";
}
#message-content-3:after{
    content: "Quebec razor sierra tango uniform";
}  
#message-content-4:after{
    content: "Victor whiskey x-ray yankee zulu";
}
#appearance-tab [class*="itemFilled_"] [class*="text-md-medium_"]{
    text-indent: -9999px;
    line-height: 0px;
}
#appearance-tab [class*="itemFilled_"] [class*="text-md-medium_"]:after{
    display: block;
    text-indent: 0;
    line-height: 1.25;
}
#appearance-tab [class*="itemFilled_"]:first-child [class*="text-md-medium_"]:after{
    content: "Default: large avatars, usernames above messages";
}
#appearance-tab [class*="itemFilled_"]:last-child [class*="text-md-medium_"]:after{
    content: "Compact: avatars optional, usernames adjacent to messages.";
}
/* LANGUAGE */
@media only screen and (min-width: 920px) {
    #language-tab [role="radiogroup"]{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    .option_e3062c{
        column-gap: 10px;
    }
    .localizedName__395f2{
        flex-shrink: 1;
    }
}
/* REGISTERED GAMES */
:root [class*="addGamePopout_"]{
    background: #101010;
}
/*-----STATUS COLORS-----*/
rect[mask="url(#svg-mask-status-online-mobile)"],
rect[mask="url(#svg-mask-status-online)"]{
    fill: var(--online-color);
}
rect[mask="url(#svg-mask-status-idle)"]{
    fill: var(--idle-color);
}
rect[mask="url(#svg-mask-status-dnd)"]{
    fill: var(--dnd-color);
}
rect[mask="url(#svg-mask-status-streaming)"]{
    fill: var(--streaming-color);
}
[aria-label*="offline" i] rect[fill="#80848e"],
rect[mask="url(#svg-mask-status-offline)"]{
    fill: var(--offline-color);
}
/*-----NUMBER BADGES-----*/
[class*="numberBadge_"][style*="background-color: var(--status-danger)"]{
    background: var(--accent) !important;
    color: var(--accent-contrast);
}
/*-----BUTTONS-----*/
[class*="lookFilled_"][class*="colorBrand_"]{
    color: var(--accent-contrast);
}
[class*="lookFilled_"][class*="colorBrand_"]:hover,
[class*="lookFilled_"][class*="colorBrand_"]:active{
    background: var(--accent-2);
}
[class*="lookFilled_"][class*="colorBrand_"]:disabled,
[class*="lookFilled_"][class*="colorBrand_"][aria-disabled="true"]{
    background: var(--accent);
}
[class*="lookInverted_"][class*="colorBrand_"],
[class*="lookInverted_"][class*="colorBrand_"]:disabled,
[class*="lookInverted_"][class*="colorBrand_"][aria-disabled=true]{
    background: var(--accent-contrast);
    border: 2px solid var(--accent);
}
/* VOICE PANEL ACTION BUTTONS */
[class*="lookFilled_"][class*="colorBrand_"].button__66e8c.buttonColor_a6eb73 {
    background: var(--accent);
}
[class*="lookFilled_"][class*="colorBrand_"].button__66e8c.buttonColor_a6eb73:hover {
    background: var(--accent-2);
}
/*-----CHANNEL HEADER-----*/
.children__32014:after{
    content: unset;
}
.themed_b152d4 .icon__4cb88{
    color: var(--accent);
}
.selected_be2668 .icon__4cb88 {
    filter: drop-shadow(0 0 5px)
}
.container__8261a, /*thread dropdown*/
[class*="messagesPopoutWrap_"]{ /*pinned and mentions dropdown*/
    background: var(--background-floating);
}
/* Plus Button in DM List Header */
.clickable_d23a1a .icon__4cb88{
    color: var(--accent)
}
.clickable_d23a1a:hover .icon__4cb88 {
    color: var(--accent-2);
}
/* GROUP DM NAME */
.outer_c57160 .input__321f5{
    border: 2px solid #0000;
}
.outer_c57160:hover .input__321f5{
    border-color: var(--accent);
}
.input__321f5:focus{
    background: var(--input-background);
}
/* PINNED MESSAGES */
[aria-label="Pinned Messages"] [class*="emptyPlaceholder_"] [class*="image_"]{
    display: none;
}
[aria-label="Pinned Messages"] [class*="emptyPlaceholder_"] [class*="body_"]{
    line-height: 0;
    text-indent: -9999px;
    white-space: nowrap;
}
[aria-label="Pinned Messages"] [class*="emptyPlaceholder_"] [class*="body_"]:after{
    content: "No pinned messages in this channel.";
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
/* HEADER SEARCH BAR */
[class*="search_"] [class*="searchBar_"]{
    border: 3px solid var(--accent);
    box-sizing: content-box;
    border-radius: 8px;
    width: 300px; /*default: 144px*/
}
[class*="search_"][class*="focused_"] [class*="searchBar_"],
[class*="search_"][class*="open_"] [class*="searchBar_"]{
    width: 350px;
}
:root [class*="searchAnswer_"],
:root [class*="searchFilter_"]{
    background: var(--accent);
    color: var(--accent-contrast);
}
[class*="searchFilter_"]{
    border-radius: 4px 0 0 4px;
}
[class*="searchAnswer_"]{
    border-radius: 0 4px 4px 0;
}
/*-----SEARCH BARS-----*/
[class*="searchBar_"] [class*="searchBarComponent_"]{
    border: 3px solid var(--accent);
    box-sizing: content-box;
    border-radius: 8px;
}
/*-----SEARCH RESULTS WRAP-----*/
.highlight{ /*highlighted queried text*/
    background: var(--accent);
    color: var(--accent-contrast);
}
.container__7db35 .buttonsContainer__96eb6{
    display: flex;
    /*always show jump button*/
}
.buttonsContainer__96eb6{
    right: 0;
}
.button_f8244b,
.button_f8244b:hover{
    color: var(--accent-contrast);
}
.button_f8244b{
    background: var(--accent);
}
.button_f8244b:hover{
    background: var(--accent-2);
}
/*-----ANTI DUMB SHIT (work in progress)-----*/
.root-1F1IKT,
[class*="activitycharacter" i],
[class^="art_"],
[class*="artcontainer" i],
[class*="bannerArt_"],
[class*="backgroundImages_"],
[class*="bigperkart" i],
[class*="bottomIllustration_"],
[class*="confetti" i],
[class*="emptyimage-" i],
[class*="emptystateimage-" i],
[class*="errorStateIcon_"], /*Group DM modal error state icon (not friends and trying to make group DM)*/
.footerImage__21e33,
[class*="guildBoostGemWrapper_"],
[class*="heroBanner-" i],
[class*="howItWorksImage_"],
.image__88ebc,
[class*="noResultsImage_"],
[class*="perkNewsletter_"],
[class*="perkBadge_"],
[class*="perkChallenges_"],
[class*="perkpreviewimage-" i],
[class*="perkscardart" i],
img[class*="roleSubscription"],
[class*="sparkle" i],
[class*="stars" i],
[class*="upsellImage_"],
[class*="wumpus" i],
img[alt*="clyde" i],
img[alt*="mallow" i],
img[alt*="graggle" i],
img[alt*="sparkle"],
img[alt*="wumpus" i]{
    display: none !important;
}
/*-----MISCELLANEOUS-----*/
[fill="#5865f2"]{
    /* Customize your server modal */
    fill: var(--accent);
}
.icon__131d1{ /*owner icon bandaid fix*/
    top: 0;
}
.popout_a6e77f{ /*"best seen in voice and video" -leafy*/
    background: var(--modal-footer-background);
}
[class*="gradientBackground_"]{
    background: var(--background-secondary); /*background of gradient thing in screen share modal matches "input" boxes above*/
}
[class*="cardPrimary_"],
[class*="cardPrimary_"][class*="editable"]{
    border-color: var(--accent);
}
::selection{
    background: var(--accent);
    color: var(--accent-contrast);
}
[class*="selectionCircle_"]{
    box-shadow: inset 0 0 0 2px var(--brand-500);
}
[class*="selectionCircle_"] [fill="var(--white-500)"],
.selectedIcon__4b0ba circle[fill="white"],
[style*="background-color: var(--brand-experiment-500)"] [fill="var(--white-500)"]{
    fill: var(--accent-contrast);
}
[style*="background-color: var(--brand-260)"],
:root [class*="premiumIndicator_"], /* go to Billing -> see "subscription" */
[style*="background-color: var(--brand-500)"],
[style*="background-color: var(--brand-500)"] [class*="automodText_"],
[class*="lookFilled_"][class*="colorBrandNew_"],
[class*="lookFilled_"][class*="colorBrand_"] .defaultColor__77578{
    color: var(--accent-contrast)
}
.header_f72511, /*settings sidebar header*/
.container_de798d, /*channel, dm and memberlist header*/
[class*="privateChannelsHeaderContainer_"]:hover, /*dm header on hover*/
.wrapperCommon_d71dee /*channel header icons*/{
    color: var(--accent)
}
:root .searchBox_a63854{
    /*affects discover and app directory*/
    background: var(--input-background);
    border-width: 2px;
    box-shadow: none;
}
/* EMBEDS */
[class*="embedFull_"]{
    border-color: var(--primary-700);
    background: rgb(0,0,0,.5);
}
/* Invites */
.wrapper_efe67f{
    background: var(--background-secondary-alt)
}
/* MESSAGE CONTEXT MENU */
#message [class*="button_"]:hover{
    transform: scale(1.2);
}
/* SHORTEN LONG USERNAMES (message area, search results wrap, reply contexts, aperance preview, etc BUT ONLY FOR "COSY" MODE) */
.cozy_f5c119 .username_d30d99{
    display: inline-block;
    max-width: 25ch;

    text-overflow: ellipsis;
    white-space: pre;
    vertical-align: middle;
}
.badges-everywhere,
.platform-indicators{
    vertical-align: middle;
}
/* FLOWER STAR */
.flowerStar_a9981e{
    background: var(--brand-500);
    border-radius: 50%;
}
.flowerStar_a9981e [fill]{
    fill: none;
}
.flowerStar_a9981e+div [fill]{
    fill: var(--accent-contrast);
}
/* BOT TAGS */
[class*="botTagRegular_"]{
	color: var(--accent-contrast);
}
[class*="botTagInvert_"]{
	background: var(--accent-contrast);
}
/* DEFAULT EMOJI IN INPUTS */
div.sprite__294b3{
    background-image: var(--home-icon) !important;
    background-size: 22px 22px !important;
    background-position: unset !important;
    filter: none !important;
}
/* DENITROFICATION */
[href="/store"],
[class*="button"][aria-label="Send a gift"]{
    display: none;
}
/*-----MISCELLANEOUS MODALS-----*/
/* ADD SERVER MODAL */
.header-12n7su{
    padding: 40px 16px 0;
}
.container-x8Y1ix {
    padding: 20px;
}
.container-x8Y1ix [class*="icon_"]{
    display: none;
}
.footer__89240{
    color: var(--accent);
}
/* CHECKOUT MODAL */
[class*="tier2HeaderBackground_"]{
    min-height: 30px;
}
[class*="tier2Animation_"],
[class*="tier2Background_"],
[class*="tier2Foreground_"]{
    display: none;
}
[class*="tier2HeaderBackground_"] .headerIcon-1ACCh0,
[class*="tier2HeaderBackground_"] .closeButton-Fq8ADF{
    color: var(--accent-contrast) !important;
}
.closeButton-Fq8ADF{
    opacity: 1;
}
/* FLOATING EMOJI MODAL */
.contentWrapper_eab878,
[class*="unicodeShortcut_"]{
    background: var(--background-floating);
}
/* "Friend request failed" MODAL */
[aria-label="Friend request failed"] [data-text-variant="text-md/normal"]{
    text-indent: -9999px;
    line-height: 0;
}
[aria-label="Friend request failed"] [data-text-variant="text-md/normal"]:after{
    content: "User not found. If the username is correct, the user has either blocked you or has prevented certain friend requests in settings.";
    display: block;
    text-indent: 0;
    line-height: 1.25;
}
/* QUICKSWITCHER */
[class*="quickswitcher_"]{
    border: 3px solid var(--accent);
}
/* "Soo... You Blocked This Person" MODAL */
[aria-label="Soo... You Blocked This Person"] h2,
[aria-label="Soo... You Blocked This Person"] [data-text-variant="text-md/normal"]{
    text-indent: -9999px;
    line-height: 0;
}
[aria-label="Soo... You Blocked This Person"] h2:after,
[aria-label="Soo... You Blocked This Person"] [data-text-variant="text-md/normal"]:after{
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
[aria-label="Soo... You Blocked This Person"] h2:after{
    content: "User Blocked";
}
[aria-label="Soo... You Blocked This Person"] [data-text-variant="text-md/normal"]:after{
    content: "Unblock this user to jump to the specified message";
}
/*-----USER MENTION WRAPPER-----*/
.interactive:hover{
    background: var(--accent);
    color: var(--accent-contrast);
}
/* LONG USERNAME SUPPORT */
.contents_f41bb2 .wrapper__2d9b1{ /* does NOT affect replies. still *may* not work completely as intended (check IPL) */
    display: inline-block;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: pre;
}
/* PINGS */
.mentioned__58017:before{
    background: var(--accent);
    width: 2px;
}
/*-----USER AREA PANEL-----*/
[aria-label="user area" i],
:root .container_ca50b9{
    background: none;
}
[class*="withTagAsButton_"]:hover,
[class*="withTagless_"]:hover{
    background: hsl(var(--accent-hsl) / .2);
}
[class*="withTagAsButton_"]:hover [class*="title_"]{
    text-shadow: 0 0 5px;
}
/* PANEL BUTTON */
button.button__4f306{
    color: var(--accent);
    transition: .2s;
}
button.button__4f306.enabled__470f0:hover{
    background: var(--accent);
    color: var(--accent-contrast);
}
/* MUTE/DEAFEN/SETTINGS BUTTONS */
[aria-label="user area" i] [aria-label="Set Status"]+div{
    background: hsl(var(--accent-hsl) / .2); /*bg kept to visually "group" like elements together*/
    border-radius: 15px;
}
[aria-label="user area" i] [aria-label="Set Status"]+div .button__4f306:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
[aria-label="user area" i] [aria-label="Set Status"]+div .button__4f306:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* VOICE PANEL */
.container_d667ff{
    background: none;
}
/* USER POPOUT */
#account-status-picker--online[class*="focused_"]{
    background: var(--online-color);
}
#account-status-picker--idle[class*="focused_"]{
    background: var(--idle-color);
}
#account-status-picker--dnd[class*="focused_"]{
    background: var(--dnd-color);
}
#account-status-picker--invisible[class*="focused_"]{
    background: var(--offline-color);
}
[mask="url(#svg-mask-status-online-mobile)"] [style*="background"],
[mask="url(#svg-mask-status-online)"] [style*="background"]{
    background: var(--online-color) !important;
}
[mask="url(#svg-mask-status-idle)"] [style*="background"]{
    background: var(--idle-color) !important;
}
[mask="url(#svg-mask-status-dnd)"] [style*="background"]{
    background: var(--dnd-color) !important;
}
[mask="url(#svg-mask-status-invisible)"] [style*="background"],
[mask="url(#svg-mask-status-offline)"] [style*="background"]{
    background: var(--offline-color) !important;
}
[id^="account-status-picker"][class*="focused_"] [style*="background"]{
    background: currentColor !important;
}
[class*="menu_"] [class*="menuItemFocused_"]{
    background: var(--accent);
}
[class*="colorDefault_"][class*="focused_"],
[class*="colorDefault_"][class*="focused_"] [class*="userMenuUsername_"] [class*="userMenuDiscriminator_"],
[class*="colorDefault_"][class*="focused_"] [class*="userMenuUsername_"] [class*="userMenuText_"]{
    color: var(--accent-contrast);
}
[class*="colorDefault_"] [fill*="var(--white-500)"]{
    fill: var(--accent-contrast);
}
/*-----STUDENT HUB-----*/
.headerImage__0cf36{
    display: none;
}
.headerContent__74c51 .searchBox_bf114a{
    background: var(--input-background);
}
/*-----ERROR PAGE-----*/
:root .wrapper__246a1{
    background: none;
}
.image_dabcb8{
    display: none;
}
.text__9b110{
    background: rgb(0,0,0,.7);
    border: 4px solid var(--accent);
    padding: 40px;
    border-radius: 14px;
}
.title__73f9a{
    line-height: 0;
    text-indent: -9999px;
}
.title__73f9a:after{
    content: "Crash encountered";
    display: block;
    line-height: 1.2;
    text-indent: 0;
}
.note__35490 p{
    color: var(--text-normal);
    font-size: 0;
    line-height: 1.2;
    text-align: left;
}
.note__35490 p:before,
.note__35490 p:after{
    font-size: 18px;
}
.note__35490 p:before{
    color: var(--accent);
    display: block;
    font-weight: 800;
}
.note__35490 p:first-child:before{
    content: "Possible cause:";
}
.note__35490 p:first-child:after{
    content: "Plugins";
}
.note__35490 p:last-child:before{
    content: "Recommended course of action:";
}
.note__35490 p:last-child:after{
    content: "Access the terminal (CTRL + Shift + I or CMD + Alt + I) to diagnose the issue.";
}
/*-----VERIFICATION REQUIRED PAGE-----*/
.image__54a8d{
    display: none;
}
[class*="verification_"]{
    justify-content: center;
}
[class*="verification_"]> div:first-child{
    background-color: rgb(0,0,0,0.7);
    flex: 0 1 auto !important;
    border-radius: 10px;
    border: 3px solid var(--accent);
    padding: 30px;
}
/*-----BETTER DISCORD-----*/
.bd-sidebar-header h2{
    color: var(--accent);
}
.bd-sidebar-header .bd-icon{
    fill: var(--accent);
}
.bd-button{
    background: var(--accent);
    color: var(--accent-contrast)
}
.bd-button:hover{
    background: var(--accent-2);
}
.bd-addon-views .bd-view-button.selected{
    background: var(--accent);
}
.bd-addon-views .bd-view-button.selected svg,
.bd-controls > .bd-button.bd-addon-button:not(.bd-button-danger) svg{
    fill: var(--accent-contrast)
}
.bd-addon-list .bd-addon-card{
    background: var(--background-secondary-alt);
}
.bd-addon-list .bd-addon-header{
    background: none;
}
.bd-search-wrapper{
    background: var(--input-background);
}
.bd-toast{
    background: var(--accent);
    color: var(--accent-contrast);
}
/*-----CALL WRAPPER-----*/
[class*="callContainer_"]{
    background: #0000;
}
[class*="gradientContainer_"]{
    background: none;
}
/*-----AVATAR UPLOADER-----*/
[class*="contentCircle_"] .uploadIcon-2zMtOT{
    color: var(--accent-contrast);
}
/*-----NOTICE-----*/
.notice_a687ab,
.notice_a687ab .header_f0505a,
.notice_a687ab .lookOutlined__46d54.colorWhite__43488{
    color: var(--accent-contrast);
}
.notice_a687ab .lookOutlined__46d54.colorWhite__43488{
    border-color: currentColor;
}
/*-----DISCOVER PAGE-----*/
:root .pageWrapper_fef757{
    background: var(--background-primary);
}
.headerImage-2D5D-v{
    display: none;
}
/*-----FORUM-----*/
[class*="mainCard_"]{
    background: var(--input-background);
}
/*-----EXPRESSION PICKER-----*/
.contentWrapper__321ed{
    background: var(--background-floating);
}
/*-----APP DIRECTORY PAGE-----*/
/*yes... this dumb thing*/
:root [class*="directoryContainer_"]{
    background: none;
}
/*-----COMMUNITY PAGES-----*/
/* EVENTS */
/* BROWSE CHANNELS */
:root .container__10dc7,
:root .header__60bef,
:root .container__7590f{
    background: none;
}
[class*="viewChannelButton_"]{
    display: unset;
}
/* MEMBERS */
.mainTableContainer__5ffe0{
    background: rgb(0,0,0,.5);
    box-shadow: 0 0 0 2px var(--accent);
}
.container__7712a{
    background: var(--input-background);
}
/*-----PLUGIN SUPPORT-----*/
/* VENCORD MEMBER COUNT */
#vc-membercount [aria-label*="online"] [style*="background-color: var(--green-360"]{
    background: var(--online-color) !important;
}
#vc-membercount [aria-label*="online"] [style^="color: var(--green-360"]{
    color: var(--online-color) !important;
}
/* VENCORD TOOLBOX */
.vc-toolbox-btn{
    -webkit-mask: url(https://stevencaior.github.io/discord_themes/icons/tools.svg) center / 18px no-repeat;
    mask: url(https://stevencaior.github.io/discord_themes/icons/tools.svg) center / 18px no-repeat;
    background: var(--accent);
}
.vc-toolbox-btn path{
    display: none;
}