@import url(https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap);

.theme-amoled,
.theme-darker,
.theme-light
{
    /* Cut and pasted .theme-dark var assignments into .theme-light and .theme-amoled*/
    --activity-card-background: var(--primary-700);
    --android-navigation-bar-background: var(--primary-830);
    --android-navigation-scrim-background: hsl(var(--primary-830-hsl)/0.5);
    --android-ripple: hsl(var(--white-500-hsl)/0.07);
    --background-accent: var(--primary-530);
    --background-floating: var(--primary-800);
    --background-mentioned: hsl(var(--yellow-300-hsl)/0.1);
    --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.08);
    --background-message-automod: hsl(var(--red-400-hsl)/0.05);
    --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1);
    --background-message-highlight: hsl(var(--brand-360-hsl)/0.08);
    --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.06);
    --background-message-hover: hsl(var(--primary-900-hsl)/0.06);
    --background-mobile-primary: var(--primary-600);
    --background-mobile-secondary: var(--primary-630);
    --background-modifier-accent: hsl(var(--primary-500-hsl)/0.48);
    --background-modifier-active: hsl(var(--primary-500-hsl)/0.48);
    --background-modifier-hover: hsl(var(--primary-500-hsl)/0.3);
    --background-modifier-selected: hsl(var(--primary-500-hsl)/0.6);
    --background-nested-floating: var(--primary-630);
    --background-primary: var(--primary-600);
    --background-secondary: var(--primary-630);
    --background-secondary-alt: var(--primary-660);
    --background-tertiary: var(--primary-700);
    --bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl)/0.6);
    --button-danger-background: var(--red-430);
    --button-danger-background-active: var(--red-530);
    --button-danger-background-disabled: var(--red-430);
    --button-danger-background-hover: var(--red-500);
    --button-outline-brand-background: hsl(var(--white-500-hsl)/0);
    --button-outline-brand-background-active: var(--brand-560);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-border: var(--brand-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-brand-border-hover: var(--brand-500);
    --button-outline-brand-text: var(--white-500);
    --button-outline-brand-text-active: var(--white-500);
    --button-outline-brand-text-hover: var(--white-500);
    --button-outline-danger-background: hsl(var(--white-500-hsl)/0);
    --button-outline-danger-background-active: var(--red-460);
    --button-outline-danger-background-hover: var(--red-430);
    --button-outline-danger-border: var(--red-400);
    --button-outline-danger-border-active: var(--red-430);
    --button-outline-danger-border-hover: var(--red-430);
    --button-outline-danger-text: var(--white-500);
    --button-outline-danger-text-active: var(--white-500);
    --button-outline-danger-text-hover: var(--white-500);
    --button-outline-positive-background: hsl(var(--white-500-hsl)/0);
    --button-outline-positive-background-active: var(--green-530);
    --button-outline-positive-background-hover: var(--green-430);
    --button-outline-positive-border: var(--green-360);
    --button-outline-positive-border-active: var(--green-530);
    --button-outline-positive-border-hover: var(--green-430);
    --button-outline-positive-text: var(--white-500);
    --button-outline-positive-text-active: var(--white-500);
    --button-outline-positive-text-hover: var(--white-500);
    --button-outline-primary-background: hsl(var(--white-500-hsl)/0);
    --button-outline-primary-background-active: var(--primary-430);
    --button-outline-primary-background-hover: var(--primary-500);
    --button-outline-primary-border: var(--primary-500);
    --button-outline-primary-border-active: var(--primary-430);
    --button-outline-primary-border-hover: var(--primary-500);
    --button-outline-primary-text: var(--white-500);
    --button-outline-primary-text-active: var(--white-500);
    --button-outline-primary-text-hover: var(--white-500);
    --button-positive-background: var(--green-430);
    --button-positive-background-active: var(--green-530);
    --button-positive-background-disabled: var(--green-430);
    --button-positive-background-hover: var(--green-500);
    --button-secondary-background: var(--primary-500);
    --button-secondary-background-active: var(--primary-400);
    --button-secondary-background-disabled: var(--primary-500);
    --button-secondary-background-hover: var(--primary-430);
    --channel-icon: var(--primary-400);
    --channel-text-area-placeholder: var(--primary-430);
    --channels-default: var(--primary-360);
    --channeltextarea-background: var(--primary-560);
    --chat-background: var(--primary-600);
    --chat-border: var(--primary-700);
    --chat-input-container-background: var(--primary-600);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-360);
    --deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
    --deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
    --deprecated-quickswitcher-input-background: var(--primary-400);
    --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl)/0.3);
    --deprecated-store-bg: var(--primary-600);
    --deprecated-text-input-bg: var(--primary-700);
    --deprecated-text-input-border: hsl(var(--black-500-hsl)/0.3);
    --deprecated-text-input-border-disabled: var(--primary-700);
    --deprecated-text-input-border-hover: var(--primary-900);
    --deprecated-text-input-prefix: var(--primary-200);
    --display-banner-overflow-background: hsl(var(--primary-700-hsl)/0.5);
    --focus-primary: var(--blue-345);
    --forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl)/0.8);
    --forum-post-tag-background: hsl(var(--primary-660-hsl)/0.9);
    --header-primary: var(--primary-130);
    --header-secondary: var(--primary-330);
    --home-background: var(--primary-645);
    --home-card-resting-border: hsl(var(--transparent-hsl)/0);
    --info-box-background: hsl(var(--blue-345-hsl)/0.1);
    --info-danger-background: hsl(var(--red-400-hsl)/0.1);
    --info-danger-foreground: var(--red-400);
    --info-danger-text: var(--white-500);
    --info-help-background: hsl(var(--blue-345-hsl)/0.1);
    --info-help-foreground: var(--blue-345);
    --info-help-text: var(--white-500);
    --info-positive-background: hsl(var(--green-360-hsl)/0.1);
    --info-positive-foreground: var(--green-360);
    --info-positive-text: var(--white-500);
    --info-warning-background: hsl(var(--yellow-300-hsl)/0.1);
    --info-warning-foreground: var(--yellow-300);
    --info-warning-text: var(--white-500);
    --input-background: var(--primary-700);
    --input-placeholder-text: var(--input-placeholder-text-dark);
    --interactive-active: var(--primary-130);
    --interactive-hover: var(--primary-230);
    --interactive-muted: var(--primary-500);
    --interactive-normal: var(--primary-330);
    --live-stage-tile-border: hsl(var(--primary-500-hsl)/0.6);
    --logo-primary: var(--white-500);
    --mention-background: hsl(var(--brand-500-hsl)/0.3);
    --mention-foreground: var(--brand-260);
    --modal-background: var(--primary-600);
    --modal-footer-background: var(--primary-630);
    --profile-gradient-message-input-border: hsl(var(--primary-500-hsl)/0.48);
    --profile-gradient-note-background: hsl(var(--black-500-hsl)/0.3);
    --profile-gradient-overlay: hsl(var(--black-500-hsl)/0.6);
    --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-500-hsl)/0.8);
    --profile-gradient-profile-body-background-hover: hsl(var(--white-500-hsl)/0.16);
    --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl)/0.5);
    --profile-gradient-role-pill-border: hsl(var(--white-500-hsl)/0.2);
    --profile-gradient-section-box: hsl(var(--black-500-hsl)/0.45);
    --scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
    --scrollbar-auto-scrollbar-color-track: var(--primary-630);
    --scrollbar-auto-thumb: var(--primary-730);
    --scrollbar-auto-track: var(--primary-630);
    --scrollbar-thin-thumb: var(--primary-730);
    --scrollbar-thin-track: hsl(var(--black-500-hsl)/0);
    --spoiler-hidden-background: var(--primary-700);
    --spoiler-revealed-background: var(--primary-660);
    --status-danger: var(--red-400);
    --status-danger-background: var(--red-400);
    --status-danger-text: var(--white-500);
    --status-positive: var(--green-360);
    --status-positive-background: var(--green-430);
    --status-positive-text: var(--white-500);
    --status-warning: var(--yellow-300);
    --status-warning-background: var(--yellow-300);
    --status-warning-text: var(--black-500);
    --text-brand: var(--brand-360);
    --text-danger: var(--red-345);
    --text-link: var(--blue-345);
    --text-link-low-saturation: var(--blue-330);
    --text-muted: var(--primary-360);
    --text-normal: var(--primary-230);
    --text-positive: var(--green-330);
    --text-warning: var(--yellow-300);
    --textbox-markdown-syntax: var(--primary-360);
    --user-profile-header-overflow-background: hsl(var(--primary-700-hsl)/0.5);
}
.theme-amoled,
.theme-dark,
.theme-darker,
.theme-light{
    /* Brand Replacement */
	--brand-130-hsl: var(--accent-hsl);
	--brand-160-hsl: var(--accent-hsl);
	--brand-200-hsl: var(--accent-hsl);
	--brand-230-hsl: var(--accent-hsl);
	--brand-260-hsl: var(--accent-hsl);
	--brand-300-hsl: var(--accent-hsl);
	--brand-330-hsl: var(--accent-hsl);
	--brand-345-hsl: var(--accent-hsl);
	--brand-360-hsl: var(--accent-hsl);
	--brand-400-hsl: var(--accent-hsl);
	--brand-430-hsl: var(--accent-hsl);
	--brand-460-hsl: var(--accent-hsl);
	--brand-500-hsl: var(--accent-hsl);
	--brand-530-hsl: var(--accent-hsl);
	--brand-560-hsl: var(--accent-hsl);
	--brand-600-hsl: var(--accent-hsl);
	--brand-630-hsl: var(--accent-hsl);
	--brand-660-hsl: var(--accent-hsl);
	--brand-700-hsl: var(--accent-hsl);
	--brand-730-hsl: var(--accent-hsl);
	--brand-760-hsl: var(--accent-hsl);
	--brand-800-hsl: var(--accent-hsl);
	--brand-830-hsl: var(--accent-hsl);
	--brand-860-hsl: var(--accent-hsl);
	--brand-900-hsl: var(--accent-hsl);

    --watermark: "Nova Squadron";

    /* Accent */
    --accent: hsl(var(--accent-hsl));
    --accent-hsl: var(--accent-hue) var(--accent-saturation-base) var(--accent-lightness-base);
    --accent-2: hsl(var(--accent-2-hsl));
    --accent-2-hsl: var(--accent-hue) calc(var(--accent-saturation-coefficient) * var(--accent-saturation-base)) calc(var(--accent-lightness-coefficient) * var(--accent-lightness-base));
    --accent-hue: 212.042;
    --accent-saturation-base: 80%;
    --accent-saturation-coefficient: 1;
    --accent-lightness-base: 55%;
    --accent-lightness-coefficient: .8;
    --accent-contrast: #fff; /*#000, #fff*/

    /* Status Colors */
    --online-color: hsl(150 75% 45%);
    --idle-color: hsl(50 75% 45%);
    --dnd-color: hsl(0 75% 45%);
    --streaming-color: hsl(264.13 100% 63.922%);
    --offline-color: hsl(0 0% 53%);

    /* Radio Bar Accent Colors */
    --radio-bar-green: var(--online-color);
    --radio-bar-yellow: var(--idle-color);
    --radio-bar-orange: hsl(25 75% 45%);
    --radio-bar-red: var(--dnd-color);

    /* Fonts */
    --font-global: Jura, Titillium Web;
    --font-primary: var(--font-global);
    --font-headline: var(--font-global);
    --font-display: var(--font-global);
    --code-font: Consolas, monospace;

    /* Background */
    --background-image: url(https://i.imgur.com/RKkWBu0.png);
    --background-position: center;
    --background-size: cover;
    --background-repeat: no-repeat;
    --background-attachment: fixed;

    /* Home Button */
    --home-icon: url(https://i.imgur.com/bWAghNX.png); /*url(https://i.imgur.com/QNZ0Vi2.png)*/

    /* User Popout + Modal */
    --popout-color-top: #000;
    --popout-color-bottom: var(--accent);
    --popout-top-percent: 90%;
    --popout-background: linear-gradient(var(--popout-color-top), var(--popout-top-percent), var(--popout-color-bottom));

    /* Discord Vars */
    --background-mentioned: hsl(var(--accent-hsl) / .2);
    --background-mentioned-hover:  hsl(var(--accent-hsl) / .14);
    --background-primary: rgb(0,0,0,0.4);
    --background-secondary: var(--background-primary);
    --background-secondary-alt: rgb(0,0,0,.3); /*role dot background*/
    --background-tertiary: rgb(0,0,0,.6);
    --channel-icon: var(--channels-default);
    /**--channels-default: hsl(var(--accent-hsl) / .7);/**/
    --header-primary: var(--accent);
    --input-background: rgb(255,255,255,.1);
    --input-placeholder-text: var(--accent);
    --modal-background: #101010;
    --modal-footer-background: #080808;
    --scrollbar-auto-scrollbar-color-thumb: var(--accent);
	--scrollbar-auto-scrollbar-color-track: #0000;
	--scrollbar-auto-thumb: var(--accent);
	--scrollbar-auto-track: #0000;
	--scrollbar-thin-thumb: var(--accent);
    --text-link: var(--accent);

    /* Non-Root Discord Vars */
    --profile-body-background-color: rgb(255,255,255,.03);
}
.contents-2MsGLg>img[src*="947934356880629760"]~.header-2jRmjb>.headerText-2z4IhQ>.username-h_Y3Us::after{
    content: "Nanosuit 2.0";
    color: var(--accent);
    text-shadow: 0 0 2px;
    border: 1px solid;
    border-radius: 6px;
    margin-left: 8px;
    background-color: rgba(255,255,255,.07);
    font-size: 10px;
    padding: 0 5px;
}
[class*="banner"][style*="rgb(69, 69, 69);"]{
    background-image: url(https://i.imgur.com/jGwsi13.png) !important;
    background-position: 55% 15%;
}
#app-mount{
    background: var(--background-image) var(--background-position) /
    var(--background-size) var(--background-repeat)
    var(--background-attachment);
}
.bg-1QIAus,
.app-2CXKsg{
    background: none;
}
#app-mount > div[class*="titleBar"]{
    background-color: var(--background-tertiary);
    margin-top: 0;
    height: 22px;
}
/* TITLE BAR + WINDOWS BUTTONS */
[class*="winButton-"]{
    color: var(--accent);
    top: 0;
    width: calc(100%/9);
}
[class*="winButton-"]:hover:not([aria-label="Close"]){
    background: var(--accent);
    color: var(--accent-contrast);
}
/* Watermark */
#app-mount > div[class*="titleBar"] > div:first-child{
    padding: 5px 9px;
}
#app-mount > div[class*="titleBar"] > div:first-child:before{
    content: var(--watermark);
    color: var(--accent);
    font-size: 14px;
    font-weight: 600;
}
#app-mount > div[class*="titleBar"] > div:first-child svg{
    display: none;
}
/* SCROLL BARS */
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
	background: var(--accent);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:active{
    background: var(--accent-2);
}
/* UNREAD BUTTONS */
.mention-3XBnnZ,
.mention-3XBnnZ:active,
.unread-2wipsx,
.unread-2wipsx:active{
    background: var(--accent);
}
.mention-3XBnnZ,
.unread-2wipsx{
    color: var(--accent-contrast);
    font-size: 13px;
    line-height: 1.2;
    opacity: 1;
}
.mention-3XBnnZ:hover,
.unread-2wipsx:hover{
    background: var(--accent-2);
}
/* SERVER BAR */
[class*="folder-"],
[class*="folder-"][class*="hover-"]{
    background: none;
}
.item-2LIpTv{
    background: var(--accent);
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub{
    color: var(--accent-contrast)
}
/* SIDEBAR */
.platform-win [class*="sidebar-"]{
    border-radius: unset;
}
:root [class*="privateChannels-"] [class*="scroller-"]{
    background: none; /*keeps server and dm sidebar same bg*/
}
:root .container-YkUktl{
    background: none;
}
:root .container-1NXEtd,
.container-1NXEtd+.panels-3wFtMD,
.privateChannels-oVe7HL+.panels-3wFtMD{
    background: var(--background-secondary);
}
.sidebar-1tnWFu{
    width: 320px; /*increased width for longer names*/
}
.channel-1Shao0{
    max-width: 96.4%; /*default: 224px. 96.4% very close*/
}
/* DIRECT MESSAGES, CHANNEL LIST AND MEMBER LIST */
[class*="interactiveSelected-"],
.interactive-26HRN_:focus-within,
.interactive-26HRN_:hover,
.interactive-iyXY_x .highlighted-Q8Nll-,
[class*="modeSelected-"] .link-1_kTxV,
[class*="modeSelected-"]:hover .link-1_kTxV,
[class*="modeSelected-"] .icon-2W8DHg,
[class*="modeSelected-"] .name-28HaxV,
[class*="modeSelected-"] .actionIcon-2sw4Sl,
[class*="modeUnread-"] .icon-2W8DHg,
[class*="modeUnread-"] .name-28HaxV,
[class*="modeConnected-"] .icon-2W8DHg,
[class*="modeConnected-"] .name-28HaxV,
[class*="modeConnected-"] .actionIcon-2sw4Sl,
.wrapper-NhbLHG:hover .icon-2W8DHg,
.wrapper-NhbLHG:hover .name-28HaxV,
.wrapper-NhbLHG:hover .actionIcon-2sw4Sl,
.selected-1-Z6gm .layout-1qmrhw,
.selected-1-Z6gm .layout-1qmrhw .activity-2EQDZv,
.clickable-28SzVr.container-1oeRFJ:hover{
    color: var(--accent);
}
.unreadRelevant-2f-VSK{ /*unread marker*/
    background: var(--accent);
}
[class*="interactiveSelected-"],
[class*="modeSelected-"] .link-1_kTxV,
.selected-1-Z6gm .layout-1qmrhw{
    border: 3px solid;
}
[class*="interactiveSelected-"],
.interactive-26HRN_:focus-within,
.interactive-26HRN_:hover,
[class*="modeSelected-"] .link-1_kTxV,
.wrapper-NhbLHG:hover .link-1_kTxV,
.selected-1-Z6gm .layout-1qmrhw,
.clickable-28SzVr.container-1oeRFJ:hover {
    background: hsl(var(--accent-hsl) / .1);
}
.clickable-28SzVr:hover .layout-1qmrhw{
    background-color: unset;
}
.interactive-26HRN_,
.wrapper-NhbLHG .link-1_kTxV,
.layout-1qmrhw,
.clickable-28SzVr.container-1oeRFJ{
    border-radius: 9999px;
}
.interactive-iyXY_x .highlighted-Q8Nll-,
.interactive-26HRN_:focus-within:not([class*="interactiveSelected-"]),
.interactive-26HRN_:hover:not([class*="interactiveSelected-"]),
.wrapper-NhbLHG:hover:not([class*="modeSelected-"]) .name-28HaxV,
[class*="modeUnread-"] .name-28HaxV,
[class*="modeConnected-"] .name-28HaxV,
.clickable-28SzVr.container-1oeRFJ:hover{
    text-shadow: 0 0 5px;
}
[class*="modeConnected-"] .iconContainer-21RCa3,
[class*="modeConnected-"] .actionIcon-2sw4Sl,
.wrapper-NhbLHG:hover:not([class*="modeSelected-"]) .icon-2W8DHg,
.wrapper-NhbLHG:hover:not([class*="modeSelected-"]) .actionIcon-2sw4Sl{
    filter: drop-shadow(0 0 5px)
}
/* FRIENDS TAB */
[class*="tabBody-"],
:root .themed-Hp1KC_{
    background: var(--background-primary);
}
[class*="peopleListItem-"].active-2UF8Zh,
[class*="peopleListItem-"]:hover{
    background: hsl(var(--accent-hsl) / .2);
}
[class*="nowPlayingColumn"],
[class*="nowPlayingColumn"] .container-1oAagU{
    background: none;
}
/* Improved Empty State */
[class*="peopleColumn-"] > [class*="emptyStateContainer-"] .wrapper-5BaSTh{
    max-width: 100%;
}
[class*="peopleColumn-"] [class*="image-"]{
    display: none;
}
[class*="peopleColumn-"] > [class*="emptyStateContainer-"] [class*="text-"]{
    color: var(--accent);
    font-size: 32px;
    font-weight: 600;
    line-height: 0;
    max-width: unset;
    text-indent: -9999px;
}
[class*="peopleColumn-"] > [class*="emptyStateContainer-"] [class*="text-"]:after{
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
#online-tab > [class*="emptyStateContainer-"] [class*="text-"]:after{
    content:"No friends currently online";
}
#all-tab > [class*="emptyStateContainer-"] [class*="text-"]:after{
    content:"No friends added";
}
#pending-tab > [class*="emptyStateContainer-"] [class*="text-"]:after{
    content:"No outgoing/incoming friend requests";
}
#blocked-tab > [class*="emptyStateContainer-"] [class*="text-"]:after{
    content:"No blocked users";
}
/* Now Playing Column */
@media (max-width: 1440px) { 
	[class*="nowPlayingColumn-"]{
		display: none;
	}
}
[class*="nowPlayingColumn-"] [class*="emptyCard-"] [class*="emptyText-"]{
    display: none;
}
[class*="nowPlayingColumn-"] [class*="emptyCard-"] [class*="emtpyHeader-"]{
    line-height: 0;
    text-indent: -9999px;
}
[class*="nowPlayingColumn-"] [class*="emptyCard-"] [class*="emtpyHeader-"]:after{
    content: "No one is currently active";
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
/* FAMILY CENTER */
#requests-tab,
#activity-tab{
    background: var(--background-primary);
}
/* MEMBER LIST */
.container-2o3qEW{
    background: none;
}
.membersWrap-3NUR2t{
    height: 100%;
}
.member-48YF_l{
    background: none; /*member list item in servers*/
}
/* USER POPOUTS + MODALS */
[class*="userProfileInnerThemedNonPremium-"]{
    background: var(--popout-background);
}
/* Weird Username Support */
[class*="userPopoutOverlayBackground-"] [class*="nickname-"],
[class*="userProfileModalOverlayBackground-"] [class*="text-lg-semibold-"]{
    line-height: 2.8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
[class*="userPopoutOverlayBackground-"] [class*="userTag-"],
[class*="userProfileModalOverlayBackground-"] [class*="nameTagSmall-"]{
    font-size: 16px; /*default: 14px*/
    line-height: 2.8;
}
/* Modal Tabs*/
[aria-label="User Profile Modal"] [class*="tabBar-"]{
    justify-content: space-evenly;
}
.top-Ktfr_T .themed-qqoYp3.item-2GWPIy:hover,
.top-Ktfr_T .selected-1sf9UK.themed-qqoYp3.item-2GWPIy{
    border-bottom-color: var(--accent);
}
/* Mutual Friends + Servers */
[class*="emptyIconFriends-"],
[class*="emptyIconGuilds-"]{
    display: none;
}
/* Roles */
.roles-3vQPxb .roleRemoveIcon-387wKV,
.roleWrapper-2IhvNd .roleRemoveIcon-387wKV{
    left: calc(100% - 10px);
}
.roles-3vQPxb .role-2TIOKu,
.roleWrapper-2IhvNd .role-2TIOKu{
    border: 3px solid rgb(255,255,255,.3);
    padding: 10px 4px;
}
.roles-3vQPxb .role-2TIOKu:hover,
.roleWrapper-2IhvNd .role-2TIOKu:hover{
    border-color: rgb(255,255,255,.5);
}
/* CHANNEL TEXT AREA */
.form-3gdLxP{
    margin-top: 0;
}
.form-3gdLxP:before{
    content: none;
}
[class*="channelTextArea-"]{
    border: 3px solid var(--accent);
    border-radius: 12px;
}
[class*="channelTextArea-"] [class*="themedBackground-"]{
    background: none;
}
/* Reply Bar */
.name-3DDHNY{
    display: inline-block;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* MESSAGE AREA */
.divider-2rZFJK{
    border-color: var(--accent);
}
/* New Member Badge */
[class*="newMemberBadge-"]{
    width: unset;
    height: calc(1rem + 6px);
}
[class*="newMemberBadge-"] svg{
    display: none;
}
[class*="newMemberBadge-"]:before{
    content: "New";
    text-shadow: 0 0 2px;
    border: 1px solid;
    border-radius: 8px;
    margin-left: 8px;    
    font-size: 12px;
    padding: 1px 5px;
}
/* Replied Messages */
.repliedMessage-3Z6XBG:before{
    border-color: var(--accent);
}
/* Chat Header */
.header-1dhDWV{
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2.8;
}
.description-22d6ux{
    line-height: 2.8;
}
.description-22d6ux strong{
    display: inline-block;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top; /*certain unicode characters fuck up vertical alignment of text so*/
}
/* Chat Header (new server) */
.subtitle-3tY4DQ{
    line-height: 0;
    text-indent: -9999px;
}
.subtitle-3tY4DQ:after{
    line-height: 1.3;
    text-indent: 0;
    content: "Below are some steps to help you get this server started.";
    display: block;
}
.container-1yy5xN .cardWrapper-2fBdfM .icon-2dMhn4{
    display: none;
}
.container-1yy5xN .cardWrapper-2fBdfM .card-PQEqCK:before{
    color: var(--header-primary);
    min-width: 90px;
    font-weight: 700;
}
.container-1yy5xN .cardWrapper-2fBdfM:nth-child(2) .card-PQEqCK:before{
    content: "< Friends >";
}
.container-1yy5xN .cardWrapper-2fBdfM:nth-child(3) .card-PQEqCK:before{
    content: "< Icon >";
}
.container-1yy5xN .cardWrapper-2fBdfM:nth-child(4) .card-PQEqCK:before{
    content: "< Msg >";
}
.container-1yy5xN .cardWrapper-2fBdfM:nth-child(5) .card-PQEqCK:before{
    content: "< App >";
}
/* Button Menu On Right */
.message-2CShn3 .buttonsInner-1ynJCY{
    background: var(--background-floating);
    box-shadow: 0 0 0 2px var(--accent);
}
/* Smaller Stickers */
.clickableSticker-3FN2_L .assetWrapper-2hzITV{
    height: 5rem !important;
    width: 5rem !important;
}
/* New Message Bar */
[class*="newMessagesBar-"] [class*="barButtonBase-"]{
    color: var(--accent-contrast)
}
/* Date Divider */
.content-3spvdd{
    background: var(--accent);
    color: var(--accent-contrast);
    font-size: 14px;
    line-height: 1.2;
    padding: .3em;
}
/* SETTINGS and TOP PILL ITEMS */
.standardSidebarView-E9Pc3j{
    background: none;
}
.contentRegionScroller-2_GT_N{
    background: none;
}
.side-1lrxIh .item-2GWPIy,
.topPill-2vcLsa .item-2GWPIy{
    border-radius: 9999px;
}
.selected-1sf9UK.item-2GWPIy,
.selected-1sf9UK.item-2GWPIy:hover{
    color: var(--accent);
}
.side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy,
.topPill-2vcLsa .themed-qqoYp3.selected-1sf9UK.item-2GWPIy{
    border: 3px solid;
}
.side-1lrxIh .themed-qqoYp3.selected-1sf9UK.item-2GWPIy,
.topPill-2vcLsa .themed-qqoYp3.selected-1sf9UK.item-2GWPIy:not([class*="addFriend-"]),
.side-1lrxIh .themed-qqoYp3.item-2GWPIy:hover:not(.disabled-2G98Nl),
.topPill-2vcLsa .themed-qqoYp3.item-2GWPIy:hover:not(.disabled-2G98Nl):not([class*="addFriend-"]){
    background: hsl(var(--accent-hsl) / .1);
}
.brand-2EKq3J.item-2GWPIy:hover:not(.selected-1sf9UK),
.themed-qqoYp3.item-2GWPIy:hover:not(.selected-1sf9UK):not([class*="addFriend-"]){
    color: var(--accent);
    text-shadow: 0 0 5px;
}
/* Add Friend Pill */
.tabBar-ra-EuL [class*="addFriend-"]:hover{
    background: #0000 !important;
    border: 3px solid;
    color: var(--text-positive) !important;
}
/* SETTINGS */
/* Devices */
[class*="sessionIcon-"]{
    background: var(--accent);
    color: var(--accent-contrast);
}
/*Privacy and Safety*/
[class*="radioBar-"][style*="--radio-bar-accent-color:var(--green-360)"]{
    border-color: var(--radio-bar-green) !important;
}
[class*="radioBar-"][style*="--radio-bar-accent-color:var(--yellow-360)"]{
    border-color: var(--radio-bar-yellow) !important;
}
[class*="statusOrange-"]{
    border-color: var(--radio-bar-orange);
}
[class*="radioBar-"][style*="--radio-bar-accent-color:var(--red-400)"]{
    border-color: var(--radio-bar-red) !important;
}
[class*="selectedBackground-"]{
    background: none;
}
/* Registered Games */
:root [class*="addGamePopout-"]{
    background: #101010;
}
/* STATUS COLORS */
rect[mask="url(#svg-mask-status-online-mobile)"],
rect[mask="url(#svg-mask-status-online)"]{
    fill: var(--online-color);
}
rect[mask="url(#svg-mask-status-idle)"]{
    fill: var(--idle-color);
}
rect[mask="url(#svg-mask-status-dnd)"]{
    fill: var(--dnd-color);
}
rect[mask="url(#svg-mask-status-streaming)"]{
    fill: var(--streaming-color);
}
[aria-label*="offline" i] rect[fill="#80848e"],
rect[mask="url(#svg-mask-status-offline)"]{
    fill: var(--offline-color);
}
/* NUMBER BADGES */
[class*="numberBadge-"][style*="background-color: var(--status-danger)"]{
    background: var(--accent) !important;
    color: var(--accent-contrast);
}
/* BUTTONS */
[class*="lookFilled-"][class*="colorBrand-"]{
    color: var(--accent-contrast);
}
[class*="lookFilled-"][class*="colorBrand-"]:hover,
[class*="lookFilled-"][class*="colorBrand-"]:active{
    background: var(--accent-2);
}
[class*="lookFilled-"][class*="colorBrand-"]:disabled,
[class*="lookFilled-"][class*="colorBrand-"][aria-disabled="true"]{
    background: var(--accent);
}
/*voice panel action buttons*/
[class*="lookFilled-"][class*="colorBrand-"].button-1EGGcP.buttonColor-3bP3fX {
    background: var(--accent);
}
[class*="lookFilled-"][class*="colorBrand-"].button-1EGGcP.buttonColor-3bP3fX:hover {
    background: var(--accent-2);
}
/* CHANNEL HEADER */
.children-3xh0VB:after{
    content: unset;
}
.themed-Hp1KC_ .icon-2xnN2Y{
    color: var(--accent);
}
.selected-29KTGM .icon-2xnN2Y {
    filter: drop-shadow(0 0 5px)
}
.clickable-ZD7xvu:hover .icon-2xnN2Y {
    color: var(--accent-2);
}
.header-1w9Q93+.messagesPopout-eVzQcI{
    background: var(--background-tertiary); /*standardizes bg color of pinned and mentions dropdown*/
}
/* Group DM Name */
.outer-1KB3kA .input-1nrc5P{
    border: 2px solid #0000;
}
.outer-1KB3kA:hover .input-1nrc5P{
    border-color: var(--accent);
}
.input-1nrc5P:focus{
    background: rgb(255,255,255,.1);
}
/* Threads */
.container-18GwIk {
    background: var(--background-floating); /*matches channel context dropdown menu bg next to it*/
}
/* Header Search Bar */
[class*="search-"] [class*="searchBar-"]{
    border: 3px solid var(--accent);
    box-sizing: content-box;
    border-radius: 8px;
    width: 300px; /*default: 144px*/
}
[class*="search-"][class*="focused-"] [class*="searchBar-"],
[class*="search-"][class*="open-"] [class*="searchBar-"]{
    width: 350px;
}
/* SEARCH BARS */
[class*="searchBar-"] [class*="searchBarComponent-"]{
    border: 3px solid var(--accent);
    box-sizing: content-box;
    border-radius: 8px;
}
/* SEARCH RESULTS WRAP */
.searchHeader-1r_ZSh,
header.searchHeader-1r_ZSh+div{
    background: var(--background-secondary-alt); /*search results wrap background matches aside profile panel*/
}
.highlight{ /*highlighted queried text*/
    background: var(--accent);
    color: var(--accent-contrast);
}
.container-rZM65Y .buttonsContainer-Nmgy7x{
    display: flex;
    /*always show jump button*/
}
.button-cfOvv-,
.button-cfOvv-:hover{
    color: var(--accent-contrast);
}
.button-cfOvv-{
    background: var(--accent);
}
.button-cfOvv-:hover{
    background: var(--accent-2);
}
/* ANTI DUMB SHIT (work in progress) */
.root-1F1IKT,
[class^="art-"],
[class*="artContainer-"],
[class*="bannerArt-"],
[class*="backgroundImages-"],
[class*="confetti" i],
[class*="heroBanner-"],
[class*="howItWorksImage-"],
[class*="noResultsImage-"],
[class*="perkNewsletter-"],
[class*="perkBadge-"],
[class*="perkChallenges-"],
img[class*="roleSubscription"],
[class*="sparkles" i],
[class*="stars" i],
[class*="upsellImage-"],
img[alt*="clyde" i],
img[alt*="mallow" i],
img[alt*="graggle" i],
img[alt*="sparkle"],
img[alt*="wumpus" i]{
    display: none !important;
}
/* MISCELLANEOUS */
[class*="cardPrimary-"],
[class*="cardPrimary-"][class*="editable"]{
    border-color: var(--accent);
}
::selection{
    background: var(--accent);
    color: var(--accent-contrast);
}
.selectedIcon-122rMx circle[fill="white"]{
    fill: var(--accent-contrast);
}
[style*="background-color: var(--brand-500)"],
[style*="background-color: var(--brand-500)"] [class*="automodText-"],
[class*="lookFilled-"][class*="colorBrandNew-"]{
    color: var(--accent-contrast)
}
[class*="attachedBars-"]{
    background: none;
}
.header-2F5_LB, /*settings sidebar header*/
.container-q97qHp, /*channel, dm and memberlist header*/
.wrapperCommon-I1TMDb, /*channel header icons*/
.clickable-ZD7xvu .icon-2xnN2Y/*dm list plus icon*/{
    color: var(--accent)
}
/* Shorten Long Usernames (message area, search results wrap, reply contexts, etc) */
.username-h_Y3Us{
    display: inline-block;
    max-width: 25ch;

    text-overflow: ellipsis;
    white-space: pre;
    vertical-align: middle;
}
/* Flower Star */
.flowerStar-2tNFCR{
    background: var(--brand-500);
    border-radius: 50%;
}
.flowerStar-2tNFCR+div [fill="var(--white-500)"]{
    fill: var(--accent-contrast);
}
/* Bot Tags */
[class*="botTagRegular-"]{
	color: var(--accent-contrast);
}
[class*="botTagInvert-"]{
	background: var(--accent-contrast);
}
/* Default Emoji in Inputs */
.sprite-2lxwfc{
    background-image: var(--home-icon);
    background-size: 22px 22px !important;
    background-position: unset !important;
    filter: none !important;
}
/* MISCELLANEOUS MODALS */
/* "Soo... You Blocked This Person" Modal */
[aria-label="Soo... You Blocked This Person"] h2,
[aria-label="Soo... You Blocked This Person"] [data-text-variant="text-md/normal"]{
    text-indent: -9999px;
    line-height: 0;
}
[aria-label="Soo... You Blocked This Person"] h2:after,
[aria-label="Soo... You Blocked This Person"] [data-text-variant="text-md/normal"]:after{
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
[aria-label="Soo... You Blocked This Person"] h2:after{
    content: "User Blocked";
}
[aria-label="Soo... You Blocked This Person"] [data-text-variant="text-md/normal"]:after{
    content: "Unblock this user to jump to the specified message";
}
/* "Friend request failed" Modal */
[aria-label="Friend request failed"] [data-text-variant="text-md/normal"]{
    text-indent: -9999px;
    line-height: 0;
}
[aria-label="Friend request failed"] [data-text-variant="text-md/normal"]:after{
    content: "User not found. If the username is correct, the user has either blocked you or has prevented certain friend requests in settings.";
    display: block;
    text-indent: 0;
    line-height: 1.25;
}
/* INTERACTIVE TEXT */
.wrapper-1ZcZW-{
    background: hsl(var(--accent-hsl) / .2);
    color: var(--accent);
    padding: 2px 4px;
}
.interactive:hover{
    background: var(--accent);
    color: var(--accent-contrast);
}
/* Long Username Support */
.contents-2MsGLg .wrapper-1ZcZW-{ /* does NOT affect replies. still *may* not work completely as intended (check IPL) */
    display: inline-block;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: pre;
}
/* Pings */
.mentioned-Tre-dv:before{
    background: var(--accent);
    width: 2px;
}
/* QUICKSWITCHER */
[class*="quickswitcher-"]{
    border: 3px solid var(--accent);
}
/* USER AREA PANEL */
[class*="withTagAsButton-"]:hover,
[class*="withTagless-"]:hover{
    background: hsl(var(--accent-hsl) / .2);
}
[class*="withTagAsButton-"]:hover [class*="title-"]{
    text-shadow: 0 0 5px;
}
/* Panel Button */
.button-12Fmur{
    color: var(--accent);
    transition: .2s;
}
.button-12Fmur.enabled-9OeuTA:hover{
    background: var(--accent);
    color: var(--accent-contrast);
}
/* Mute/Deafen/User Settings Buttons */
[aria-label="User area"] [aria-label="Set Status"]+div{
    background: hsl(var(--accent-hsl) / .2); /*bg kept to visually "group" like elements together*/
    border-radius: 15px;
}
[aria-label="User area"] [aria-label="Set Status"]+div .button-12Fmur:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
[aria-label="User area"] [aria-label="Set Status"]+div .button-12Fmur:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* Voice Panel */
.container-1zzFcN{
    background: none;
}
/* Popout */
#account-status-picker--online[class*="focused-"]{
    background: var(--online-color);
}
#account-status-picker--idle[class*="focused-"]{
    background: var(--idle-color);
}
#account-status-picker--dnd[class*="focused-"]{
    background: var(--dnd-color);
}
#account-status-picker--invisible[class*="focused-"]{
    background: var(--offline-color);
}
[class*="menu-"] [class*="menuItemFocused-"]{
    background: var(--accent);
}
[class*="colorDefault-"][class*="focused-"],
[class*="colorDefault-"][class*="focused-"] [class*="userMenuUsername-"] [class*="userMenuDiscriminator-"],
[class*="colorDefault-"][class*="focused-"] [class*="userMenuUsername-"] [class*="userMenuText-"]{
    color: var(--accent-contrast);
}
[class*="colorDefault-"] [fill*="var(--white-500)"]{
    fill: var(--accent-contrast);
}