[class*="spoilerAttachment_"][class*="hiddenSpoiler_"],
.spoiler_f847a3,
[class*="obscured_"][class*="hiddenAttachment_"],
[class*="spoilerEmbed_"][class*="hiddenSpoiler_"] [class*="grid_"]{
    filter: blur(30px);
    transition: .2s;
}
[class*="spoilerContent_"][class*="hidden_"]:hover{
	--__current--spoiler-background-color: var(--__spoiler-background-color--hidden);
	--__current--spoiler-border-color: var(--__spoiler-border-color--hidden);
	--__current--spoiler-warning-text-color: var(--__spoiler-warning-text-color);
	--__current--spoiler-warning-background-color: var(--__spoiler-warning-background-color);
}
[class*="spoilerContent_"][class*="hidden_"]:hover .obscureWarning_aa9639,
[class*="spoilerContent_"][class*="hidden_"]:hover .spoilerWarning_aa9639{
    opacity: 0.3;
}
[class*="spoilerContent_"][class*="hidden_"]:hover [class*="spoilerAttachment_"][class*="hiddenSpoiler_"],
[class*="spoilerContent_"][class*="hidden_"]:hover .spoiler_f847a3,
[class*="spoilerContent_"][class*="hidden_"]:hover [class*="obscured_"][class*="hiddenAttachment_"] ,
[class*="spoilerContent_"][class*="hidden_"]:hover [class*="spoilerEmbed_"][class*="hiddenSpoiler_"] [class*="grid_"]{
    filter: blur(18px);
}