/*
:root{
    --accent: your color here;
}

^^^ Put this in your theme file
*/

.acronym_fb7739{
    display: none
}
.wrapper__8436d:has(.acronym_fb7739),
.acronym_a64689{
    -webkit-mask-image: url(https://raw.githubusercontent.com/twbs/icons/main/icons/hdd-rack.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background: var(--text-normal);
}
.wrapper__8436d:has(.acronym_fb7739){
    -webkit-mask-size: 36px;
}
.acronym_a64689{
    -webkit-mask-size: 12px;
}
foreignObject:has(.wrapper__8436d:hover .acronym_fb7739){
    color: var(--accent);
    filter: drop-shadow(0 0 5px);
}
.wrapper__8436d:has(.acronym_fb7739):hover{
    background: currentColor;
}