[aria-label="User area"] button[aria-label="User Settings"] svg,
[aria-label="User area"] button[aria-label="Mute"] svg,
[aria-label="User area"] button[aria-label="Deafen"] svg{
    display: none;
}
[aria-label="User area"] button[aria-label="User Settings"] :has(> svg),
[aria-label="User area"] button[aria-label="Mute"] :has(> svg),
[aria-label="User area"] button[aria-label="Deafen"] :has(> svg){
	-webkit-mask-size: cover;
	background: var(--user-area-icon-color, var(--interactive-normal));
}
[aria-label="User area"] button[aria-label="User Settings"]:hover :has(> svg),
[aria-label="User area"] button[aria-label="Mute"]:hover :has(> svg),
[aria-label="User area"] button[aria-label="Deafen"]:hover :has(> svg){
	background: var(--user-area-icon-color-hover, var(--interactive-hover));
}
[aria-label="User area"] button [style*="--status-danger"]:has(> svg),
[aria-label="User area"] button:hover [style*="--status-danger"]:has(> svg) {
	background: var(--status-danger);
}
[aria-label="User area"] button[aria-label="Mute"] :has(> svg){
	-webkit-mask-image: url(https://api.iconify.design/mdi/microphone.svg);
}
[aria-label="User area"] button[aria-label="Mute"] [style*="--status-danger"]:has(> svg) {
	-webkit-mask-image: url(https://api.iconify.design/mdi/microphone-off.svg);
}
[aria-label="User area"] button[aria-label="Deafen"] :has(> svg){
	-webkit-mask-image: url(https://api.iconify.design/mdi/headphones.svg);
}
[aria-label="User area"] button[aria-label="Deafen"] [style*="--status-danger"]:has(> svg){
	-webkit-mask-image: url(https://api.iconify.design/mdi/headphones-off.svg);
}
[aria-label="User area"] button[aria-label="User Settings"] :has(> svg){
	-webkit-mask-image: url(https://api.iconify.design/mdi/cog.svg);
}