:root{
    --server-sidebar-width: 232px;
}
/* ^^^ Copy this and customize these values to your liking*/

.guilds_a4d4d9{
    /* server sidebar width */
    width: var(--server-sidebar-width);
}
.listItem_c96c45{
    width: max-content;
}
div:has(~[aria-label="Servers"]) .svg_c5f96a,
div:has(~[aria-label="Servers"]) foreignObject:has(> .wrapper__8436d),
div:has(~[aria-label="Servers"]) .wrapper__8436d,
.expandedFolderBackground_bc7085,
[aria-label="Servers"]~div .svg_c5f96a,
[aria-label="Servers"]~div foreignObject,
.circleIconButton_db6521{
    width: calc(var(--server-sidebar-width) - 24px);
}
.circleIcon_db6521{
    /* makes discover section icons size consistent */
    padding: 12px;
}
/* Separator Lines */
.listItem_c96c45:has(.guildSeparator_d0c57e){
    width: 100%;
}
.guildSeparator_d0c57e{
    width: 80%;
}
/* Alignment */
.wrapper_c5f96a{
    margin-left: 12px; 
}
div:has(~[aria-label="Servers"]) foreignObject,
[aria-label="Servers"]~div foreignObject{
    transform: translateX(calc(50% - (var(--server-sidebar-width) - 24px) / 2));
}
div:has(~[aria-label="Servers"]) .wrapper__8436d,
.circleIconButton_db6521{
    justify-content: start;
}
/* Labels */
.blobContainer_a5ad63,
.listItem_c96c45>[data-dnd-name]{
    /* Aligns labels properly */
    display: flex;
    align-items: center;
}
div:has(~[aria-label="Servers"]) .wrapper__8436d:after,
.circleIconButton_db6521:after{
    content: attr(aria-label);
}
.blobContainer_a5ad63:after,
.listItem_c96c45>[data-dnd-name]:after{
    content: attr(data-dnd-name);
}
div:has(~[aria-label="Servers"]) .wrapper__8436d:after,
.blobContainer_a5ad63:after,
.listItem_c96c45>[data-dnd-name]:after,
.circleIconButton_db6521:after{
    color: var(--text-normal);
    
    position: relative;
    left: 12px;
    
    max-width: calc(var(--server-sidebar-width) - 84px); /*icon size - 48px, margins both sides - 24px - margin left of text - 12px*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div:has(~[aria-label="Servers"]) .wrapper__8436d:hover:after,
.blobContainer_a5ad63:hover:after,
.listItem_c96c45>[data-dnd-name]:hover:after,
.circleIconButton_db6521:hover:after{
    color: var(--accent,#5562ea);
}