[class*="activitycharacter" i],
[class^="art_"],
[class*="artcontainer" i],
[class*="bannerArt_"],
.bannerImage_fc867b /*quests section of discovery*/,
[class*="backgroundImages_"],
[class*="bigperkart" i],
[class*="bottomIllustration_"],
[class*="confetti" i],
[class*="emptyIconFriends_"],
[class*="emptyIconGuilds_"],
[class*="emptyimage-" i],
[class*="emptystateimage-" i],
[class*="errorStateIcon_"], /*Group DM modal error state icon (not friends and trying to make group DM)*/
.footerImage_fab929 /* Integrations page in server settings */,
[class*="guildBoostGemWrapper_"],
[class*="heroBanner-" i],
[class*="howItWorksImage_"],
.image_b12c98,
[class*="noResultsImage_"],
[class*="perkNewsletter_"],
[class*="perkBadge_"],
[class*="perkChallenges_"],
[class*="perkpreviewimage-" i],
[class*="perkscardart" i],
[class*="reactionInner_"][aria-label*="super react"],
img[class*="roleSubscription"],
[class*="sparkle_"] /* a sparkleContainer_ class is used for user settings -> profiles -> profile theme*/,
[class*="sparkles_"] /* hope this doesn't screw something up*/,
[class*="stars" i],
[class*="upsellImage_"],
[class*="userSettingsSecurityImage_"] /* Chest and key in my account page of user settings */,
[class*="wumpus" i],
img[alt*="clyde" i],
img[alt*="mallow" i],
img[alt*="graggle" i],
img[alt*="sparkle"],
img[alt*="wumpus" i],
/* Specific assets below (MUST HAVE AT LEAST 1 LOCATION) */
[alt="A character looking excitedly at coins raining from the sky"] /* Hooded guy looking at coins in server subscriptions page of server settings */,
[alt="Boost progress bar example"] /* Progress bar in overview page of server settings */,
[src="/assets/0fe043cd8ae1ba7aaec9.svg"] /* Student hub banner in discovery */,
[src="/assets/8cb07feb11b94688667c.svg"] /* Wooden logs in family center if empty */,
[src="/assets/c20795680da160eea400.png"] /* "boost this server" panel in channel list*/,
[src="/assets/c6e6469d283177ac15ed.svg"] /* House in enable community page of server settings */,
[src="/assets/df20f137da47b3b453cd.svg"] /* Stupid robot rabbit in integrations page of server settings */,
[style*="/assets/04e2c9489e75f5614205.svg"] /* Claimed quests in discovery */,
[style*="/assets/1248c5404ae1ad9c1e18.svg"] /* Emojis page of server settings if empty */,
[style*="/assets/53591c327740eb5fb444.svg"] /* Keybinds page of user settings if empty */,
[style*="/assets/59848dfca28e69ff3553.svg"] /* Connections page of user settings if empty */,
[style*="/assets/71792026f672985a033d.svg"] /* Authorized apps page of user settings if empty */,
[style*="/assets/bb9dbec63310ef1d5269.svg"] /* Paper airplane in invites page of server settings */,
[style*="/assets/cda085d959d7040960ca.svg"] /* Bans page of server settings */{
    display: none !important;
}
:has(> [src="/assets/0fe043cd8ae1ba7aaec9.svg"]){
	background: #808aff;
}
[style*="/assets/2081717236a848985423.png"] /* Stupid banner image in "Try out Nitro!" section of profiles page in user settings */ {
	background-image: linear-gradient(var(--bg-surface-overlay), var(--bg-surface-overlay)) !important;
}