.membersWrap_cbd271{
    min-width: unset;
    flex-basis: 65px;
}
.membersWrap_cbd271:not(:hover),
.membersWrap_cbd271:not(:hover) .members_cbd271{
    width: 65px;
}
.membersWrap_cbd271:hover,
.membersWrap_cbd271:hover .members_cbd271{
    width: var(--members-width);
}
.membersWrap_cbd271,
.membersWrap_cbd271 .members_cbd271{
    transition: width .7s ease-in-out;
}
.membersWrap_cbd271:not(:hover) .members_cbd271 .membersGroup_cbd271{
    visibility: hidden;
}