/*-----FRIENDS PAGE-----*/
/*---EMPTY STATE---*/
[class*="peopleColumn_"] [class*="friendsEmpty_"] [class*="text_"]{
    line-height: 0;
    text-indent: -9999px;
}
[class*="peopleColumn_"] [class*="friendsEmpty_"] [class*="text_"]:after{
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
#online-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No friends currently online";
}
#all-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No friends added";
}
#pending-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No outgoing/incoming friend requests";
}
#blocked-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No blocked users";
}
/*---NOW PLAYING COLUMN---*/
[class*="nowPlayingColumn_"] [class*="emptyCard_"] [class*="emptyText_"]{
    display: none;
}
[class*="nowPlayingColumn_"] [class*="emptyCard_"] [class*="emptyHeader_"]{
    line-height: 0;
    text-indent: -9999px;
}
[class*="nowPlayingColumn_"] [class*="emptyCard_"] [class*="emptyHeader_"]:after{
    content: "No one is currently active";
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
/*-----MESSAGE AREA-----*/
/*---CHAT HEADER (NEW SERVERS)---*/
.subtitle_f9902b{
    line-height: 0;
    text-indent: -9999px;
}
.subtitle_f9902b:after{
    line-height: 1.286;
    text-indent: 0;
    content: "Below are some steps to help personalize this server.";
    display: block;
}
/*-----USER SETTINGS-----*/
/*---MY ACCOUNT---*/
/* Replaces ಠ_ಠ with Edit */
button[aria-label="Edit username"] [class*="contents_"]{
    text-indent: -9999px;
    line-height: 0;
}
button[aria-label="Edit username"] [class*="contents_"]:after{
    text-indent: 0;
    line-height: 1.143;
    display: block;
    content: "Edit";
}
/*---PROFILES---*/
#profile-customization-tab [class*="tryItOutSection_"] h3{
    text-indent: -9999px;
    line-height: 0;
}
#profile-customization-tab [class*="tryItOutSection_"] h3:after{
    text-indent: 0;
    line-height: 1.25;
    display: block;
    content: "Nitro Preview";
}
/*---NITRO---*/
#discord-nitro-tab [class*="settingsTextContainer_"] h2,
[class*="planComparisonTableContainer_"] [class*="titleText_"],
[class*="perkCard_"]:not(:nth-child(5), :nth-child(8)) [class*="perkCardDescription_"]{
    text-indent: -9999px;
    line-height: 0;
}
#discord-nitro-tab [class*="settingsTextContainer_"] h2:after,
[class*="planComparisonTableContainer_"] [class*="titleText_"]:after,
[class*="perkCard_"]:not(:nth-child(5), :nth-child(8)) [class*="perkCardDescription_"]:after{
	display: block;
    text-indent: 0;
}
#discord-nitro-tab [class*="settingsTextContainer_"] h2:after{
    content: "Discord Nitro";
	line-height: 1.059;
}
[class*="perkCard_"]:not(:nth-child(5), :nth-child(8)) [class*="perkCardDescription_"]:after{
	line-height: 1.286;
}
[class*="perkCard_"]:first-child [class*="perkCardDescription_"]:after{
    content: "Use custom emojis anywhere.";
}
[class*="perkCard_"]:nth-child(2) [class*="perkCardDescription_"]:after{
    content: "Stream apps and games in HD.";
}
[class*="perkCard_"]:nth-child(3) [class*="perkCardDescription_"]:after{
    content: "Upload up to 500 MB of files per message.";
}
[class*="perkCard_"]:nth-child(4) [class*="perkCardDescription_"]:after{
    content: "Select a custom mobile and in-app desktop icon.";
}
[class*="perkCard_"]:nth-child(6) [class*="perkCardDescription_"]:after{
    content: "Choose your own video call background.";
}
[class*="perkCard_"]:nth-child(7) [class*="perkCardDescription_"]:after{
    content: "Use unlimited Super Reactions in chats.";
}
[class*="perkCard_"]:last-child [class*="perkCardDescription_"]:after{
    content: "Earn an exclusive badge specific to Nitro subscribers.";
}
[class*="planComparisonTableContainer_"] [class*="titleText_"]:after{
    content: "Nitro Plans";
    line-height: 1.25;
}
/*---APPEARANCE---*/
/* PREVIEW */
#appearance-tab #message-content-0,
#message-content-1,
#message-content-2,
#message-content-3,
#message-content-4{
	line-height: 0;
    text-indent: -9999px;
}
#appearance-tab #message-content-0:after,
#message-content-1:after,
#message-content-2:after,
#message-content-3:after,
#message-content-4:after{
    display: block;
    line-height: 1.375;
    text-indent: 0;
}
#appearance-tab #message-content-0:after{
    content: "Alpha bravo charlie delta echo";
}
#message-content-1:after{
    content: "Foxtrot golf hotel india jackal kilo";
}
#message-content-1 [class*="emojiContainer_"] {
    display: none;
}
#message-content-2:after{
    content: "Lima mike november oscar papa";
}
#message-content-3:after{
    content: "Quebec razor sierra tango uniform";
}  
#message-content-4:after{
    content: "Victor whiskey x-ray yankee zulu";
}
/* MESSAGE DISPLAY */
#appearance-tab [class*="itemFilled_"] [class*="text-md/medium_"]{
    text-indent: -9999px;
    line-height: 0;
}
#appearance-tab [class*="itemFilled_"] [class*="text-md/medium_"]:after{
    display: block;
    text-indent: 0;
    line-height: 1.25;
}
#appearance-tab [class*="itemFilled_"]:first-child [class*="text-md/medium_"]:after{
    content: "Cozy (default): large avatars, usernames above messages.";
}
#appearance-tab [class*="itemFilled_"]:last-child [class*="text-md/medium_"]:after{
    content: "Compact: avatars optional, usernames adjacent to messages.";
}
/*-----CRASH PAGE-----*/
/* Originally has "Well, this is awkward" */
.title_a2a7b5{
    line-height: 0;
    text-indent: -9999px;
}
.title_a2a7b5:after{
    content: "Crash encountered";
	display: block;
	line-height: 8px;
	text-indent: 0;
}
.note_a2a7b5 p{
    font-size: 0;
}
.note_a2a7b5 p:before,
.note_a2a7b5 p:after{
	font-size: 16px;
}
.note_a2a7b5 p:before{
	display: block;
	font-weight: 700;
}
.note_a2a7b5 p:first-child:before{
    content: "Possible cause:";
}
.note_a2a7b5 p:first-child:after{
    content: "Plugins";
}
.note_a2a7b5 p:last-child:before{
    content: "Recommended course of action:";
}
.note_a2a7b5 p:last-child:after{
    content: "Access the terminal (CTRL + Shift + I or CMD + Alt + I) to diagnose the issue.";
}
/*-----TOP BAR-----*/
/*---PINNED MESSAGES---*/
/* Empty dropdown text */
[aria-label="Pinned Messages"] [class*="emptyPlaceholder_"] [class*="body_"]{
    line-height: 0;
    text-indent: -9999px;
    white-space: nowrap;
}
[aria-label="Pinned Messages"] [class*="emptyPlaceholder_"] [class*="body_"]:after{
    content: "No pinned messages.";
    display: block;
    line-height: 1.25;
    text-indent: 0;
}