/*-----FRIENDS PAGE-----*/
/*---EMPTY STATE---*/
[class*="peopleColumn_"] [class*="friendsEmpty_"] [class*="text_"]{
    line-height: 0;
    text-indent: -9999px;
}
[class*="peopleColumn_"] [class*="friendsEmpty_"] [class*="text_"]:after{
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
#online-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No friends currently online";
}
#all-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No friends added";
}
#pending-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No outgoing/incoming friend requests";
}
#blocked-tab [class*="friendsEmpty_"] [class*="text_"]:after{
    content:"No blocked users";
}
/*---NOW PLAYING COLUMN---*/
[class*="nowPlayingColumn_"] [class*="emptyCard_"] [class*="emptyText_"]{
    display: none;
}
[class*="nowPlayingColumn_"] [class*="emptyCard_"] [class*="emptyHeader_"]{
    line-height: 0;
    text-indent: -9999px;
}
[class*="nowPlayingColumn_"] [class*="emptyCard_"] [class*="emptyHeader_"]:after{
    content: "No one is currently active";
    display: block;
    line-height: 1.25;
    text-indent: 0;
}
/*-----MESSAGE AREA-----*/
/*---CHAT HEADER (NEW SERVERS)---*/
.subtitle_f9902b{
    line-height: 0;
    text-indent: -9999px;
}
.subtitle_f9902b:after{
    line-height: 1.2857142857142858;
    text-indent: 0;
    content: "Below are some steps to help personalize this server.";
    display: block;
}